[submodule "Sss.GvErlenacker/web-components-cms-template-gverlenacker"]
	path = Sss.GvErlenacker/web-components-cms-template-gverlenacker
	url = https://github.com/roli81/web-components-cms-template-gverlenacker.git
