<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f99092e-bd7a-4cbb-a83e-29bf0aba1010" Alias="businessSponsor" Level="3">
  <Info>
    <Name>Gewerblicher Gönner</Name>
    <Icon>icon-factory color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Datentyp um einen gewerblichen Gönner zu erfassen</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="277f6cb2-1856-4494-b9f4-dd4204acb1f5">sponsor</Parent>
    <Compositions>
      <Composition Key="277f6cb2-1856-4494-b9f4-dd4204acb1f5">sponsor</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>74e1a1f7-0532-4822-a136-9bc3e9f78678</Key>
      <Name>Firmen Name</Name>
      <Alias>factoryName</Alias>
      <Definition>054ebde9-e7bc-45ab-bd5b-a0f7aee1bc72</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Gewerblicher Sponsor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>9f37f936-908c-4ccd-9944-f9c2ef91cefd</Key>
      <Name>Premium Sponsor</Name>
      <Alias>isPremiumSponsor</Alias>
      <Definition>ac50ddc8-08e2-4f75-98b8-2d4a0a12605e</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wird auf der ganzen Website als Hauptsponsor behandelt]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Gewerblicher Sponsor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>107c5a6f-3398-41aa-b749-008c5bdd2ce4</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>0e443fed-c92b-4f15-914d-ebc05f3b0524</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Gewerblicher Sponsor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>a8865453-4265-4347-91ec-70867e34ed05</Key>
      <Name>Website</Name>
      <Alias>website</Alias>
      <Definition>98290269-84d6-4f08-90fb-bb058db4bd1e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Gewerblicher Sponsor</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage>Bitte eine gültige Internetadresse eingeben!</ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Gewerblicher Sponsor</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>