<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3426ff9f-b5a4-448e-a23c-a3471ed40f80" Alias="carouselModule" Level="2">
  <Info>
    <Name>CarouselModule</Name>
    <Icon>icon-playing-cards color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Modules</Folder>
    <Compositions>
      <Composition Key="08153f69-fe87-4368-ade8-8f2ff0d916d5">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>