<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="77af8e23-f61e-47b3-b7b5-78e62526bc41" Alias="configFolder" Level="2">
  <Info>
    <Name>Config Folder</Name>
    <Icon>icon-folders color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1d4d8326-d7e2-43b0-b67c-88f00f2c92e9" SortOrder="0">headerConfig</ContentType>
    <ContentType Key="a28d0f37-cdd7-4fd7-a7db-255c0ac65f24" SortOrder="1">footerConfig</ContentType>
    <ContentType Key="621d5ea8-42d4-4f06-9707-d5fbc79f0e84" SortOrder="2">seoConfig</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>