<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4712af4f-47bb-4184-932b-71af80484ea8" Alias="documentList" Level="2">
  <Info>
    <Name>Document List</Name>
    <Icon>icon-list color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>DocumentList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1f7a8584-3aa1-4a8a-a77e-584ede530c1b">DocumentList</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>