<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b91f8a6-9f9f-4520-a2b1-4bdd6d009ae6" Alias="eventList" Level="2">
  <Info>
    <Name>Event List</Name>
    <Icon>icon-calendar-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>EventList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="52d77d32-aa92-416f-bc25-bc65c7dcf99e">EventList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b2f948f4-e836-401b-afc5-4f1fcb59e2ed" SortOrder="0">event</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>