<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a28d0f37-cdd7-4fd7-a7db-255c0ac65f24" Alias="footerConfig" Level="2">
  <Info>
    <Name>Footer Konfiguration</Name>
    <Icon>icon-arrow-down color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f5910978-e08c-4aa4-a00a-3da55da96255" SortOrder="0">link</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7fdc9c80-f0f8-4215-a0c4-5dff4c7c14e0</Key>
      <Name>LinkListTitle</Name>
      <Alias>linkListTitle</Alias>
      <Definition>aa023dd7-0589-4df6-b1a6-1c07b31d9f99</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="Footer Konfiguration">Footer Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4660753-b00f-4e37-b5f8-4739d6473384</Key>
      <Name>PremiumSponsorTitle</Name>
      <Alias>premiumSponsorTitle</Alias>
      <Definition>efa6fd2d-8599-472a-9e64-ab491384b034</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Footer Konfiguration">Footer Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Footer Konfiguration</Caption>
      <SortOrder>0</SortOrder>
      <Alias>Footer Konfiguration</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>