<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c626c5fe-d3e4-4916-84a5-031f9b092388" Alias="formPage" Level="2">
  <Info>
    <Name>Form Page</Name>
    <Icon>icon-edit color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>FormPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b6dbe9e5-d910-4dc9-9bb6-5a7cb19d4b2d">ContactFormPage</Template>
      <Template Key="c3e8a55c-7245-4c59-820d-bac9323876e9">FormPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1b5f3ece-14b0-4801-98e1-09b92f7da0f2" SortOrder="0">newspage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>97922922-d48b-4544-98bd-3c3309e9a5bd</Key>
      <Name>labelCompany</Name>
      <Alias>labelCompany</Alias>
      <Definition>a6ec6317-7f8f-4ac4-ab6b-c7178c6553b0</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f81c58e-9160-460f-9d48-00b7e44cb612</Key>
      <Name>labelEmail</Name>
      <Alias>labelEmail</Alias>
      <Definition>5ad37151-f93e-4de0-92dd-9a195d6f5af8</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>923a6288-1638-4757-8ac5-e6dfbfc89f9d</Key>
      <Name>labelFirstname</Name>
      <Alias>labelFirstname</Alias>
      <Definition>1ee57442-54ba-4722-ac9a-37681d6423c6</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2720be94-ccce-4491-a5ac-fa9fe346dec3</Key>
      <Name>labelLogo</Name>
      <Alias>labelLogo</Alias>
      <Definition>a5b41bbc-61eb-4609-bc71-d84e8487f9fb</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ccfc4753-2565-4ab5-bb61-b8f72ad38a8a</Key>
      <Name>LabelName</Name>
      <Alias>labelName</Alias>
      <Definition>3073edcf-7073-4d8c-952b-af0a88605a68</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c4eb7459-7bc5-486d-88db-0363a78501b6</Key>
      <Name>labelPhone</Name>
      <Alias>labelPhone</Alias>
      <Definition>f5981d10-7438-4ab2-8a90-dc3f789dc0a5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a143c264-9c36-4870-a753-26df30f8b7ea</Key>
      <Name>LabelSalutation</Name>
      <Alias>labelSalutation</Alias>
      <Definition>f252d1a3-9fba-437e-82c9-a6da1fea5217</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d106d605-c328-4d41-ace2-88a0c4cd03b4</Key>
      <Name>labelStreet</Name>
      <Alias>labelStreet</Alias>
      <Definition>783ed049-7695-4e2e-87e0-258e068aacfa</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>108a6134-091f-4b01-a00e-346560a736b6</Key>
      <Name>labelType</Name>
      <Alias>labelType</Alias>
      <Definition>10a6cf23-603a-4ca5-aad1-c78bcbbd3818</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>77194aad-fd8a-4748-81a1-d8b255fd4cff</Key>
      <Name>labelWebsite</Name>
      <Alias>labelWebsite</Alias>
      <Definition>e234be9a-53fb-4025-aef7-7b8dd49c0a16</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>47f01a9d-f27d-46fc-8c29-94e5236d0462</Key>
      <Name>labelZipCity</Name>
      <Alias>labelZipCity</Alias>
      <Definition>3a0df1dc-ac7f-40b1-b998-55de420ce9c3</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Form Labels</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb2d0c07-bef0-4f7d-a878-a5a154ef2aac</Key>
      <Name>PageContent</Name>
      <Alias>pageContent</Alias>
      <Definition>6b5c57d4-f8fb-4832-94b9-f089c9b574d9</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Seiteninhalt</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Seiteninhalt</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Form Labels</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>