<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c157e58d-50f6-450b-8c7f-bcc66704ae6e" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="97a6ce04-8698-4e56-ba14-da9db4a3cf3e">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8" SortOrder="0">basePage</ContentType>
    <ContentType Key="1b5f3ece-14b0-4801-98e1-09b92f7da0f2" SortOrder="1">newspage</ContentType>
    <ContentType Key="312e034b-3bb7-4ac1-aa7f-95d504afaf15" SortOrder="2">sponsorPage</ContentType>
    <ContentType Key="47819c85-cbe7-430c-9d1f-ce13860aaffd" SortOrder="3">sectionPage</ContentType>
    <ContentType Key="0107c651-ec26-462b-b945-e0be9f4b13bf" SortOrder="4">xmlSiteMap</ContentType>
    <ContentType Key="c626c5fe-d3e4-4916-84a5-031f9b092388" SortOrder="5">formPage</ContentType>
    <ContentType Key="5a58eabe-671a-4e74-b788-34fff9cc65db" SortOrder="6">searchResultPage</ContentType>
    <ContentType Key="4712af4f-47bb-4184-932b-71af80484ea8" SortOrder="7">documentList</ContentType>
    <ContentType Key="8b91f8a6-9f9f-4520-a2b1-4bdd6d009ae6" SortOrder="8">eventList</ContentType>
    <ContentType Key="b47db1e1-3394-4442-aaae-88a6c0f147ae" SortOrder="9">blog</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>13ba2061-2c9b-4771-88cb-b1dff8b3bb51</Key>
      <Name>Hauptinhalt der Home-Seite</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>HomePage</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>HomePage</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>