<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5910978-e08c-4aa4-a00a-3da55da96255" Alias="link" Level="2">
  <Info>
    <Name>Link</Name>
    <Icon>icon-link color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Data+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1ff3f54-81c0-45ba-9629-fab4edf6a04c</Key>
      <Name>LinkText</Name>
      <Alias>linkText</Alias>
      <Definition>53f676d6-86d0-4c7d-bbcf-eb25d7c3c11f</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>885d703c-1484-488a-9c1d-3df16a361f09</Key>
      <Name>LinkUrl</Name>
      <Alias>linkUrl</Alias>
      <Definition>ca3577e9-fb0d-442c-a94b-3d545380bb86</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>6b4c7ade-9b3d-40ec-a859-c860d9922566</Key>
      <Name>OpenInNewWindow</Name>
      <Alias>openInNewWindow</Alias>
      <Definition>8d574428-43f2-42d0-925f-49e59850c5da</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Link</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Link</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>