<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cf53ddf2-34b6-455b-8094-86aad8bfc7a8" Alias="mailConfigFolder" Level="2">
  <Info>
    <Name>MailConfigFolder</Name>
    <Icon>icon-folders color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="423d5e61-972a-4929-9921-2962e17faed0" SortOrder="0">emailConfiguration</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>