<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="51195126-91de-4ea6-b460-8438b55936d7" Alias="memberboard" Level="2">
  <Info>
    <Name>Memberboard</Name>
    <Icon>icon-addressbook color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>Memberboard</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c4c294c6-7ae9-4e36-b33e-7287c6e32dbe">Memberboard</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e43bf123-66b5-4bae-8ef6-b70f42fcd401</Key>
      <Name>BoardMembers</Name>
      <Alias>boardMembers</Alias>
      <Definition>f9cd2bc6-23da-4583-9537-879b8108a0b1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Board Members</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Board Members</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>