<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ca742fa0-c9b6-45d8-90f7-9f6fb8bd3fd9" Alias="newsletterModule" Level="2">
  <Info>
    <Name>Newsletter Modul</Name>
    <Icon>icon-newspaper-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Modules</Folder>
    <Compositions>
      <Composition Key="08153f69-fe87-4368-ade8-8f2ff0d916d5">module</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>65139e47-5564-49c7-afe2-50eab0d8b40a</Key>
      <Name>Empfänger</Name>
      <Alias>subscribers</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="Moduldaten">Moduldaten</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Moduldaten</Caption>
      <SortOrder>1</SortOrder>
      <Alias>Moduldaten</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>