<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b5f3ece-14b0-4801-98e1-09b92f7da0f2" Alias="newspage" Level="2">
  <Info>
    <Name>Newspage</Name>
    <Icon>icon-newspaper color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>Newspage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1b5f3ece-14b0-4801-98e1-09b92f7da0f2" SortOrder="0">newspage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b03c7f5e-56d7-4df3-a9c0-8585d8aef2ec</Key>
      <Name>Seiteninhalt</Name>
      <Alias>content</Alias>
      <Definition>a292bfa7-6920-4c73-a8dd-ef6376818032</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hauptinhalt der Seite]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>News Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89d1b21e-dff3-43e3-9334-940427a1e42f</Key>
      <Name>Documents</Name>
      <Alias>documents</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>News Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78d18291-0a25-4516-8a9a-acb7cec20ee1</Key>
      <Name>Bilderkarussell</Name>
      <Alias>images</Alias>
      <Definition>63166429-de97-47c7-8318-104b915e0a98</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bilderkarussell im oberen Bereich der Seite]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>News Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7eb50ab0-e501-437d-a605-8e7f876b9b3f</Key>
      <Name>Modules</Name>
      <Alias>modules</Alias>
      <Definition>d0ba7fff-1f40-41e1-b8fb-fe0f75b1c1d3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>News Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e40db865-d9fd-43ef-bd91-1d5f8ce06d63</Key>
      <Name>releaseDate</Name>
      <Alias>releaseDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>News Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1fcb3b9a-a988-42f8-aaf0-ffae053d30bf</Key>
      <Name>Show on Startpage</Name>
      <Alias>showOnStartpage</Alias>
      <Definition>ab008a88-017b-4b48-bc1d-60cd5ed87ed0</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Base Bage</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Base Bage</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>News Page</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>