<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aed0971f-7f05-4b95-81fd-5b9a8120c434" Alias="newsletter" Level="2">
  <Info>
    <Name>Newsletter</Name>
    <Icon>icon-article color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e5c1f15a-681c-4298-98a2-c97bd6c36f3b" SortOrder="0">newsletterUser</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>