<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f2a8419-5d5c-45fd-b276-fee54a007162" Alias="newsletter" Level="2">
  <Info>
    <Name>Newsletter</Name>
    <Icon>icon-newspaper color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e5c1f15a-681c-4298-98a2-c97bd6c36f3b" SortOrder="0">newsletterUser</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>