<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="47819c85-cbe7-430c-9d1f-ce13860aaffd" Alias="sectionPage" Level="2">
  <Info>
    <Name>SectionPage</Name>
    <Icon>icon-section color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>SectionPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="85afddc6-a04f-4507-8662-62cc09a45b01">SectionPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1b5f3ece-14b0-4801-98e1-09b92f7da0f2" SortOrder="0">newspage</ContentType>
    <ContentType Key="c626c5fe-d3e4-4916-84a5-031f9b092388" SortOrder="1">formPage</ContentType>
    <ContentType Key="51195126-91de-4ea6-b460-8438b55936d7" SortOrder="2">memberboard</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>6acf3735-7d17-4780-995c-62b3aa8efa77</Key>
      <Name>Hauptinhalt der Übersichtsseite</Name>
      <Alias>mainContent</Alias>
      <Definition>6a2b7fae-60c8-4b44-98f5-d16745448b88</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Section Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Section Page</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>