<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="621d5ea8-42d4-4f06-9707-d5fbc79f0e84" Alias="seoConfig" Level="2">
  <Info>
    <Name>SeoConfig</Name>
    <Icon>icon-search color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Config+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>52e2e55a-5617-4b20-a0a3-0c2152492ed1</Key>
      <Name>metaDescription</Name>
      <Alias>metaDescription</Alias>
      <Definition>7d50bdbb-766c-41eb-ba28-89957ac212e0</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>SEO Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>b07d9273-5dc3-4426-8a45-615984653094</Key>
      <Name>metaKeywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>9a0aef2d-f261-4551-bb2f-0bc50b24bae2</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>SEO Konfiguration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO Konfiguration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>