<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="312e034b-3bb7-4ac1-aa7f-95d504afaf15" Alias="sponsorPage" Level="2">
  <Info>
    <Name>Sponsor Page</Name>
    <Icon>icon-users color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Parent>
    <Compositions>
      <Composition Key="428e4f4d-7588-4986-8e6f-3b97a83c97a8">basePage</Composition>
    </Compositions>
    <DefaultTemplate>SponsorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7070ba3a-5538-485a-8fc8-f8605aeba796">SponsorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="277f6cb2-1856-4494-b9f4-dd4204acb1f5" SortOrder="0">sponsor</ContentType>
    <ContentType Key="1f99092e-bd7a-4cbb-a83e-29bf0aba1010" SortOrder="1">businessSponsor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>