<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0107c651-ec26-462b-b945-e0be9f4b13bf" Alias="xmlSiteMap" Level="1">
  <Info>
    <Name>XmlSiteMap</Name>
    <Icon>icon-sitemap color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c420be13-bccd-48e2-971f-0045426cf55d</Key>
      <Name>Excluded Document Types</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>8fdd83c9-fcc0-4f74-a36f-68ac95a0ade2</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sitemap Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>