<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f013eca-8618-4e86-8011-c55d8720203f" Alias="10M Junioren 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MJunioren1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-26T09:36:23</CreateDate>
    <NodeName Default="10M Junioren 1" />
    <SortOrder>104</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zq5adhyy/10m-junioren-1.jpeg","focalPoint":{"left":0.51503759398496241,"top":0.27766013763896241},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>