<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccba225c-851e-4d3b-96ad-243d75905658" Alias="10M Junioren 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MJunioren3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-26T09:36:24</CreateDate>
    <NodeName Default="10M Junioren 3" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lirlvta4/10m-junioren-3.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>