<?xml version="1.0" encoding="utf-8"?>
<Media Key="37bb03bf-d32a-4e1e-843f-a82a7a2f0a94" Alias="10M Stehend" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MStehend</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-26T09:36:25</CreateDate>
    <NodeName Default="10M Stehend" />
    <SortOrder>108</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xeblwnzk/10m-stehend.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>