<?xml version="1.0" encoding="utf-8"?>
<Media Key="f85cf9ab-2ac4-4fed-97ad-de70c1503319" Alias="10m Armbrust Zielscheibe" Level="2">
  <Info>
    <Parent Key="b2119c5f-a4b1-4faf-bbff-d49c73b2e21f">10m Erlenacker</Parent>
    <Path>/mErlenacker/mArmbrustZielscheibe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-17T08:38:36</CreateDate>
    <NodeName Default="10m Armbrust Zielscheibe" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vx2fz4ge/2012-10-17_2290.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>