<?xml version="1.0" encoding="utf-8"?>
<Media Key="1249db8f-ff84-492b-b4bc-1a3bba9cfd66" Alias="5421EDA0 EF9F 4A2F 90C5 4167555C6E9C" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EDA0EF9F4A2F90C54167555C6E9C</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-11-02T12:47:47</CreateDate>
    <NodeName Default="5421EDA0 EF9F 4A2F 90C5 4167555C6E9C" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rhnfseue/5421eda0-ef9f-4a2f-90c5-4167555c6e9c.jpeg","focalPoint":{"left":0.52573529411764708,"top":0.40266666666666667},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>