<?xml version="1.0" encoding="utf-8"?>
<Media Key="841c6e16-d332-4f5d-a50c-f3f31f728d38" Alias="55F17a95 4E5e 4Aa7 Ab50 A9a5b4417d4f" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F17a954E5e4Aa7Ab50A9a5b4417d4f</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-13T17:30:18</CreateDate>
    <NodeName Default="55F17a95 4E5e 4Aa7 Ab50 A9a5b4417d4f" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cbxbzbbs/55f17a95-4e5e-4aa7-ab50-a9a5b4417d4f.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>