<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba18a2b1-0e62-4aa0-a595-ad8bbae8737d" Alias="Anzeiger 11.06.21" Level="2">
  <Info>
    <Parent Key="2a597e67-ea44-4fd5-950e-df10618b3f48">Presse</Parent>
    <Path>/Presse/Anzeiger110621</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-11T16:25:56</CreateDate>
    <NodeName Default="Anzeiger 11.06.21" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w4rbrotc/anzeiger-11-06-21.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>