<?xml version="1.0" encoding="utf-8"?>
<Media Key="10fb05fa-8b78-44c6-a734-a118c589f841" Alias="Armbrust 10m Stand, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Armbrust10mStandGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T22:27:02</CreateDate>
    <NodeName Default="Armbrust 10m Stand, Gv-Erlenacker" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5qcpwedy/2012-10-17_2290.jpg","focalPoint":{"left":0.46313048245614036,"top":0.59831871345029242},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>