<?xml version="1.0" encoding="utf-8"?>
<Media Key="8727a24e-7a9a-46fd-ad06-21be7f6687bc" Alias="Armbrust Buhwil-Neukirch, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/ArmbrustBuhwilNeukirchGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T22:28:36</CreateDate>
    <NodeName Default="Armbrust Buhwil-Neukirch, Gv-Erlenacker" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jcrcpb20/_dsc4022.jpg","focalPoint":{"left":0.43984962406015038,"top":0.49812030075187969},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>