<?xml version="1.0" encoding="utf-8"?>
<Media Key="da072fda-247c-42ed-8a59-c5c7d8a492a1" Alias="ASV Buhwil Neukirch" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ASVBuhwilNeukirch</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:32:29</CreateDate>
    <NodeName Default="ASV Buhwil Neukirch" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties />
</Media>