<?xml version="1.0" encoding="utf-8"?>
<Media Key="689cbfff-a6c1-4a34-abac-9559fa7ca417" Alias="ASV Neukirch Buhwil" Level="2">
  <Info>
    <Parent Key="cc6fe4ca-655e-4bb3-8baa-5863a78405cf">Partnervereine</Parent>
    <Path>/Partnervereine/ASVNeukirchBuhwil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-15T09:24:04</CreateDate>
    <NodeName Default="ASV Neukirch Buhwil" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/5g5jy0gb/asv-neukirch-buhwil.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>