<?xml version="1.0" encoding="utf-8"?>
<Media Key="225e4575-c37e-4cab-bd9d-03f611ddbcad" Alias="AVIA Tankkarte" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AVIATankkarte</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-09-19T10:26:17</CreateDate>
    <NodeName Default="AVIA Tankkarte" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties />
</Media>