<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6322e11-61b0-4235-93c6-e62aa8860b14" Alias="AVIA CARD" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AVIACARD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-19T16:01:52</CreateDate>
    <NodeName Default="AVIA CARD" />
    <SortOrder>99</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c2xdfnvq/avia-card.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>