<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7e283af-31b4-4cf7-ae22-5e3e2897e320" Alias="AVIA International Logo.Svg" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/AVIAInternationalLogoSvg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-19T10:18:19</CreateDate>
    <NodeName Default="AVIA International Logo.Svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vgbpfv3u/avia_international_logo-svg.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>