<?xml version="1.0" encoding="utf-8"?>
<Media Key="620fd19f-a2d2-4a51-881f-81a3163f063e" Alias="AVIA CARD" Level="2">
  <Info>
    <Parent Key="225e4575-c37e-4cab-bd9d-03f611ddbcad">AVIA Tankkarte</Parent>
    <Path>/AVIATankkarte/AVIACARD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-12-06T16:03:32</CreateDate>
    <NodeName Default="AVIA CARD" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/thib4yws/img_20211021_0002.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>