<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc6ca0ea-ace4-488b-b04d-f27a7760c95e" Alias="AVIA CARD (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AVIACARD1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-19T16:03:05</CreateDate>
    <NodeName Default="AVIA CARD (1)" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3sqgz5he/avia-card.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>