<?xml version="1.0" encoding="utf-8"?>
<Media Key="84371436-1eda-4ea3-9769-f604a6c90eb4" Alias="Besuch ARA Bischofszell 2018, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/BesuchARABischofszell2018GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T10:59:19</CreateDate>
    <NodeName Default="Besuch ARA Bischofszell 2018, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gakdpbg0/besuch-ara-bischofszell-2018.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>