<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9eee3ef-6a5c-44bb-8b60-870966686fd8" Alias="Bild Restaurant Klein Rigi" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/BildRestaurantKleinRigi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T10:17:45</CreateDate>
    <NodeName Default="Bild Restaurant Klein Rigi" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3hrp3kk2/bild-restaurant-klein-rigi.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>