<?xml version="1.0" encoding="utf-8"?>
<Media Key="11252702-5551-42c4-8ea1-9025abac89f8" Alias="Blogwebseite (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Blogwebseite1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-02T15:08:14</CreateDate>
    <NodeName Default="Blogwebseite (1)" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aqtdkekr/blogwebseite.png","focalPoint":{"left":0.50250626566416046,"top":0.5664643593813864},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>