<?xml version="1.0" encoding="utf-8"?>
<Media Key="53c1b7f7-8d67-4cb4-9500-70fbda9e1485" Alias="Blog 684748 1920" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Blog6847481920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-12T14:27:19</CreateDate>
    <NodeName Default="Blog 684748 1920" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4g1ncu1h/blog-684748_1920.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>