<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f0dc552-0539-4d3e-9b9b-bd69a4fc5b85" Alias="Coins 912278 1280" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Coins9122781280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-11T22:27:15</CreateDate>
    <NodeName Default="Coins 912278 1280" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ktcb0dzz/coins-912278_1280.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>