<?xml version="1.0" encoding="utf-8"?>
<Media Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5" Alias="Design" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-25T10:06:06</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>