<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5cdfe75-f386-4a2d-9bec-5b63284e294c" Alias="Details (1)" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/Details1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-03T15:38:19</CreateDate>
    <NodeName Default="Details (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/op5m1jmg/details.gif","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>