<?xml version="1.0" encoding="utf-8"?>
<Media Key="0730e297-3e93-404f-ade1-2653abe2516d" Alias="Diverse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Diverse</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:21:08</CreateDate>
    <NodeName Default="Diverse" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties />
</Media>