<?xml version="1.0" encoding="utf-8"?>
<Media Key="895007b7-1335-4b56-a8d8-c8ef02ff9f63" Alias="Dok2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dok2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T20:35:49</CreateDate>
    <NodeName Default="Dok2" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wedfbcjv/dok2.jpg","focalPoint":{"left":0.487468671679198,"top":0.46765869733461879},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>