<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0bf8501-80db-499d-ba19-b420c6726e2f" Alias="Dokumente" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dokumente</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-10-31T06:51:28</CreateDate>
    <NodeName Default="Dokumente" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>