<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1ac6367-2eb3-46ae-954e-970272cf15b4" Alias="DSC00165 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001651</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:42</CreateDate>
    <NodeName Default="DSC00165 1" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mfrlz2nt/dsc00165_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>