<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0cc88cb-8b3b-4936-b7ac-cb1f7801fe7d" Alias="DSC00159 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001591</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:35</CreateDate>
    <NodeName Default="DSC00159 1" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zwemzmb1/dsc00159_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>