<?xml version="1.0" encoding="utf-8"?>
<Media Key="70639912-b6e5-497f-8a9e-d4353cd66dc1" Alias="DSC00157" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00157</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:32</CreateDate>
    <NodeName Default="DSC00157" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/csmhg2hf/dsc00157.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>