<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd892b05-7a56-4fa2-a27b-aff85de244a8" Alias="DSC00169" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00169</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:43</CreateDate>
    <NodeName Default="DSC00169" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/amvjtxkw/dsc00169.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>