<?xml version="1.0" encoding="utf-8"?>
<Media Key="eec9b65d-ed71-424d-b129-7cae065ddc5e" Alias="DSC00137" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00137</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:14</CreateDate>
    <NodeName Default="DSC00137" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lo1mt1tr/dsc00137.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>