<?xml version="1.0" encoding="utf-8"?>
<Media Key="aecc131e-357b-4709-86de-f19cf3092bf8" Alias="DSC00183" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00183</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:05:02</CreateDate>
    <NodeName Default="DSC00183" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dajnzlt1/dsc00183.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>