<?xml version="1.0" encoding="utf-8"?>
<Media Key="36d2168c-ff0d-4087-987e-afe07d1b9adf" Alias="DSC00152" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00152</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:28</CreateDate>
    <NodeName Default="DSC00152" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rilnenqn/dsc00152.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>