<?xml version="1.0" encoding="utf-8"?>
<Media Key="02987b1a-ab38-4cb0-8529-bbcc429c8cd0" Alias="DSC00130 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001301</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:06</CreateDate>
    <NodeName Default="DSC00130 1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dr3jqary/dsc00130_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>