<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe779f45-b1da-4465-a3c7-6391ffd3385a" Alias="DSC01366 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DSC013662</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-02-16T20:35:52</CreateDate>
    <NodeName Default="DSC01366 (2)" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/iophp5w0/dsc01366-2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>