<?xml version="1.0" encoding="utf-8"?>
<Media Key="04370b73-b1f3-42e7-92a5-69eadddfe84b" Alias="DSC00141 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001411</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:19</CreateDate>
    <NodeName Default="DSC00141 1" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oufdobht/dsc00141_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>