<?xml version="1.0" encoding="utf-8"?>
<Media Key="a76729d0-4ead-4441-90f3-6da23f1bf471" Alias="DSC00181" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00181</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:58</CreateDate>
    <NodeName Default="DSC00181" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0yuhpj3n/dsc00181.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>