<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa98beac-f734-459b-87a0-2d36e432af30" Alias="DSC00129" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00129</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:04</CreateDate>
    <NodeName Default="DSC00129" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vk5jr4ru/dsc00129.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>