<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed9ea072-df07-4ed5-aa60-13f9b94d2a34" Alias="DSC00164 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001641</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:40</CreateDate>
    <NodeName Default="DSC00164 1" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/osqj31ih/dsc00164_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>