<?xml version="1.0" encoding="utf-8"?>
<Media Key="59f1c8ec-3bc9-41b6-bf1a-45d545c692f1" Alias="DSC00161" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00161</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:36</CreateDate>
    <NodeName Default="DSC00161" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3lepcwoj/dsc00161.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>