<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5753d79-0040-4cb5-b782-49f4e3656424" Alias="DSC00144 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001441</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:22</CreateDate>
    <NodeName Default="DSC00144 1" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/p24hlvka/dsc00144_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>