<?xml version="1.0" encoding="utf-8"?>
<Media Key="318e60b6-a71a-4da0-89b3-56df0d3355e2" Alias="DSC00163 1" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC001631</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:39</CreateDate>
    <NodeName Default="DSC00163 1" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wbqi2mi0/dsc00163_1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>