<?xml version="1.0" encoding="utf-8"?>
<Media Key="c80b822e-9def-4cf0-bf81-6e5394cdd5a4" Alias="DSC00178" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00178</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:55</CreateDate>
    <NodeName Default="DSC00178" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fcbaxshp/dsc00178.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>