<?xml version="1.0" encoding="utf-8"?>
<Media Key="c79d6625-b86f-4b0e-8447-f2e4ea35bdf3" Alias="DSC00177" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00177</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:54</CreateDate>
    <NodeName Default="DSC00177" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/entj1r1p/dsc00177.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>