<?xml version="1.0" encoding="utf-8"?>
<Media Key="a57e7a42-171f-4054-a659-7d4b12b4daf5" Alias="DSC00138" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00138</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:15</CreateDate>
    <NodeName Default="DSC00138" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ir3h3ji5/dsc00138.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>