<?xml version="1.0" encoding="utf-8"?>
<Media Key="e918aa77-9020-4817-a6c1-15516d391dd3" Alias="DSC00150" Level="3">
  <Info>
    <Parent Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9">Ferienpass 2017</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017/DSC00150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T20:04:26</CreateDate>
    <NodeName Default="DSC00150" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ogvbr0ja/dsc00150.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>