<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cd1ca6d-e6fe-48d7-916b-bd3bf0848d96" Alias="EASV NAWU, 30M 2021 Rangliste" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/EASVNAWU30M2021Rangliste</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-07-26T21:30:17</CreateDate>
    <NodeName Default="EASV NAWU, 30M 2021 Rangliste" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxfnchh4/easv_nawu_verbaaendefinal_30m_2021_rangliste.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>