<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ff8abf9-1c23-4f81-a1a4-5044af1ed08c" Alias="Emmental Cheese 3507 640" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/EmmentalCheese3507640</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-30T14:36:01</CreateDate>
    <NodeName Default="Emmental Cheese 3507 640" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/54vpqlzd/emmental-cheese-3507_640.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>