<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3ab4908-fa3b-4ba1-a403-d047b94fbe0e" Alias="Ergebnisse der 14. Generalversammlung 2021" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/ErgebnisseDer14Generalversammlung2021</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-06-08T20:24:40</CreateDate>
    <NodeName Default="Ergebnisse der 14. Generalversammlung 2021" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cbelxiz1/protokoll-gv-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>