<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecc3a14d-99ea-4453-b4b7-ca956bad8f81" Alias="Ferienspass 2021/6" Level="3">
  <Info>
    <Parent Key="d3855c2e-6de3-48b6-81e5-60c7f57497c3">Ferienspass</Parent>
    <Path>/VeranstaltungErlenacker/Ferienspass/Ferienspass20216</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-22T13:38:01</CreateDate>
    <NodeName Default="Ferienspass 2021/6" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/joqnh1hk/img_9312.jpg","focalPoint":{"left":0.49874686716791977,"top":0.37969924812030076},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>