<?xml version="1.0" encoding="utf-8"?>
<Media Key="57833215-a0e3-4a97-b5aa-c53082431baa" Alias="Ferienpass 2017.3" Level="3">
  <Info>
    <Parent Key="d3855c2e-6de3-48b6-81e5-60c7f57497c3">Ferienspass</Parent>
    <Path>/VeranstaltungErlenacker/Ferienspass/Ferienpass20173</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-18T08:07:01</CreateDate>
    <NodeName Default="Ferienpass 2017.3" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/cmzigv5d/dsc00160_1.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>