<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3855c2e-6de3-48b6-81e5-60c7f57497c3" Alias="Ferienspass" Level="2">
  <Info>
    <Parent Key="64aa4da2-c2e5-48e9-bf35-397ec9d23855">Veranstaltung Erlenacker</Parent>
    <Path>/VeranstaltungErlenacker/Ferienspass</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-10-30T14:26:01</CreateDate>
    <NodeName Default="Ferienspass" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>