<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5541cb9-89cb-4abe-98f7-509a5f9d831d" Alias="Ferienspass 2021/7" Level="3">
  <Info>
    <Parent Key="d3855c2e-6de3-48b6-81e5-60c7f57497c3">Ferienspass</Parent>
    <Path>/VeranstaltungErlenacker/Ferienspass/Ferienspass20217</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-22T13:38:03</CreateDate>
    <NodeName Default="Ferienspass 2021/7" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/x2ofjjol/img_9314.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>