<?xml version="1.0" encoding="utf-8"?>
<Media Key="3853c888-98b8-4b7c-ab7c-b2680f5b59fc" Alias="Ferienspass" Level="3">
  <Info>
    <Parent Key="d3855c2e-6de3-48b6-81e5-60c7f57497c3">Ferienspass</Parent>
    <Path>/VeranstaltungErlenacker/Ferienspass/Ferienspass</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-17T09:10:10</CreateDate>
    <NodeName Default="Ferienspass" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/r1efgofy/ferienspass.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>