<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3cd32c7-7d57-4372-8f7f-4cbbf7735aa9" Alias="Ferienpass 2017" Level="2">
  <Info>
    <Parent Key="d8cb7e80-11a9-43e4-a908-b97d16ee694f">Schützennachwuchs</Parent>
    <Path>/Schutzennachwuchs/Ferienpass2017</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-07-01T20:03:59</CreateDate>
    <NodeName Default="Ferienpass 2017" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>