<?xml version="1.0" encoding="utf-8"?>
<Media Key="103347a7-1379-41a1-b3f8-3fd1e3909102" Alias="FerienSpass 1" Level="3">
  <Info>
    <Parent Key="d3855c2e-6de3-48b6-81e5-60c7f57497c3">Ferienspass</Parent>
    <Path>/VeranstaltungErlenacker/Ferienspass/FerienSpass1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-09-18T08:01:53</CreateDate>
    <NodeName Default="FerienSpass 1" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ufddgedz/dsc00183_1.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>