<?xml version="1.0" encoding="utf-8"?>
<Media Key="2080bdb0-eae7-47be-a445-5243c534d4b3" Alias="Gerber Logo" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/GerberLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-04T17:50:04</CreateDate>
    <NodeName Default="Gerber Logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w04jaihh/gerber-logo.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>