<?xml version="1.0" encoding="utf-8"?>
<Media Key="24982edc-8e63-4922-b42f-e71d0db59494" Alias="Gerber Martin" Level="2">
  <Info>
    <Parent Key="59064acc-8414-4c39-b85d-e7bd585223ac">Vorstand</Parent>
    <Path>/Vorstand/GerberMartin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-06-08T20:52:42</CreateDate>
    <NodeName Default="Gerber Martin" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1ixjqjdd/img_2524.jpg","focalPoint":{"left":0.47333333333333333,"top":0.40721675546633834},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>