<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdd96dd8-7ca2-4df2-99e6-d7b63e61a35d" Alias="Gestaltung Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GestaltungHomepage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:25:34</CreateDate>
    <NodeName Default="Gestaltung Homepage" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties />
</Media>