<?xml version="1.0" encoding="utf-8"?>
<Media Key="03de4a02-0d56-4acf-8535-fb6693626fbc" Alias="GM G10 U21 U19 (1)" Level="2">
  <Info>
    <Parent Key="b2119c5f-a4b1-4faf-bbff-d49c73b2e21f">10m Erlenacker</Parent>
    <Path>/mErlenacker/GMG10U21U191</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-02T12:21:44</CreateDate>
    <NodeName Default="GM G10 U21 U19 (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/arfn2a0w/gm-g10-u21-u19.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>