<?xml version="1.0" encoding="utf-8"?>
<Media Key="b598fdd1-98c0-4e57-ae92-9bce6959e151" Alias="GM G10 U17 U15 U13 (1)" Level="2">
  <Info>
    <Parent Key="b2119c5f-a4b1-4faf-bbff-d49c73b2e21f">10m Erlenacker</Parent>
    <Path>/mErlenacker/GMG10U17U15U131</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-02T12:20:49</CreateDate>
    <NodeName Default="GM G10 U17 U15 U13 (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/054jrnoa/gm-g10-u17-u15-u13.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>