<?xml version="1.0" encoding="utf-8"?>
<Media Key="613265cf-e2ac-40b7-8194-2e2e12f94fe4" Alias="GV Adventszeit" Level="2">
  <Info>
    <Parent Key="cdd96dd8-7ca2-4df2-99e6-d7b63e61a35d">Gestaltung Homepage</Parent>
    <Path>/GestaltungHomepage/GVAdventszeit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-11-27T19:12:38</CreateDate>
    <NodeName Default="GV Adventszeit" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zfsdeynm/gv-adventszeit.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>