<?xml version="1.0" encoding="utf-8"?>
<Media Key="874e7f96-8850-40fd-bdb2-4eb4caee7b35" Alias="Gv-Erlenacker, Weihnachten Transparent" Level="2">
  <Info>
    <Parent Key="cdd96dd8-7ca2-4df2-99e6-d7b63e61a35d">Gestaltung Homepage</Parent>
    <Path>/GestaltungHomepage/GvErlenackerWeihnachtenTransparent</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-19T11:01:20</CreateDate>
    <NodeName Default="Gv-Erlenacker, Weihnachten Transparent" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/sb5f3b0q/gv-weihnachten_transparent.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>