<?xml version="1.0" encoding="utf-8"?>
<Media Key="02830519-a9d9-4c1d-8c2d-fddb5996b273" Alias="Gönnervereinigung Erlenacker Tankkarte" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/GonnervereinigungErlenackerTankkarte</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-09-19T10:20:39</CreateDate>
    <NodeName Default="Gönnervereinigung Erlenacker Tankkarte" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aecjgawz/display-gönnervereinigung-erlenacker2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>