<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e8cc25f-940f-4373-a749-e8aefd498150" Alias="Hammer 719066 960 720" Level="2">
  <Info>
    <Parent Key="0730e297-3e93-404f-ade1-2653abe2516d">Diverse</Parent>
    <Path>/Diverse/Hammer719066960720</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-04T14:40:42</CreateDate>
    <NodeName Default="Hammer 719066 960 720" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lhbiyhqp/hammer-719066_960_720.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>