<?xml version="1.0" encoding="utf-8"?>
<Media Key="78173e0d-e4da-4f84-a2f3-d2f5957e79fe" Alias="Hands 3343733 960 720" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Hands3343733960720</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-11T22:39:51</CreateDate>
    <NodeName Default="Hands 3343733 960 720" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bm5bo4g0/hands-3343733_960_720.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>