<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5194239-f2e3-4db5-8612-405aff845514" Alias="Header1" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Header1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-25T11:32:18</CreateDate>
    <NodeName Default="Header1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/h3bbtnpd/header1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>