<?xml version="1.0" encoding="utf-8"?>
<Media Key="40a6bd76-24a0-48af-ba7f-08f16161864c" Alias="Header" Level="2">
  <Info>
    <Parent Key="0730e297-3e93-404f-ade1-2653abe2516d">Diverse</Parent>
    <Path>/Diverse/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-02T15:53:02</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oc4lmqfa/header.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>