<?xml version="1.0" encoding="utf-8"?>
<Media Key="74e6f924-33a1-439b-b9e9-bac7a85cb314" Alias="Home2" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/Home2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-30T14:16:52</CreateDate>
    <NodeName Default="Home2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/el2pm3fb/home2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>