<?xml version="1.0" encoding="utf-8"?>
<Media Key="eef4ef2f-ce89-4c93-951a-6d51050f6ce5" Alias="IMG 0758" Level="2">
  <Info>
    <Parent Key="0c7cca83-1ed7-4f3a-ae15-339dae303937">News</Parent>
    <Path>/News/IMG0758</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-29T20:19:01</CreateDate>
    <NodeName Default="IMG 0758" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fhxpj1uj/img_0758.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>