<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9562269-dfc9-4445-aee2-91629ebe92e5" Alias="IMG 9489 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG94891</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-13T17:47:46</CreateDate>
    <NodeName Default="IMG 9489 (1)" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/n2rfn4oj/img_9489.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>