<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1f22445-326f-4a03-9d95-c7507f09be94" Alias="IMG 9489 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG94892</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-13T18:36:42</CreateDate>
    <NodeName Default="IMG 9489 (2)" />
    <SortOrder>118</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/imspfmlp/img_9489.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>