<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0bc5951-73f3-4341-a701-a8d8f6a4c262" Alias="IMG 9480" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG9480</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-13T16:57:03</CreateDate>
    <NodeName Default="IMG 9480" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k3mlzyht/img_9480.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>