<?xml version="1.0" encoding="utf-8"?>
<Media Key="1043921b-b334-4ae2-ab62-3ba4f1c6e113" Alias="IMG 9487" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG9487</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-13T16:57:05</CreateDate>
    <NodeName Default="IMG 9487" />
    <SortOrder>112</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dwjegebu/img_9487.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>