<?xml version="1.0" encoding="utf-8"?>
<Media Key="00eea93c-63f4-4b5e-a66e-e7d08cedd84d" Alias="IMG_1714.jpg" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/IMG_1714Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-17T09:21:29</CreateDate>
    <NodeName Default="IMG_1714.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hkup2ahu/img_1714.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>