<?xml version="1.0" encoding="utf-8"?>
<Media Key="381ecb28-242f-477e-b5b3-8bb0522b619d" Alias="Jahresbericht 2018, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="fb9f55af-9dd5-49ab-8253-6a412dad003a">Jahresversammlung</Parent>
    <Path>/Dokumente/Jahresversammlung/Jahresbericht2018GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-01T17:55:50</CreateDate>
    <NodeName Default="Jahresbericht 2018, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gdfb2obp/jahresbericht2-2018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>