<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca03091b-6785-44ba-95bd-a6302bf014c0" Alias="Jahresversammlung 2020, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/Jahresversammlung2020GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T11:29:11</CreateDate>
    <NodeName Default="Jahresversammlung 2020, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/duebhsuf/jahresversammlung-2020.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>