<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb9f55af-9dd5-49ab-8253-6a412dad003a" Alias="Jahresversammlung" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/Jahresversammlung</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-11-28T09:13:58</CreateDate>
    <NodeName Default="Jahresversammlung" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>