<?xml version="1.0" encoding="utf-8"?>
<Media Key="458f2f4a-5da5-47fa-a612-f9b3e0640f44" Alias="Jahresversammlung 2018, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/Jahresversammlung2018GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T11:47:58</CreateDate>
    <NodeName Default="Jahresversammlung 2018, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jqxj4rnf/jahresversammlung-2018.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>