<?xml version="1.0" encoding="utf-8"?>
<Media Key="c047a62d-cc3d-416b-9b68-430b2100e098" Alias="Jahresbericht 2019, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="fb9f55af-9dd5-49ab-8253-6a412dad003a">Jahresversammlung</Parent>
    <Path>/Dokumente/Jahresversammlung/Jahresbericht2019GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-12-01T17:56:24</CreateDate>
    <NodeName Default="Jahresbericht 2019, Gv-Erlenacker" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gwtepqb3/jahresbericht2-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>