<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbe61533-8543-4c23-bb1a-37f729230ce6" Alias="Jahresversammlung 2019, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/Jahresversammlung2019GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T11:43:27</CreateDate>
    <NodeName Default="Jahresversammlung 2019, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gukpns0d/jahresversammlung-2019.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>