<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9bce3bf-4cfe-4d1e-98b9-542f5969fdb7" Alias="Jahresbericht 2020" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/Jahresbericht2020</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-06-08T20:24:39</CreateDate>
    <NodeName Default="Jahresbericht 2020" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u5rlzop4/jahresbericht-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>