<?xml version="1.0" encoding="utf-8"?>
<Media Key="61214b3e-e342-4132-977b-538c349bfb07" Alias="January 2290045 1920" Level="2">
  <Info>
    <Parent Key="0730e297-3e93-404f-ade1-2653abe2516d">Diverse</Parent>
    <Path>/Diverse/January22900451920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-04T14:52:08</CreateDate>
    <NodeName Default="January 2290045 1920" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/hbfdcykc/january-2290045_1920.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>