<?xml version="1.0" encoding="utf-8"?>
<Media Key="636cf930-d3d6-457a-836c-a461b34860fd" Alias="Jasmin Schönholzer, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="59064acc-8414-4c39-b85d-e7bd585223ac">Vorstand</Parent>
    <Path>/Vorstand/JasminSchonholzerGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T00:37:25</CreateDate>
    <NodeName Default="Jasmin Schönholzer, Gv-Erlenacker" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/g12hyy4w/img_9231.jpg","focalPoint":{"left":0.44666666666666666,"top":0.46},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>