<?xml version="1.0" encoding="utf-8"?>
<Media Key="40d4cc18-910a-417e-b502-fcc1a46f4c67" Alias="Jugendcup 21.1" Level="3">
  <Info>
    <Parent Key="41979703-cb08-4aef-8e7e-e5dd12f56c88">Jugendcup</Parent>
    <Path>/VeranstaltungErlenacker/Jugendcup/Jugendcup211</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-10-30T09:56:23</CreateDate>
    <NodeName Default="Jugendcup 21.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d1gniqak/img_9327.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>