<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcc386b7-fdfd-41de-bb73-256862ed9ac0" Alias="Jugendcup 2016, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="41979703-cb08-4aef-8e7e-e5dd12f56c88">Jugendcup</Parent>
    <Path>/VeranstaltungErlenacker/Jugendcup/Jugendcup2016GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-21T18:12:07</CreateDate>
    <NodeName Default="Jugendcup 2016, Gv-Erlenacker" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wgdmh5h3/jugendcup-2016.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>