<?xml version="1.0" encoding="utf-8"?>
<Media Key="41979703-cb08-4aef-8e7e-e5dd12f56c88" Alias="Jugendcup" Level="2">
  <Info>
    <Parent Key="64aa4da2-c2e5-48e9-bf35-397ec9d23855">Veranstaltung Erlenacker</Parent>
    <Path>/VeranstaltungErlenacker/Jugendcup</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-10-30T14:23:24</CreateDate>
    <NodeName Default="Jugendcup" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>