<?xml version="1.0" encoding="utf-8"?>
<Media Key="13293830-4114-40a5-b88e-d3a9fc9c3ea7" Alias="kaeserei-logo.png" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/kaesereiLogoPng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-17T09:15:36</CreateDate>
    <NodeName Default="kaeserei-logo.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gy2cseyu/kaeserei-logo.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>