<?xml version="1.0" encoding="utf-8"?>
<Media Key="da5017c9-d967-44c5-a810-7bc217c97f97" Alias="Keyboard 2453589 1920" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Keyboard24535891920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-15T09:12:02</CreateDate>
    <NodeName Default="Keyboard 2453589 1920" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/z2lfbwth/keyboard-2453589_1920.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>