<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8f7debf-02b6-4eff-a279-3b718484184d" Alias="King Penguin 384252 960 720" Level="2">
  <Info>
    <Parent Key="0730e297-3e93-404f-ade1-2653abe2516d">Diverse</Parent>
    <Path>/Diverse/KingPenguin384252960720</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-04T14:44:18</CreateDate>
    <NodeName Default="King Penguin 384252 960 720" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xhppp4fw/king-penguin-384252_960_720.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>