<?xml version="1.0" encoding="utf-8"?>
<Media Key="59d05106-0f36-43b2-b231-2e0b8e74ca86" Alias="Knaus" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/Knaus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-03T15:40:32</CreateDate>
    <NodeName Default="Knaus" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/abinawjw/knaus.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>