<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b5bd821-a571-4955-b79d-44261636710c" Alias="Knaus + Berchtold" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/KnausBerchtold</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-20T10:54:07</CreateDate>
    <NodeName Default="Knaus + Berchtold" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/e5mfwo1r/knaus-berchtold.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>