<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c0498f8-051d-4b36-ab11-fdaaa73693b7" Alias="Langenergiewerbeblache3" Level="2">
  <Info>
    <Parent Key="b2119c5f-a4b1-4faf-bbff-d49c73b2e21f">10m Erlenacker</Parent>
    <Path>/mErlenacker/Langenergiewerbeblache3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-01T11:27:33</CreateDate>
    <NodeName Default="Langenergiewerbeblache3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/50maipa3/langenergiewerbeblache3.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>