<?xml version="1.0" encoding="utf-8"?>
<Media Key="14425842-ad95-463b-ba6a-d49005fef6a4" Alias="Logo, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/LogoGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-25T10:06:33</CreateDate>
    <NodeName Default="Logo, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/irmeefev/erlenackernachwuchs_480.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>