<?xml version="1.0" encoding="utf-8"?>
<Media Key="cee71a00-ec3b-4498-8456-ba61052efe68" Alias="Logo sw, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/LogoSwGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-01T19:48:14</CreateDate>
    <NodeName Default="Logo sw, Gv-Erlenacker" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/aynoptr1/gvea-logo-sw.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>