<?xml version="1.0" encoding="utf-8"?>
<Media Key="217250ec-d39f-4eb2-922b-ecd2658683fc" Alias="Luftgewehr Jungschützen, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/LuftgewehrJungschutzenGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T22:24:47</CreateDate>
    <NodeName Default="Luftgewehr Jungschützen, Gv-Erlenacker" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3jiheim5/dsc00193_1.jpg","focalPoint":{"left":0.445,"top":0.505},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>