<?xml version="1.0" encoding="utf-8"?>
<Media Key="44f089c0-0457-43dd-90b3-6b57af4f9fd7" Alias="Luftaufnahme.jpg" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/LuftaufnahmeJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-10-17T09:32:35</CreateDate>
    <NodeName Default="Luftaufnahme.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/y0eparcx/luftaufnahme.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>