<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eb614cf-f603-44c0-a2f7-104974faf75d" Alias="Luftgewehr, Gv-Erlenacker (1)" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/LuftgewehrGvErlenacker1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T22:28:10</CreateDate>
    <NodeName Default="Luftgewehr, Gv-Erlenacker (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zeklm1qd/2011-19-jul_0111.jpg","focalPoint":{"left":0.42731829573934837,"top":0.3993316624895572},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>