<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4fd099f-9aea-4276-9786-836d7fed7834" Alias="Medaillen, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/MedaillenGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T22:26:20</CreateDate>
    <NodeName Default="Medaillen, Gv-Erlenacker" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/teep1jhk/2012-02-05_1378.jpg","focalPoint":{"left":0.495,"top":0.56444444444444442},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>