<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff9310aa-d930-47f7-a82b-6d717021bb02" Alias="Metzgerei Blatter" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/MetzgereiBlatter</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-02T21:01:31</CreateDate>
    <NodeName Default="Metzgerei Blatter" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/vqijh5zq/copy-logo1.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>