<?xml version="1.0" encoding="utf-8"?>
<Media Key="99958fb2-6f96-4fbf-b17a-8daa6e77c0f9" Alias="Migros" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Migros</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:26:31</CreateDate>
    <NodeName Default="Migros" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties />
</Media>