<?xml version="1.0" encoding="utf-8"?>
<Media Key="88dfc3ca-49f0-4ed9-a562-cb271140e765" Alias="Munz Logo 110Px (1)" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/MunzLogo110Px1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-02T21:13:13</CreateDate>
    <NodeName Default="Munz Logo 110Px (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ztbn5chq/munz-logo_110px.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>