<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3fb5f37-aff7-4b5a-9649-7dffe04263a0" Alias="Munz Logo 110Px" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/MunzLogo110Px</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-02T21:10:35</CreateDate>
    <NodeName Default="Munz Logo 110Px" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gfppxu5x/munz-logo_110px.png","focalPoint":{"left":0.53479853479853479,"top":0.68181818181818177},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>