<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3014da5-7269-4306-bf2a-ea79c00d22f9" Alias="Nachwuchskurs 10M 2021" Level="2">
  <Info>
    <Parent Key="cc6fe4ca-655e-4bb3-8baa-5863a78405cf">Partnervereine</Parent>
    <Path>/Partnervereine/Nachwuchskurs10M2021</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-10-24T13:18:52</CreateDate>
    <NodeName Default="Nachwuchskurs 10M 2021" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xvgbdu1j/nachwuchskurs-10m-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>