<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0129c0f-aa0c-4759-9bee-4879afb2fd35" Alias="Natur (12)" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Natur12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-25T11:38:44</CreateDate>
    <NodeName Default="Natur (12)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bgobf2am/natur-12.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>