<?xml version="1.0" encoding="utf-8"?>
<Media Key="674032f7-2888-42ee-9274-59f98e6c8875" Alias="Natur (33)" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/Natur33</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-25T11:38:44</CreateDate>
    <NodeName Default="Natur (33)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4ezeaz2i/natur-33.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>