<?xml version="1.0" encoding="utf-8"?>
<Media Key="506147b3-0a15-496f-bde0-1d45d23d6fc7" Alias="Neuer Hauptsponsor 2017, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/NeuerHauptsponsor2017GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T10:42:58</CreateDate>
    <NodeName Default="Neuer Hauptsponsor 2017, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wvdhcuav/neuer-hauptsponsor-2017.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>