<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c7cca83-1ed7-4f3a-ae15-339dae303937" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-09-29T17:01:31</CreateDate>
    <NodeName Default="News" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>