<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ecf5e80-48bf-4cec-b6cb-75c53996dfb3" Alias="News 1172463 1920" Level="2">
  <Info>
    <Parent Key="0730e297-3e93-404f-ade1-2653abe2516d">Diverse</Parent>
    <Path>/Diverse/News11724631920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-04T14:49:43</CreateDate>
    <NodeName Default="News 1172463 1920" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qzpm4lv5/news-1172463_1920.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>