<?xml version="1.0" encoding="utf-8"?>
<Media Key="37c31d4c-9220-4b1f-b6a9-6bfea9d175ff" Alias="Ostschweizer Jugendtag Wil 2022" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OstschweizerJugendtagWil2022</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-03-13T16:57:07</CreateDate>
    <NodeName Default="Ostschweizer Jugendtag Wil 2022" />
    <SortOrder>114</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jiongnza/img_9499.jpg","focalPoint":{"left":0.50375939849624063,"top":0.31620718462823727},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>