<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc6fe4ca-655e-4bb3-8baa-5863a78405cf" Alias="Partnervereine" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partnervereine</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-11-12T20:16:42</CreateDate>
    <NodeName Default="Partnervereine" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>