<?xml version="1.0" encoding="utf-8"?>
<Media Key="d206117e-e6a1-4e2b-8568-730905af18fc" Alias="Phoca Thumb L Kleinrigi Inserat A5 Quer 1603" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/PhocaThumbLKleinrigiInseratA5Quer1603</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-02T21:04:31</CreateDate>
    <NodeName Default="Phoca Thumb L Kleinrigi Inserat A5 Quer 1603" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/paibnuvb/phoca_thumb_l_kleinrigi_inserat_a5-quer_1603.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>