<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ea8b276-467b-44e9-a486-9d23a075c63a" Alias="Phone 499991 1920" Level="2">
  <Info>
    <Parent Key="0730e297-3e93-404f-ade1-2653abe2516d">Diverse</Parent>
    <Path>/Diverse/Phone4999911920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-04T14:48:02</CreateDate>
    <NodeName Default="Phone 499991 1920" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oczkqlt1/phone-499991_1920.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>