<?xml version="1.0" encoding="utf-8"?>
<Media Key="bbb92b7f-e065-465d-afa5-2689e7c89705" Alias="Plakat Jugendcup2019" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/PlakatJugendcup2019</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2021-10-04T17:47:15</CreateDate>
    <NodeName Default="Plakat Jugendcup2019" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m2vlto1f/plakat-jugendcup2019.doc]]></Value>
    </umbracoFile>
  </Properties>
</Media>