<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a597e67-ea44-4fd5-950e-df10618b3f48" Alias="Presse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Presse</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:17:30</CreateDate>
    <NodeName Default="Presse" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties />
</Media>