<?xml version="1.0" encoding="utf-8"?>
<Media Key="25089cda-3226-4f83-b0e5-848a3c073769" Alias="Rangliste Jugendtag 10M 2022" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RanglisteJugendtag10M2022</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-03-13T18:32:52</CreateDate>
    <NodeName Default="Rangliste Jugendtag 10M 2022" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ykoaqjjg/rangliste-jugendtag-10m-2022.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>