<?xml version="1.0" encoding="utf-8"?>
<Media Key="a838c578-5df8-4cd4-82df-8cea8d8789c6" Alias="Rangliste Junioren Final Kniend 10M" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RanglisteJuniorenFinalKniend10M</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-02-26T09:27:16</CreateDate>
    <NodeName Default="Rangliste Junioren Final Kniend 10M" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mdcdrkhy/rangliste_junioren_final_kniend_10m.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>