<?xml version="1.0" encoding="utf-8"?>
<Media Key="d18ab8d0-dfb3-4879-9a44-a153e22d6cab" Alias="Rangliste Junioren Stehend Final 10M" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RanglisteJuniorenStehendFinal10M</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-02-26T09:27:16</CreateDate>
    <NodeName Default="Rangliste Junioren Stehend Final 10M" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zc2ivunt/rangliste_junioren_stehend_final_10m.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>