<?xml version="1.0" encoding="utf-8"?>
<Media Key="c02ee24a-a107-45be-9512-3786a1f175de" Alias="Restaurant Klein Rigi Logo" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/RestaurantKleinRigiLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-28T10:18:48</CreateDate>
    <NodeName Default="Restaurant Klein Rigi Logo" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jtrc3qah/restaurant-klein-rigi-logo.jpg","focalPoint":{"left":0.5033333333333333,"top":0.38384350558113195},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>