<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca522772-74ab-4c1c-8169-06ed18c5c495" Alias="Restaurant Brüggli, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/RestaurantBruggliGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-15T16:43:03</CreateDate>
    <NodeName Default="Restaurant Brüggli, Gv-Erlenacker" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/oqtffsvl/restaurant-brüggli.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>