<?xml version="1.0" encoding="utf-8"?>
<Media Key="9da9571a-6a32-4f27-92c9-15db8785fac6" Alias="Restaurant generic" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/RestaurantGeneric</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-09-30T13:48:00</CreateDate>
    <NodeName Default="Restaurant generic" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/drllthjs/restaurant-449952_640.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>