<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc4e8b23-1973-4dfd-853a-fba2761acd25" Alias="Restaurant Klein Rigi, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/RestaurantKleinRigiGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T10:42:25</CreateDate>
    <NodeName Default="Restaurant Klein Rigi, Gv-Erlenacker" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ewff3xdt/restaurant-klein-rigi.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>