<?xml version="1.0" encoding="utf-8"?>
<Media Key="83fd6dec-17d2-4c0d-97c1-4e4979316c5d" Alias="Resultat Gm U17 U15 U13" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/ResultatGmU17U15U13</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2022-01-02T12:17:36</CreateDate>
    <NodeName Default="Resultat Gm U17 U15 U13" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rwp1a4s/resultat-gm-u17-u15-u13.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>