<?xml version="1.0" encoding="utf-8"?>
<Media Key="959b5812-a4b4-49e8-80ae-5c52f7396ef8" Alias="Schützenstube Stammtisch" Level="2">
  <Info>
    <Parent Key="5aaa8368-065f-4149-ae06-ffd1288dd1ad">Schützenhaus</Parent>
    <Path>/Schutzenhaus/SchutzenstubeStammtisch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-07-17T12:23:28</CreateDate>
    <NodeName Default="Schützenstube Stammtisch" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/crmjxfnu/img_9297.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>