<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d5316a4-4232-41ae-9a00-35ea9c011510" Alias="Schönholzerswilen" Level="2">
  <Info>
    <Parent Key="cc6fe4ca-655e-4bb3-8baa-5863a78405cf">Partnervereine</Parent>
    <Path>/Partnervereine/Schonholzerswilen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-15T16:58:58</CreateDate>
    <NodeName Default="Schönholzerswilen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uilfgtjs/schönholzerswilen.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>