<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aaa8368-065f-4149-ae06-ffd1288dd1ad" Alias="Schützenhaus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Schutzenhaus</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:15:37</CreateDate>
    <NodeName Default="Schützenhaus" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties />
</Media>