<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8cb7e80-11a9-43e4-a908-b97d16ee694f" Alias="Schützennachwuchs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Schutzennachwuchs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-07-01T19:59:55</CreateDate>
    <NodeName Default="Schützennachwuchs" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>