<?xml version="1.0" encoding="utf-8"?>
<Media Key="f77843b1-3976-4bc5-b139-b0bfce0abd5e" Alias="Social Media 3696897 1920" Level="2">
  <Info>
    <Parent Key="32c9ab65-a0e9-4f68-898f-8ab42ca858b5">Design</Parent>
    <Path>/Design/SocialMedia36968971920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-11T08:56:25</CreateDate>
    <NodeName Default="Social Media 3696897 1920" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/w3bhr31w/social-media-3696897_1920.jpg","focalPoint":{"left":0.50666666666666671,"top":0.9587727708533077},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>