<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8fe0402-108b-41e3-bdca-f37ee71670a4" Alias="Sponsoren" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sponsoren</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-07-02T21:01:07</CreateDate>
    <NodeName Default="Sponsoren" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>