<?xml version="1.0" encoding="utf-8"?>
<Media Key="71ef1e9e-65fe-410d-a62f-99bb0714721b" Alias="Sss Logo" Level="2">
  <Info>
    <Parent Key="a8fe0402-108b-41e3-bdca-f37ee71670a4">Sponsoren</Parent>
    <Path>/Sponsoren/SssLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-07-02T15:53:17</CreateDate>
    <NodeName Default="Sss Logo" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tapo42p4/sss-logo.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>