<?xml version="1.0" encoding="utf-8"?>
<Media Key="48e7ff9a-35e6-4970-9309-45188afd8f43" Alias="Swisslife" Level="2">
  <Info>
    <Parent Key="e0bf8501-80db-499d-ba19-b420c6726e2f">Dokumente</Parent>
    <Path>/Dokumente/Swisslife</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-04T15:49:06</CreateDate>
    <NodeName Default="Swisslife" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/tt5poshg/swisslife.png","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>