<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2045b75-5ff3-4b97-ab16-640d70072b5c" Alias="Tagblatt 2018 Zum Ersten Mal Eine Armbrust In Der Hand Halten, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/Tagblatt2018ZumErstenMalEineArmbrustInDerHandHaltenGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T10:15:12</CreateDate>
    <NodeName Default="Tagblatt 2018 Zum Ersten Mal Eine Armbrust In Der Hand Halten, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/onnbjqxt/tagblatt-2018-zum-ersten-mal-eine-armbrust-in-der-hand-halten.jpeg","focalPoint":{"left":0.34333333333333332,"top":0.733231398319824},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>