<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa1d0f48-8d26-4ac9-90e6-17e08c252253" Alias="Tagblatt 2017 Die Gründung War Ein Volltreffer, Gv-Erlenacker" Level="3">
  <Info>
    <Parent Key="b42a83ed-eda7-473c-8c32-3b06e6f9d1a0">Medien</Parent>
    <Path>/Dokumente/Medien/Tagblatt2017DieGrundungWarEinVolltrefferGvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-14T10:12:06</CreateDate>
    <NodeName Default="Tagblatt 2017 Die Gründung War Ein Volltreffer, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jyhb1krg/tagblatt-2017-die-gründung-war-ein-volltreffer.jpeg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>