<?xml version="1.0" encoding="utf-8"?>
<Media Key="94dc0c7c-e949-498d-9880-845e3ce52802" Alias="Tankkarte Gönnervereinigung Erlenacker - AVIA Card" Level="2">
  <Info>
    <Parent Key="225e4575-c37e-4cab-bd9d-03f611ddbcad">AVIA Tankkarte</Parent>
    <Path>/AVIATankkarte/TankkarteGonnervereinigungErlenackerAVIACard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-01T17:22:04</CreateDate>
    <NodeName Default="Tankkarte Gönnervereinigung Erlenacker - AVIA Card" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pignzfcj/img_20211021_0002.jpg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>