<?xml version="1.0" encoding="utf-8"?>
<Media Key="72f479f6-95e0-40c4-a22d-cbf34d3413fd" Alias="Unbenannt1 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Unbenannt11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-01-02T15:19:45</CreateDate>
    <NodeName Default="Unbenannt1 (1)" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4b2pi2xa/unbenannt1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>