<?xml version="1.0" encoding="utf-8"?>
<Media Key="64aa4da2-c2e5-48e9-bf35-397ec9d23855" Alias="Veranstaltung Erlenacker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/VeranstaltungErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:23:58</CreateDate>
    <NodeName Default="Veranstaltung Erlenacker" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties />
</Media>