<?xml version="1.0" encoding="utf-8"?>
<Media Key="59064acc-8414-4c39-b85d-e7bd585223ac" Alias="Vorstand" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vorstand</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-08-28T09:17:10</CreateDate>
    <NodeName Default="Vorstand" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties />
</Media>