<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7ddc6a8-afad-4dea-aa6e-16255fb98380" Alias="Wunschtraum Geht In Erfüllung Nov. 2010, Gv-Erlenacker" Level="2">
  <Info>
    <Parent Key="2a597e67-ea44-4fd5-950e-df10618b3f48">Presse</Parent>
    <Path>/Presse/WunschtraumGehtInErfullungNov2010GvErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-11-21T18:07:39</CreateDate>
    <NodeName Default="Wunschtraum Geht In Erfüllung Nov. 2010, Gv-Erlenacker" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v1dn1j3n/wunschtraum-geht-in-erfüllung-nov-2010.jpeg","focalPoint":{"left":0.5,"top":0.5},"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>