<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a9db61f-54d8-416d-b388-2a0315fcd0ef" Alias="BasePage - Abstract - Textarea" Level="1">
  <Info>
    <Name>BasePage - Abstract - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 10
}]]></Config>
</DataType>