<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0af321e-5be6-4d1e-bcee-6614cad30d0e" Alias="BasePage - EmotionImage - Media Picker" Level="1">
  <Info>
    <Name>BasePage - EmotionImage - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>