<?xml version="1.0" encoding="utf-8"?>
<DataType Key="054ebde9-e7bc-45ab-bd5b-a0f7aee1bc72" Alias="BusinessSponsor - FactoryName - Textbox" Level="1">
  <Info>
    <Name>BusinessSponsor - FactoryName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>