<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0e443fed-c92b-4f15-914d-ebc05f3b0524" Alias="BusinessSponsor - Logo - Media Picker" Level="1">
  <Info>
    <Name>BusinessSponsor - Logo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>