<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b10d27ac-4f0b-4f5c-bc33-bec2aff28bf8" Alias="BusinessSponsor - Textbox" Level="1">
  <Info>
    <Name>BusinessSponsor - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>