<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98290269-84d6-4f08-90fb-bb058db4bd1e" Alias="BusinessSponsor - Website - Textbox" Level="1">
  <Info>
    <Name>BusinessSponsor - Website - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>