<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac50ddc8-08e2-4f75-98b8-2d4a0a12605e" Alias="BusinessSponsor - IsPremiumSponsor - Checkbox" Level="1">
  <Info>
    <Name>BusinessSponsor - IsPremiumSponsor - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>