<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa023dd7-0589-4df6-b1a6-1c07b31d9f99" Alias="Footer Konfiguration - LinkListTitle - Textbox" Level="1">
  <Info>
    <Name>Footer Konfiguration - LinkListTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>