<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efa6fd2d-8599-472a-9e64-ab491384b034" Alias="Footer Konfiguration - PremiumSponsorTitle - Textbox" Level="1">
  <Info>
    <Name>Footer Konfiguration - PremiumSponsorTitle - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>