<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e234be9a-53fb-4025-aef7-7b8dd49c0a16" Alias="Form Page - labelWebsite - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelWebsite - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>