<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ee57442-54ba-4722-ac9a-37681d6423c6" Alias="Form Page - labelFirstname - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelFirstname - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>