<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f252d1a3-9fba-437e-82c9-a6da1fea5217" Alias="Form Page - LabelSalutation - Textbox" Level="1">
  <Info>
    <Name>Form Page - LabelSalutation - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>