<?xml version="1.0" encoding="utf-8"?>
<DataType Key="783ed049-7695-4e2e-87e0-258e068aacfa" Alias="Form Page - labelStreet - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelStreet - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>