<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5b41bbc-61eb-4609-bc71-d84e8487f9fb" Alias="Form Page - labelLogo - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelLogo - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>