<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10a6cf23-603a-4ca5-aad1-c78bcbbd3818" Alias="Form Page - labelType - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelType - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>