<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3073edcf-7073-4d8c-952b-af0a88605a68" Alias="Form Page - LabelName - Textbox" Level="1">
  <Info>
    <Name>Form Page - LabelName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>