<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6ec6317-7f8f-4ac4-ab6b-c7178c6553b0" Alias="Form Page - labelCompany - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelCompany - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>