<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a0df1dc-ac7f-40b1-b998-55de420ce9c3" Alias="Form Page - labelZipCity - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelZipCity - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>