<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5981d10-7438-4ab2-8a90-dc3f789dc0a5" Alias="Form Page - labelPhone - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelPhone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>