<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ad37151-f93e-4de0-92dd-9a195d6f5af8" Alias="Form Page - labelEmail - Textbox" Level="1">
  <Info>
    <Name>Form Page - labelEmail - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>