<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef4dbf0f-72f1-4b0f-bdca-fc97dff394a2" Alias="Header Configuration - Media Picker" Level="1">
  <Info>
    <Name>Header Configuration - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>