<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbdd1604-4b6d-433a-b71e-854bd076b0ee" Alias="Header Configuration - headerCarousel - Media Picker" Level="1">
  <Info>
    <Name>Header Configuration - headerCarousel - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>