<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dfb70bf3-c76d-4334-80d4-74157608231f" Alias="Header Configuration - headerImageColorSaturation - Slider" Level="1">
  <Info>
    <Name>Header Configuration - headerImageColorSaturation - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 50.0,
  "InitialValue2": 0.0,
  "MinimumValue": 0.0,
  "MaximumValue": 100.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>