<?xml version="1.0" encoding="utf-8"?>
<DataType Key="669828ba-fc7d-432b-90bc-f1a5f83fe953" Alias="Home Page - Modules" Level="1">
  <Info>
    <Name>Home Page - Modules</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "flyerTeaser",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>