<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d574428-43f2-42d0-925f-49e59850c5da" Alias="Link - OpenInNewWindow - Checkbox" Level="1">
  <Info>
    <Name>Link - OpenInNewWindow - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>