<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca3577e9-fb0d-442c-a94b-3d545380bb86" Alias="Link - LinkUrl - Textbox" Level="1">
  <Info>
    <Name>Link - LinkUrl - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>