<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53f676d6-86d0-4c7d-bbcf-eb25d7c3c11f" Alias="Link - LinkText - Textbox" Level="1">
  <Info>
    <Name>Link - LinkText - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>