<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72583f89-1c25-475b-88e4-e1832b75a4b9" Alias="LinkText - Textbox" Level="1">
  <Info>
    <Name>LinkText - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>