<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae9fbd94-f638-4ecc-a830-d10d3b9b920f" Alias="LinUrl - Textbox" Level="1">
  <Info>
    <Name>LinUrl - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>