<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cb3eb37-2343-4d40-8f5a-f39faada4001" Alias="Media Picker (1)" Level="1">
  <Info>
    <Name>Media Picker (1)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": true,
  "Crops": []
}]]></Config>
</DataType>