<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e1777a3-34f2-497f-8acb-40c4dd833ae1" Alias="Multi URL Picker - Single" Level="1">
  <Info>
    <Name>Multi URL Picker - Single</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": null,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>