<?xml version="1.0" encoding="utf-8"?>
<DataType Key="19971ec4-dc1d-4491-80bb-ae84a64b79ed" Alias="Newspage - Abstract - Textarea" Level="1">
  <Info>
    <Name>Newspage - Abstract - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>