<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab008a88-017b-4b48-bc1d-60cd5ed87ed0" Alias="Newspage - Show on Startpage - Checkbox" Level="1">
  <Info>
    <Name>Newspage - Show on Startpage - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>