<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88e553d2-b9a7-4e4f-953d-424a042c7b8d" Alias="Newspage - Abstract - Textarea (1)" Level="1">
  <Info>
    <Name>Newspage - Abstract - Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": 10
}]]></Config>
</DataType>