<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63166429-de97-47c7-8318-104b915e0a98" Alias="Newspage - Images - Media Picker" Level="1">
  <Info>
    <Name>Newspage - Images - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>