<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0ba7fff-1f40-41e1-b8fb-fe0f75b1c1d3" Alias="Newspage - Modules - Nested Content (1)" Level="1">
  <Info>
    <Name>Newspage - Modules - Nested Content (1)</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "newsletterModule",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    },
    {
      "ncAlias": "carouselModule",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>