<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b5775f7-4db3-42e5-ab10-48f7f6951ac9" Alias="Newspage - Modules - Nested Content" Level="1">
  <Info>
    <Name>Newspage - Modules - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "newsletterModule",
      "ncTabAlias": "Moduldaten",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>