<?xml version="1.0" encoding="utf-8"?>
<DataType Key="054b27c6-0eda-4dd9-8256-f9b4ebe2c566" Alias="OpenInNewWindow - Checkbox" Level="1">
  <Info>
    <Name>OpenInNewWindow - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>