<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2dfa7dc1-9204-445b-a600-a4e32baa2a1a" Alias="Ort" Level="1">
  <Info>
    <Name>Ort</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>