<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a0aef2d-f261-4551-bb2f-0bc50b24bae2" Alias="SeoConfig - metaKeywords - Textarea" Level="1">
  <Info>
    <Name>SeoConfig - metaKeywords - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>