<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7d50bdbb-766c-41eb-ba28-89957ac212e0" Alias="SeoConfig - metaDescription - Textarea" Level="1">
  <Info>
    <Name>SeoConfig - metaDescription - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>