<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0da72ab-ed4a-47e5-9b6d-1837d08edff4" Alias="Sponsor - Strasse - Textbox" Level="1">
  <Info>
    <Name>Sponsor - Strasse - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>