<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b8346080-8103-4010-bdcf-6d0f5eef41c3" Alias="Sponsor - Ort - Textbox" Level="1">
  <Info>
    <Name>Sponsor - Ort - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>