<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82b9a18e-baff-4017-8a44-c38c46e2d860" Alias="Sponsor - Nummer - Textbox" Level="1">
  <Info>
    <Name>Sponsor - Nummer - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>