<?xml version="1.0" encoding="utf-8"?>
<DataType Key="748e1b72-6926-425e-816b-953e70d9b72a" Alias="Sponsor - Name - Textbox" Level="1">
  <Info>
    <Name>Sponsor - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>