<?xml version="1.0" encoding="utf-8"?>
<DataType Key="727cdaaf-214d-465c-bb00-9e547fcea8c2" Alias="Sponsor - IsPremiumSponsor - Checkbox" Level="1">
  <Info>
    <Name>Sponsor - IsPremiumSponsor - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>