<?xml version="1.0" encoding="utf-8"?>
<DataType Key="967fbf56-864d-485c-ab92-2047d59f05b5" Alias="Sponsor - Nummer - Numeric" Level="1">
  <Info>
    <Name>Sponsor - Nummer - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>