<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cd30e34-4d45-4fe0-ac8a-a53b6e70afa7" Alias="Sponsor - Postleitzahl - Textbox" Level="1">
  <Info>
    <Name>Sponsor - Postleitzahl - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>