<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04b94c77-f031-4efd-8d18-7b26295a6c02" Alias="Sponsor - IsPremiumSponsor - Checkbox (1)" Level="1">
  <Info>
    <Name>Sponsor - IsPremiumSponsor - Checkbox (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>