<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33fdc4f0-931e-4f4d-9ab2-baf37e7eee7e" Alias="Sponsor - IsPremiumSponsor - Checkbox (2)" Level="1">
  <Info>
    <Name>Sponsor - IsPremiumSponsor - Checkbox (2)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>