<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e5745e8-71d9-451d-bfae-e3eec8b8fd16" Alias="Sponsor - Decimal" Level="1">
  <Info>
    <Name>Sponsor - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 0
}]]></Config>
</DataType>