<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d96bedac-fc69-4baf-b7c4-97ebfd0120e6" Alias="Sponsor - Vorname - Textbox" Level="1">
  <Info>
    <Name>Sponsor - Vorname - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>