<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e9da4fc-40fa-4f7b-a24b-e7f77575462e" Alias="Website" Level="1">
  <Info>
    <Name>Website</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>