<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8fdd83c9-fcc0-4f74-a36f-68ac95a0ade2" Alias="XmlSiteMap - Excluded Document Types - Textbox" Level="1">
  <Info>
    <Name>XmlSiteMap - Excluded Document Types - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>