<div id="cookie-banner" class="white-popup mfp-hide card">
    <div class="card-body">
        <article>
            Wir verwenden Cookies und ähnliche Technologien, um das Nutzererlebnis auf unserer Website zu verbessern. Weitere Informationen finden Sie in unserer <a href="/datenschutzerklarung">Datenschutzerklärung</a>. Durch die weitere Nutzung dieser Website stimmen Sie unserer Verwendung von Cookies und ähnlichen Technologien zu.
        </article>
       
    </div>
   
</div>
