<?xml version="1.0" encoding="utf-8"?>
<Content Key="05ce7499-f991-4c3e-851b-d4dda936f3a8" Alias="10. Jugendcup" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Jugendcup</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-05-30T17:37:31</CreateDate>
    <NodeName Default="10. Jugendcup" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[im Erlenacker Schützenhaus]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Am Mittwoch, 23. Oktober, findet im Schützenhaus Erlenacker in Buhwil auf der 10-Meter-Anlage der 10. Jugend-Cup statt. Teilnahmeberechtigt sind alle Mädchen und Knaben der Jahrgänge 2003 bis 2011. Der Wettkampf wird in den Disziplinen Armbrust und Luftgewehr ausgetragen. Eine Teilnahme mit beiden Waffen ist möglich. Eine Auszeichnung gibt es ab 65 Punkten, Spezialpreise (nur für eine Kategorie) ab 80 Punkten. Organisiert wird der Anlass von der Nachwuchskommission Erlenacker (Armbrustschützen Buhwil-Neukirch, Sportschützen Schönholzerswilen, Erlenackerschützen Kradolf-Schönenberg). Die Nachwuchsschützen werden von fachkundigen Betreuern in die Geheimnisse des Schiesssports eingeführt. Es ist keine Erfahrung notwendig. Standblattausgabe ist von 17.30 bis 19.30 Uhr. Die Anmeldung findet auf dem Schiessplatz statt. Es gibt keine Rangverkündigung.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/4b842922287f48e79e9cc6a6215d12dc]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Jugendcup, 10m, Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2019-10-23T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.7]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[10 Jugendcup]]></Value>
    </title>
  </Properties>
</Content>