<?xml version="1.0" encoding="utf-8"?>
<Content Key="326dcbfc-2dd1-4ed9-8ab9-63f2724d2bb2" Alias="10m Armbrust Kurs 2021 / 2022" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/mArmbrustKurs20212022</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-10-31T15:54:00</CreateDate>
    <NodeName Default="10m Armbrust Kurs 2021 / 2022" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[im Erlenacker Schützenhaus]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Die Armbrustschützen Buhwil - Neukirch führen jährlich einen Nachwuchskurs mit der Armbrust durch.</p>
<p>Während der Sommersaison lernen Jugendliche unter fachkundiger Anleitung das Schiessen auf die Distanz von 30 Metern, während der Wintersaison auf die Distanz von 10 Metern. Die Ausrüstung wird den Nachwuchsschützen zur Verfügung gestellt.</p>
<p><strong>Mädchen und Knaben ab dem 8. Altersjahr</strong> sind herzlich eingeladen, an diesem Kurs teilzunehmen.</p>
<p>Bist Du interessiert? Dann schau mal bei uns vorbei!</p>
<p>Unser Nachwuchsleiter Peter Schönholzer (071 622 58 51) gibt Dir gerne weitere Auskünfte.<br /><br /></p>
<p><strong>Kursdaten 10m:</strong> Ab dem 30. Oktober 2021 bis Mitte März 2022, jeweils am <br />Samstagmorgen</p>
<p><strong>Ort / Zeit:</strong> 09.00 Uhr - 12.00 Uhr "Schiessanlage Erlenacker, 9215 Kradolf - Schönenberg"</p>
<p><strong>Kurskosten:</strong> Keine</p>
<p><strong>Teilnehmer:</strong> Mädchen und Knaben ab dem 8. Altersjahr</p>
<p><strong>Ausrüstung:</strong> Sportausrüstungen stehen zur Verfügung</p>
<p><strong>Anmeldung:</strong> Peter Schönholzer (071 622 58 51) oder an einem Kurstag</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/2f23b765520a4b4d9e6031d2b2d07eac]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/ea8b458e49654d14b5f35e95df9dee1a]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/689cbfffa6c14a34abac9559fa7ca417]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Armbrust Kurs, Erlenacker, 2021, 2022]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Armbrust Kurs, Erlenacker, 2021, 2022, Gönnervereinigung Erlenacker]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-10-25T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[10m Armbrust Kurs 2021/2022]]></Value>
    </title>
  </Properties>
</Content>