<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5beffcf-9e70-42d3-83d4-aa70756734a7" Alias="11. Jugendcup" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Jugendcup</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-10-30T09:58:12</CreateDate>
    <NodeName Default="11. Jugendcup" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[im Erlenacker Schützenhaus]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>11. Jugendcup</strong></p>
<p>Die Erlenackerschützen Kradolf-Schönenberg, Schützen Schönholzerswilen und der Armbrustschützenverein Buhwil-Neukirch hatten gemeinsam, nach einer pandemiebedingten Pause, im Schützenhaus Erlenacker den 11. Jugendcup durchgeführt.</p>
<p>Das Interesse war auch dieses Jahr gross und so kamen 18 Kinder und Jugendliche der Jahrgänge 2005 - 2013. Sie wurden von fachkundigen Nachwuchstrainer betreut und konnten sich an den verschiedenen Sportgeräten herantasten.</p>
<p>In der Schützenstube gab es für die wartenden Teilnehmer einen kleinen Imbiss mit Getränk. Dieser sowie der Anlass wurde wie in den letzten Jahren von der Gönnervereinigung Erlenacker gesponsert.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/cc26a1fada3e491ba3c80a3b5afd3e73]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/b0919b0c136a4807a413bb1ea2a3e53f]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/40d4cc18910a417eb502fcc1a46f4c67,umb://media/311935be49c34d5799fffda22503623f,umb://media/afa93d61e21145e5bcd46e4975ef7be1,umb://media/c806c6eaac4f476d8bca51a627e0b795,umb://media/ea8b458e49654d14b5f35e95df9dee1a,umb://media/08201b41d398400abd58da454c2dd44f,umb://media/fbcd9648454f4628a93d926da397b07f,umb://media/900addfdda1e493eac8dc6e6892cdc04,umb://media/a1401c2a3e474832b557a7d0a15718b3]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[11. Jugendcup, Erlenacker, Luftgewehr, Armbrust]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[11. Jugendcup, Erlenacker, Luftgewehr, Armbrust, Kinder, Jugendliche, Erlenackerschützen, ASV Buhwil-Neukirch, Schützen Schönholzerswilen, Gönnervereinigung Erlenacker]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-10-30T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.7]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[11. Jugendcup]]></Value>
    </title>
  </Properties>
</Content>