<?xml version="1.0" encoding="utf-8"?>
<Content Key="e01ebc0f-e540-41d1-8a67-8db9c1923bc9" Alias="2. Jugendcup" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Jugendcup</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-05-30T17:30:05</CreateDate>
    <NodeName Default="2. Jugendcup" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Das ist eine coole Sache]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Früh übt sich, wer ein treffsicherer Schütze werden will. 29 Mädchen und Buben beteiligten sich am Jugendcup in der Schiessanlage Erlenacker.</p>
<p>«Oh, so viele machen da mit!», staunte eine Mutter, als sie die 10-Meter-Anlage betrat. Meist begleitet von ihren Eltern, wählten elf Mädchen und Knaben die Armbrust, 18 Kinder entschieden sich für das Luftgewehr.</p>
<p><strong>Kaum Nervosität spürbar</strong></p>
<p>Die Erlenackerschützen Kradolf-Schönenberg und der Armbrustschützenverein Buhwil-Neukirch hatten gemeinsam eingeladen, und das Echo war gross. Knirpse ab dem achten Lebensjahr schickten sich an, in der Schiessanlage ihr Glück zu versuchen. Die beiden Vereine hoffen, dass sich einige Kinder nach der Teilnahme am Jugendcup auch für die Kurse interessieren werden. Im Armbrustschiessen beginnt am 5. November ein Kurs, im Luftgewehrschiessen ist bereits einer angelaufen, aber noch für weitere Teilnehmer offen. Die Mädchen und Knaben sollten mindestens acht Jahre alt sein.</p>
<p>Marc Hunziker (8) aus Buhwil fühlte sich im Schiessstand ganz wohl. «Nervös bin ich nur ein wenig. Gekommen bin ich, weil mir das der Papi gesagt hat.»</p>
<p><strong>Zu kurze Arme fürs Gewehr</strong></p>
<p>«Gut ist es mir mit dem Luftgewehrschiessen gegangen, ich bin zufrieden», bilanzierte Marc. Etwas gesprächiger war die ebenfalls achtjährige Janis Munz aus Schönenberg. Sie fühlte sich an der Armbrust pudelwohl. «Es ging ganz einfach, denn ich habe zuvor schon einiges im Ferienpass gelernt.» Sie habe die Armbrust gewählt, weil sie für das Luftgewehr noch etwas zu kurze Arme habe. Gerne möchte sie im Kurs weitermachen. «Ich werde Mami sagen, dass das eine coole Sache ist. Vielleicht meldet sie mich dann an.»</p>
<p>Geeignet sind Kinder, die über eine gute Koordinationsfähigkeit, über Körperbeherrschung und Konzentrationsvermögen verfügen. Und natürlich müssen sie Freude am Schiesssport haben.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/9dc987348f364ad7ba9ecbec792a385d]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/9dc987348f364ad7ba9ecbec792a385d]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Jugendcup, Erlenacker, 10 m]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Jugendcup, Erlenacker, Kinder, Jugendliche, Neukirch an der Thur, Buhwil, 10m, Luftgewehr, Armbrust]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2011-10-28T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.7]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[2. Jugendcup ]]></Value>
    </title>
  </Properties>
</Content>