<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3bde86c-e388-4092-985c-1133000a3d64" Alias="5. Jugendcup" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Jugendcup</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-05-30T17:21:35</CreateDate>
    <NodeName Default="5. Jugendcup" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Auf den Spuren von Tell]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Knapp 30 Kinder folgten der Einladung der Nachwuchskommission der Armbrust-, Sport- und Erlenackerschützen zum Jugend-Cup.</p>
<p>«Das ist aber eine schöne Zehn», lobt Urs Sager den elfjährigen Patrick Zürcher. Zusammen mit seinen Brüdern Roger und Lukas nimmt der Schüler am 5. Jugend-Cup im Schiessstand Erlenacker in Buhwil teil. «Mit einem Sturmgewehr habe ich schon geschossen, jetzt wollte ich Armbrust und Luftgewehr auch ausprobieren», erklärt er.</p>
<p><strong>Eine gute Werbung</strong></p>
<p>Organisiert wurde der Anlass von der Nachwuchskommission der Armbrustschützen Buhwil-Neukirch, den Sportschützen Schönholzerswilen sowie den Erlenackerschützen Kradolf-Schönenberg. «Entstanden ist der Jugend-Cup nach einem Ferienpass-Angebot. Die Kinder wollten ihre Kenntnisse vertiefen», erklärt Walter Gerber, Präsident der Gönnervereinigung Nachwuchs Erlenacker. «Natürlich dient der Anlass auch zur Werbung in eigener Sache», sagt er. «Armbrustschiessen ist viel schwieriger als Luftgewehr», findet Jonas Schönholzer. «Man muss auf mehr Dinge achten», stellt er fest.</p>
<p><strong>Auch Mädchen machen mit</strong></p>
<p>Kein Neuling ist Yves Schönholzer. «Armbrust habe ich allerdings bis jetzt nur liegend geschossen», verrät der Neukircher. Fachkundige Betreuer geben den Nachwuchsschützen wertvolle Tipps, wie Kugel oder Pfeil bestmöglich auf die Scheibe treffen. Mit der zehnjährigen Joya Brändli aus Kümmertshausen nimmt eines der wenigen Mädchen am Jugend-Cup teil. Sie erreicht Platz sieben in der Kategorie U12. Als Sieger gehen in der Kategorie Armbrust U16 Roger Zürcher und in der Kategorie Armbrust U12 Fabian Stäuble vom Platz. Die Kategorie Luftgewehr U16 gewinnt Martin Schwager und in der Kategorie Luftgewehr U12 Lea Staub.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/c341270984a5478cac6e3141a3e4f9fc]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/c341270984a5478cac6e3141a3e4f9fc]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2014-10-28T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.7]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[5. Jugendcup]]></Value>
    </title>
  </Properties>
</Content>