<?xml version="1.0" encoding="utf-8"?>
<Content Key="1556b8b9-2016-47f4-8304-9cca87ee4936" Alias="7. Jugendcup" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Jugendcup</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-21T18:13:28</CreateDate>
    <NodeName Default="7. Jugendcup" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[im Erlenacker Schützenhaus]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Zum siebten Mal fand am Mittwochabend der Jugendcup für Armbrust und Luftgewehr statt. Der Anlass lockte viele Kinder und Jugendliche in das Schützenhaus zwischen Buhwil und Neukirch an der Thur.</p>
<p>Das Schützenhaus Erlenacker glich am Mittwochabend einem Taubenschlag. Das Interesse am, von der Jugendkommission der Armbrustschützen Buhwil-Neukirch, der Schützen Schönholzerswilen und der Erlenackerschützen Kradolf-Schönenberg organisierten Jugendcup, war riesig. Zahlreiche Kinder und Jugendliche nutzten die Gelegenheit, sich unter Anleitung von erfahrenen Schützen an das Schiessen mit Armbrust und Luftgewehr heranzutasten.</p>
<p><strong>Konzentration und Ruhe</strong></p>
<p>«Ich fand das gar nicht schwierig. Schliesslich bin ich schon zum zweiten Mal hier», sagte Yanik Rutz aus Donzhausen. Die Aufgabe des Neunjährigen bestand darin, mit dem Luftgewehr zehnmal auf eine Zielscheibe mit einer Zehnerwertung zu schiessen. Das Interesse, später einmal einen Jungschützenkurs zu besuchen, hat der Jugendcup bei Yanik nicht geweckt. Anders sieht es bei Lea Staub aus. Sie schiesst bereits aktiv mit Armbrust, Luft- und Kleinkalibergewehr. «Beim Schiessen muss man sehr genau sein und sich konzentrieren. Das sind Stärken von mir», erklärte die Schönenbergerin. Ihre jüngere Schwester Kaya möchte es ihr gleichtun. Ihr erster Versuch beim Luftgewehrschiessen wurde mit 40 Punkten belohnt.</p>
<p><strong>Mit 88 Punkten zum Sieg</strong></p>
<p>Bereits zum vierten Mal hat Roger Zürcher am Jugendcup teilgenommen. Ruhig und konzentriert hatte er die in zehn Metern Entfernung hängende Zielscheibe anvisiert, bevor er den Pfeil abschoss. «Ich habe 88 Punkte erreicht», verkündete der Schönholzerswiler nicht ohne Stolz. Seine Vermutung, dass er damit vielleicht den Sieg erringen könnte, bewahrheitete sich. Bei der zweiten Disziplin, dem Luftgewehrschiessen, erreichte Roger Zürcher ebenfalls 88 Punkte. Hier reichte es aber nur für den zweiten Rang. Den Sieg errang mit 91 Punkten der Bischofszeller Robin Zwick.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/fcc386b7fdfd41debb73256862ed9ac0]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/fcc386b7fdfd41debb73256862ed9ac0]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, innArmbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2016-11-01T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["hourly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Kinder und Jugendliche auf den Spuren von Wilhelm Tell]]></Value>
    </title>
  </Properties>
</Content>