<?xml version="1.0" encoding="utf-8"?>
<Content Key="4649c1a3-d39a-4d6e-b61b-604ae674edaf" Alias="Angst Leo" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/AngstLeo</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-07-03T07:40:59</CreateDate>
    <NodeName Default="Angst Leo" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Leo]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Angst]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>