<?xml version="1.0" encoding="utf-8"?>
<Content Key="7683a46a-c444-4a93-bb75-cad4a4faac5a" Alias="Anmeldungbestätigungsmail" Level="2">
  <Info>
    <Parent Key="52831ca0-6b2a-4c72-9dc8-d538cf45bcfa">Email Konfigurationen</Parent>
    <Path>/EmailKonfigurationen/Anmeldungbestatigungsmail</Path>
    <Trashed>false</Trashed>
    <ContentType>emailConfiguration</ContentType>
    <CreateDate>2020-09-30T08:54:39</CreateDate>
    <NodeName Default="Anmeldungbestätigungsmail" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Herzlichen Dank für Ihren Entschluss die Gönnervereinigung Nachwuchs Erlenacker zu unterstützen. Wir bitten Sie den vereinbarten Mitgliederbeitrag in den nächsten Tagen zu überweisen. Sie können den Betrag mittels E-Banking oder dem an diesem Mail angehängten Einzahlungschein begleichen. <br /><br />Freiwillige Spenden, welche über den vereinbarten Mitgliederbeitrag gehen, sind natürlich jederzeit herzlich willkommen.</p>
<p>Mit Besten Grüssen</p>
<p>Die Gönnervereinigung Nachwuchs Erlenacker</p>]]></Value>
    </body>
    <footer>
      <Value><![CDATA[<p><strong style="color: red;">Dieses Email wurde automatisch generiert. Bitte antworten Sie nicht darauf.</strong></p>]]></Value>
    </footer>
    <receiverEmails>
      <Value><![CDATA[]]></Value>
    </receiverEmails>
    <salutationFemale>
      <Value><![CDATA[Sehr geehrte Frau [[Name]]]]></Value>
    </salutationFemale>
    <salutationMale>
      <Value><![CDATA[Sehr geehrter Herr [[Name]]]]></Value>
    </salutationMale>
    <senderEmail>
      <Value><![CDATA[no-reply@gv-erlenacker.ch]]></Value>
    </senderEmail>
    <subject>
      <Value><![CDATA[Danke für Ihr Engangement]]></Value>
    </subject>
  </Properties>
</Content>