<?xml version="1.0" encoding="utf-8"?>
<Content Key="6fec3b80-01f2-4b62-903b-5773a50d1970" Alias="Armbrustschützenverein Buhwil-Neukirch" Level="3">
  <Info>
    <Parent Key="632b4dc3-0200-4b74-911a-d149ae8bf86c">Partnervereine</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Partnervereine/ArmbrustschutzenvereinBuhwilNeukirch</Path>
    <Trashed>false</Trashed>
    <ContentType>basePage</ContentType>
    <CreateDate>2020-11-15T09:24:50</CreateDate>
    <NodeName Default="Armbrustschützenverein Buhwil-Neukirch" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Unser Partnerverein Armbrustschützenverein Buhwil-Neukirch bietet Jungschützenkurse im 10-30m Bereich an. Besuchen Sie für weitere Informationen die Webseite der ASV Buhwil-Neukirch.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/689cbfffa6c14a34abac9559fa7ca417]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[1]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Armbrustschützenverein Buhwil-Neukirch]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Armbrustschützenverein, Buhwil, Neukirch]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[1]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[http://www.asvbn.ch/]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Armbrustschützenverein Buhwil - Neukirch]]></Value>
    </title>
  </Properties>
</Content>