<?xml version="1.0" encoding="utf-8"?>
<Content Key="267b098a-be93-4cae-9364-035d91d0680c" Alias="Armbrustschützenverein Buhwil-Neukirch" Level="3">
  <Info>
    <Parent Key="39d4103d-fc74-40ab-b5e3-4ca62f7967b3">Footer Configuration</Parent>
    <Path>/Config/FooterConfiguration/ArmbrustschutzenvereinBuhwilNeukirch</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2020-07-03T15:05:01</CreateDate>
    <NodeName Default="Armbrustschützenverein Buhwil-Neukirch" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Impressum]]></Value>
    </linkText>
    <linkUrl>
      <Value><![CDATA[/impressum]]></Value>
    </linkUrl>
    <openInNewWindow>
      <Value><![CDATA[1]]></Value>
    </openInNewWindow>
  </Properties>
</Content>