<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb08fda6-422a-471d-974e-5bc28201ba6d" Alias="Ausflug der Gönnervereinigung" Level="3">
  <Info>
    <Parent Key="b4f764db-273d-4127-b2ac-1f1b15aae84f">Veranstaltungen</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Veranstaltungen/AusflugDerGonnervereinigung</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2020-11-27T23:56:20</CreateDate>
    <NodeName Default="Ausflug der Gönnervereinigung" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16ade292-beef-4fbc-ad6e-df4a88badd82">Event</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[EVENT VERSCHOBEN]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Liebe Mitglieder</p>
<p>Auf Grund der aktuellen Lage ist es leider nicht möglich den von uns geplanten Event bei der Firma Von Siebenthal durchzuführen. Die Firmenleitung bedauert es, uns diesen Entscheid mitteilen zu müssen. Wir vom Vorstand haben dafür aber absolutes Verständnis. Wie uns versichert wurde, würden sie sich freuen, uns zu einem späteren Zeitpunkt Einblick in ihre Firma zu gewähren.</p>
<p><strong>Ein möglicher Nachholtermin wird rechtzeitig bekannt gegeben.</strong></p>
<p><br />Vielen Dank für Euer Verständnis</p>]]></Value>
    </content>
    <dateFrom>
      <Value><![CDATA[2021-09-19T12:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2021-09-19T12:00:00]]></Value>
    </dateTo>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/f77843b139764bc5b139b0bfce0abd5e]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[1]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[Von Siebenthal Holzbau AG, Mauren]]></Value>
    </location>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft, ]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Ausflug der Gönnervereinigung ]]></Value>
    </title>
    <unknowDate>
      <Value><![CDATA[1]]></Value>
    </unknowDate>
  </Properties>
</Content>