<?xml version="1.0" encoding="utf-8"?>
<Content Key="0581da87-8dfd-4e39-b9de-93612635f265" Alias="AVIA Gv-Tankkarte" Level="3">
  <Info>
    <Parent Key="aceed634-0b6d-41fc-8ce0-b03a92a25059">Über uns</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/UberUns/AVIAGvTankkarte</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-09-19T10:22:25</CreateDate>
    <NodeName Default="AVIA Gv-Tankkarte" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[BEI DER AVIA TANKEN UND DIE GV-ERLENACKER UNTERSTÜTZEN]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p style="text-align: left;"><strong>Unterstützen und Profitieren</strong></p>
<p style="text-align: left;">Bestelle die exklusive Gönnervereinigung Nachwuchs Erlenacker Tankkarte. Für jeden getankten Liter gehen <strong>3 Rappen an dich und spendest gleichzeitig 2 Rappen an die Gönnervereinigung Nachwuchs Erlenacker.</strong></p>
<p style="text-align: left;"><strong><img src="?width=220&amp;height=244&amp;mode=max" alt="" width="220" height="244" data-udi="umb://media/084939048b94490cbc0ce5823b6b4455" /></strong></p>
<p style="text-align: left;"><strong>Deine Vorteile</strong></p>
<p style="text-align: left;">• Du sparst beim Tanken<br />• Unterstütze die Gönnervereinigung Erlenacker<br />• Gratis Pannendienst in Europa (nur für Private)<br />• Grösstes Tankstellennetz der Schweiz<br />• Übersichtliche Monatsabrechnung<br />• Keine Depot- und Jahresgebühren<br />• Kostenlose Ersatzkarte bei Verlust</p>
<p style="text-align: left;"> </p>
<p style="text-align: left;"><strong>So geht’s</strong></p>
<p style="text-align: left;"><a href="https://www.langenergie.ch/gv-erlenacker.html" title="Lang Energie AG, Gv-Erlenacker"></a>Kartenantrag für Private link: <a href="https://www.langenergie.ch/359.html?verein=G%C3%B6nnervereinigung+Erlenacker" title="Lang Energie AG, link Private" data-anchor="?verein=G%C3%B6nnervereinigung+Erlenacker">Lang Energie AG Private</a><br />Kartenantrag für Firmen link: <a href="https://www.langenergie.ch/358.html?verein=G%C3%B6nnervereinigung+Erlenacker" title="Lang Energie AG, link Firmen" data-anchor="?verein=G%C3%B6nnervereinigung+Erlenacker">Lang Energie AG Firmen</a><br />Telefonisch: 071/ 677 12 12<br /><a href="mailto:info@langenergie.ch" title="Info, Lang Energie AG">info@langenergie.ch</a></p>
<p style="text-align: left;"><strong>Wichtig: Vermerk «Gönnervereinigung Nachwuchs Erlenacker»</strong></p>
<p><img src="?width=240&amp;height=210" alt="" width="240" height="210" data-udi="umb://media/964b069023264cf0b1cb1029d5111c45" /></p>
<p> </p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/02830519a9d94c1d8c2dfddb5996b273,umb://media/972498fed4a346eb8704554538a78d96,umb://media/cc49a4867b85432eabaede2bf5cb686b]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/e8d5c9e2310041508b3a408425902647]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/82bb4accc3114e8bb1af87057be636e4,umb://media/d7e283af31b44cf7ae225e3e2897e320,umb://media/94dc0c7ce949498d9880845e3ce52802]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Tankkarte, Gönnervereinigung, Erlenacker, Avia, Lang Energie, Unterstützen, Profitieren]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Tankkarte, Gönnervereinigung, Erlenacker, Avia, Lang Energie, Unterstützen, Profitieren, Tanken]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-12-05T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[1.0]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Gv-Erlenacker Tankkarte]]></Value>
    </title>
  </Properties>
</Content>