<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f2efd14-8bfd-4ede-acc3-e1fca00fa0bc" Alias="Baumann Tamara" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/BaumannTamara</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2022-01-04T16:20:07</CreateDate>
    <NodeName Default="Baumann Tamara" />
    <SortOrder>114</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Muolen]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[t_schaetti@hotmail.com]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Tamara]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[374]]></Value>
    </number>
    <street>
      <Value><![CDATA[Holzbifang]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Baumann]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9313]]></Value>
    </zipCode>
  </Properties>
</Content>