<?xml version="1.0" encoding="utf-8"?>
<Content Key="515b39cf-0812-4519-b072-4e501a496dbc" Alias="Besten Dank für Ihre Kontaktaufnahme" Level="4">
  <Info>
    <Parent Key="93b336e8-d50d-4d31-9af4-0597cfe22d41">Kontakt</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/UberUns/Kontakt/BestenDankFurIhreKontaktaufnahme</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-16T10:38:22</CreateDate>
    <NodeName Default="Besten Dank für Ihre Kontaktaufnahme" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Herzlichen Dank für Ihr Interesse]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Wir haben Ihre Nachricht erhalten und werden uns baldmöglichst bei Ihnen melden.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/2ea8b276467b44e9a4869d23a075c63a]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["never"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Besten Dank für Ihre Kontaktaufnahme]]></Value>
    </title>
  </Properties>
</Content>