<?xml version="1.0" encoding="utf-8"?>
<Content Key="bae710b2-a6e1-4b72-91f9-be34873ef8f2" Alias="Bettencenter Luna" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/BettencenterLuna</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2021-09-26T10:08:39</CreateDate>
    <NodeName Default="Bettencenter Luna" />
    <SortOrder>106</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Weinfelden]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[info@bettencenter-thurgau.ch]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Bettencenter Luna GmbH]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Regula ]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/b0cc71435e2b4b3dafa7b4ea42289e9c]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[3]]></Value>
    </number>
    <street>
      <Value><![CDATA[Schulstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Schaad]]></Value>
    </surname>
    <website>
      <Value><![CDATA[https://www.bettencenter-thurgau.ch/index.html]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[8570 ]]></Value>
    </zipCode>
  </Properties>
</Content>