<?xml version="1.0" encoding="utf-8"?>
<Content Key="23f8d188-fdbb-4c02-85bf-87a7e1328d0d" Alias="Blatter Metzgerei" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/BlatterMetzgerei</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-07-02T21:01:35</CreateDate>
    <NodeName Default="Blatter Metzgerei" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Mettlen]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Blatter Metzgerei]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Manfred]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/ff9310aad93047f7a82b6d717021bb02]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[1]]></Value>
    </number>
    <street>
      <Value><![CDATA[ Unterdorfstrasse]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Blatter Metzgerei]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[8577]]></Value>
    </zipCode>
  </Properties>
</Content>