<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dc0eca4-7034-478e-9d08-a132ce942758" Alias="Blog" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2020-11-12T14:27:26</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a49221e6-5579-4398-96e0-0458e0819299">Blog</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Hier finden Sie alle aktuellen und vergangenen Artikel im praktischen Blog-Format.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/53c1b7f78d674cb4950070fbda9e1485]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Hier finden sie aktuelle News]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[News, Blog, Neuigkeiten]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[1.0]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Blog]]></Value>
    </title>
  </Properties>
</Content>