<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d006d54-9278-46a8-a5d4-4fd41ad48c84" Alias="Buurestübli" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/Buurestubli</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2022-01-04T15:57:35</CreateDate>
    <NodeName Default="Buurestübli" />
    <SortOrder>110</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Buurestübli]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Kari]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/22d992f341154202a8812195c7d0461c]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[Rüti]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Schüpbach]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>