<?xml version="1.0" encoding="utf-8"?>
<Content Key="be02714c-8dd8-4769-978c-78fc606b856a" Alias="Config" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Config</Path>
    <Trashed>false</Trashed>
    <ContentType>configFolder</ContentType>
    <CreateDate>2020-06-25T07:20:33</CreateDate>
    <NodeName Default="Config" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>