<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1e3ebf4-e562-446b-ad49-56efb736a286" Alias="Die Migros unterstützt den Amateursport" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/DieMigrosUnterstutztDenAmateursport</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-02-08T17:11:22</CreateDate>
    <NodeName Default="Die Migros unterstützt den Amateursport" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Schlusspfiff für «Support your Sport»]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>Schlusspfiff für <a href="https://supportyoursport.migros.ch/de/vereine/goennervereinigung-nachwuchs-erlenacker/" title="Support your Sport">«Support your Sport»</a></strong></p>
<p>Das Engagement der teilnehmenden Sportvereine und ihrer Supporter hat sämtliche Erwartungen übertroffen. Die <a href="http://www.migros.ch" title="Migros">Migros</a> honoriert nun den Grosserfolg der Förderaktion und verdoppelt den Fördertopf auf 6 Millionen Franken – so können Vereinswünsche noch besser erfüllt werden. Mit dem Abschluss der Förderaktion am Montag, 12. April endete auch die Abgabe von Vereinsbons.</p>
<p>Die Gönnervereinigung Nachwuchs Erlenacker erreichte in der Gruppe B, mit 1351 gesammelten Vereinsbons den Rang 2568. Ein grosses Dankeschön an alle, die fleissig Vereinsbons für die Gönnervereinigung Erlenacker gesammelt haben.</p>
<p> </p>
<p><strong>Superfans</strong></p>
<p>Rosmarie K. 194 Vereinsbons<br />Max S. 108 Vereinsbons<br />Jasmin S. 91 Vereinsbons<br />Fabienne M. 91 Vereinsbons<br />Monika A. 84 Vereinsbons</p>
<p> </p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/6eb05678806547dbb2a4904a5afc1ad9]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Die Migros unterstützt den Amateursport mit einem Fördertopf von 6 Millionen Franken. Sammeln Sie jetzt Vereinsbons und machen Sie sich für Ihren Sportverein stark. Auch die Gönnervereinigung bedankt sich im Voraus für Ihre Unterstützung im Rahmen der Migros Aktion. ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Migros support your sport. Migros-Bons, Migros, Sportvereine]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-02-08T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Die Migros unterstützt den Amateursport ]]></Value>
    </title>
  </Properties>
</Content>