<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8e2854e-e368-4523-add6-237d134034eb" Alias="Die Gründung war ein Volltreffer" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/DieGrundungWarEinVolltreffer</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-14T08:27:39</CreateDate>
    <NodeName Default="Die Gründung war ein Volltreffer" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Tagblatt Ausgabe 2017]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Die Gönnervereinigung der Nachwuchsschützen Erlenacker trägt viel dazu bei, dass der Schiesssport in der Region Beachtung findet. 2017 feiert sie das 10-Jahr-Jubiläum.</p>
<p>Schützen und ihre Vereine hatten in der Schweiz lange Zeit identitätsstiftenden Charakter. Dann bekam der Schiesssport Ende des 20. Jahrhunderts Konkurrenz durch sogenannte Trendsportarten zu spüren. Vor allem bei Jugendlichen liess das Interesse spürbar nach. In dieser schwierigen Phase waren die Aktivitäten der Gönnervereinigung der Nachwuchsschützen Erlenacker besonders wichtig. In der Zwischenzeit hat sich das Blatt gewendet, wie die jüngsten Zahlen des Schweizer Schiesssportverbandes belegen. So hat etwa das Interesse an Jungschützenkursen in den letzten zwei Jahren markant zugenommen.</p>
<p>Die Trendumkehr bestätigt Walter Gerber, Gründer und Präsident der Gönnervereinigung der Nachwuchsschützen Erlenacker: »Die Beteiligung an unserem Jugendcup und die Belegung der Kurse im Rahmen des Elternvereins Ferienpasses sind erfreulich gross.» Gerber gibt aber auch zu bedenken, dass die positive Entwicklung kein Selbstläufer sei. Die Gönnervereinigung muss selbst die Initiative ergreifen und mittels Öffentlichkeitsarbeit auf ihr Angebot aufmerksam machen.</p>
<p><strong>Im Erlenacker besteht ein Ausbildungszentrum</strong></p>
<p>Die Existenz der Gönnervereinigung ist eng mit dem Bau einer neuen 300-Meter-Schiessanlage im Erlenacker verbunden. " Im Obergeschoss sollte eine 10-Meter-Anlage für Luftgewehr- und Armbrustschützen eingerichtet werden, doch es fehlte das Geld", erinnert sich Gerber. Im Mai 2004 kann die Schiessanlage eingeweiht werden, doch die Schützen sassen wegen der hohen Investitionen auf einem Schuldenberg. Gerber war sich der Bedeutung einer 10-Meter-Anlage, für die Nachwuchsförderung, bewusst. Er liess sich nicht entmutigen und fasste im Jahr 2006 den Entschluss, einen Verein zu gründen, um das Problem zu lösen. Gerber suchte Gleichgesinnte, trommelte einen Vorstand zusammen und hob mit diesen Leuten am 1. Juni 2007 die Gönnervereinigung aus der Taufe.</p>
<p>Der Kostenvoranschlag für den Ausbau im Erlenacker belief sich auf rund 60'000 Franken. Die Gönnervereinigung erklärte sich bereit, 18'000 Franken beizusteuern. Nachdem die 10-Meter-Anlage Ende 2009 eingeweiht worden war, konnten die Armbrustschützen dort den ersten Winter-Nachwuchskurs durchführen. Die Gönnervereinigung nutzte die neue Einrichtung, um am 29. Oktober 2010 den vereinseigenen Jugendcup zu veranstalten. Der erste "Jugend &amp; Sport"-Kurs für Luftgewehrschützen geht 2010/11 über die Bühne.</p>
<p>Die von den Erlenackerschützern Kradolf-Schönenberg unabhängige Gönnervereinigung hilft allen am Schiessen interessierten Jugendlichen beim Einstieg in den Sport. Dies geschieht unter anderem, dass sie ihnen das Sportgerät, die Munition und die Ausrüstung zur Verfügung stellt. »Der Wohnort und allfällige Vereinsmitgliedschaft spielten dabei keine Rolle», betont Gerber.</p>
<p><strong>Schützenvereine profitieren von Nachwuchsförderung</strong></p>
<p>Nach zehn Jahren zieht der Präsident eine positive Bilanz: «Die Gönnervereinigung hat sich besser entwickelt als erwartet. Sie wird vom Umfeld gut unterstützt; auch von Leuten, die mit unserem Sport sonst nichts zu tun haben.» Seitens des Schützenvereins sei eine Wertschätzung spürbar. Laut Gerber zählt die Gönnervereinigung derzeit 110 Mitglieder. «Jedes neue Mitglied ist willkommen,» sagt Gerber, der sich auch über einen neuen Hauptsponsor freuen würde.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/aa1d0f488d264ac990e617e08c252253]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/aa1d0f488d264ac990e617e08c252253]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, innArmbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2017-11-01T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["hourly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Die Gründung war ein Volltreffer]]></Value>
    </title>
  </Properties>
</Content>