<?xml version="1.0" encoding="utf-8"?>
<Content Key="8651debc-9603-480c-8fd2-9bf3d8ab92e3" Alias="Dokumente &amp; Presseberichte" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/DokumentePresseberichte</Path>
    <Trashed>false</Trashed>
    <ContentType>documentList</ContentType>
    <CreateDate>2020-11-10T11:57:31</CreateDate>
    <NodeName Default="Dokumente &amp; Presseberichte" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1f7a8584-3aa1-4a8a-a77e-584ede530c1b">DocumentList</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[In diesem Bereich finden Sie alles was der Blätterwald berichtet und berichtet hat und weitere Dokumente in chronologischer Abfolge]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/2ecf5e8048bf4cecb6cb75c53996dfb3]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Hier finden Sie aktuelle und vergangene Dokumente und Presseberichte]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Downloads, Dokumente, Presseberichte]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Dokumente]]></Value>
    </title>
  </Properties>
</Content>