<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e333a57-992f-4a8d-b241-e58fc27cc75d" Alias="Eigene Homepage der Gönnervereinigung" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/EigeneHomepageDerGonnervereinigung</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-07-15T16:55:39</CreateDate>
    <NodeName Default="Eigene Homepage der Gönnervereinigung" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Seit ca. 10 Jahren dürfen wir uns als Gönnervereinigung bei den Erlenackerschützen auf ihrer Homepage als Gäste präsentieren, dafür möchten wir den Erlenackerschützen herzlich danken. Nachdem unser Verein sich längst etabliert hat, haben wir uns, auf Initiative von unserem Vize-Präsidenten Roger Meier, entschlossen, eine eigene Homepage zu gestalten.</p>
<p>Bei der Gründung der Gönnervereinigung waren alle Vorstandsmitglieder, ausser der Aktuarin, Mitglieder der Erlenackerschützen. So ist dann auch das Gastrecht mit der Homepage zustande gekommen. In der Vergangenheit hat sich dann aber wiederholt gezeigt, dass diese Zusammenarbeit oft zu Fehlinterpretationen geführt hat. Ich möchte hier festhalten, dass die Gönnervereinigung Nachwuchs Erlenacker ein selbstständiger Verein ist und nicht mit den Erlenackerschützen gleichzusetzen ist. Aus dem Erscheinungsbild des Logos könnte man zwar darauf schliessen, wir überlegen uns auch, dieses eventuell noch zu ändern. Aus den Statuten ist ersichtlich, dass wir die Nachwuchsschützen der Armbrust- und Erlenackerschützen, sowie weitere jugendliche Nachwuchsschützen unterstützen, welche eine Beziehung zum Erlenacker haben.</p>
<p>Wir freuen uns, allen Interessierten unsere eigene Website, welche unser Webmaster Roland Schenk in verdankenswerter Weise als Sponsoring gestaltet hat, präsentieren zu können. Die Aktualisierung erfolgt durch unseren Vorstand und wir sind bestrebt, damit immer auf dem neusten Stand zu sein.</p>
<p> </p>
<p><br />Der Präsident</p>
<p>Walter Gerber</p>
<p> </p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[1]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Hompage, Walter Gerber, Roger Meier, Roland Schenk, Erlenacker, Präsident, Gönnervereinigung ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Hompage, Walter Gerber, Roger Meier, Roland Schenk, Erlenacker, Präsident, Gönnervereinigung Erlenacker]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-01-01T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Eigene Homepage]]></Value>
    </title>
  </Properties>
</Content>