<?xml version="1.0" encoding="utf-8"?>
<Content Key="52831ca0-6b2a-4c72-9dc8-d538cf45bcfa" Alias="Email Konfigurationen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EmailKonfigurationen</Path>
    <Trashed>false</Trashed>
    <ContentType>mailConfigFolder</ContentType>
    <CreateDate>2020-09-30T08:37:06</CreateDate>
    <NodeName Default="Email Konfigurationen" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>