<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ea5a2fb-3964-4bf3-8222-64b1acd666cc" Alias="Erlenackerschützen Kradolf-Schönenberg" Level="3">
  <Info>
    <Parent Key="39d4103d-fc74-40ab-b5e3-4ca62f7967b3">Footer Configuration</Parent>
    <Path>/Config/FooterConfiguration/ErlenackerschutzenKradolfSchonenberg</Path>
    <Trashed>false</Trashed>
    <ContentType>link</ContentType>
    <CreateDate>2020-07-03T15:04:13</CreateDate>
    <NodeName Default="Erlenackerschützen Kradolf-Schönenberg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkText>
      <Value><![CDATA[Datenschutzerklärung]]></Value>
    </linkText>
    <linkUrl>
      <Value><![CDATA[/datenschutzerklarung]]></Value>
    </linkUrl>
    <openInNewWindow>
      <Value><![CDATA[1]]></Value>
    </openInNewWindow>
  </Properties>
</Content>