<?xml version="1.0" encoding="utf-8"?>
<Content Key="4df73a8f-03ee-42d5-a136-effe126c0dac" Alias="Erlenackerschützen Kradolf-Schönenberg" Level="3">
  <Info>
    <Parent Key="632b4dc3-0200-4b74-911a-d149ae8bf86c">Partnervereine</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Partnervereine/ErlenackerschutzenKradolfSchonenberg</Path>
    <Trashed>false</Trashed>
    <ContentType>basePage</ContentType>
    <CreateDate>2020-11-13T18:58:08</CreateDate>
    <NodeName Default="Erlenackerschützen Kradolf-Schönenberg" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Unser Partnerverein Erlenackerschützen Kradolf-Schönenberg bietet Jungschützenkurse im 300m Bereich an. Besuchen Sie für weitere Informationen die Webseite der Erlenackerschützen.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/ac48de8a00b94516abf27f1d9761cc87]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Erlenackerschützen Kradolf-Schönenberg]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Erlenackerschützen, Kradolf-Schönenberg, Neukirch, Kradolf, Schönenberg]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[https://erlenacker.ch/nachwuchs/]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Erlenackerschützen Kradolf-Schönenberg]]></Value>
    </title>
  </Properties>
</Content>