<?xml version="1.0" encoding="utf-8"?>
<Content Key="15452105-427d-4deb-8808-9dca0998308c" Alias="FerienSpass 2021" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/FerienSpass2021</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-10-22T13:39:24</CreateDate>
    <NodeName Default="FerienSpass 2021" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[im Erlenacker Schützenhaus]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>FerienSpass 2021</strong></p>
<p>Die Nachwuchskommission Erlenacker öffnete in den Herbstferien für den Nachwuchs seine Türen und führte interessante Kurse in den Bereichen Luftgewehr und Armbrust durch.</p>
<p>Den Kindern wurde in den zwei Stunden die Verantwortung und der Umgang mit einer Sportwaffe beigebracht. Nach der Schulung und dem Training fand ein Wettschiessen statt und der beste Schütze durfte eine kleine Belohnung nach Hause nehmen.</p>
<p>Zum Abschluss verwöhnte die Schützenwirtin die Kinder mit einem feinen Hot-Dog und einem Getränk.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/8851881bb6aa4140a4be7c434bd2ee73]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/2997a60e80634d1ba9f97efbb86068e7]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/3853c88898b84b7cab7cb2680f5b59fc,umb://media/c7ddbfbe9c224e11843585adfb558919,umb://media/151e3788b34f4623ad805ed2b5cef4ad,umb://media/60951123276747c2b30db07ca52b5c0b,umb://media/befad251f1644e3fb153c8e1e2c5498e,umb://media/2997a60e80634d1ba9f97efbb86068e7,umb://media/7dff3f26fd6841938655742eba335908,umb://media/e5294c9c9d7947d88bdfa8d0390c83f5,umb://media/86da6d07945c4798b90b4a1628d8446c,umb://media/8f254b2fee524c1d96ce178275b0f202]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Jugendliche im 10m Luftgewehr und Armbrust schiessen, Ferienspass 2021]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Ferienspass, Erlenacker, Luftgewehr, Armbrust, Jugendliche, 10m, Gönnervereinigung Erlenacker]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-10-22T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[FerienSpass 2021]]></Value>
    </title>
  </Properties>
</Content>