<?xml version="1.0" encoding="utf-8"?>
<Content Key="39d4103d-fc74-40ab-b5e3-4ca62f7967b3" Alias="Footer Configuration" Level="2">
  <Info>
    <Parent Key="be02714c-8dd8-4769-978c-78fc606b856a">Config</Parent>
    <Path>/Config/FooterConfiguration</Path>
    <Trashed>false</Trashed>
    <ContentType>footerConfig</ContentType>
    <CreateDate>2020-07-03T15:03:07</CreateDate>
    <NodeName Default="Footer Configuration" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <linkListTitle>
      <Value><![CDATA[Links]]></Value>
    </linkListTitle>
    <premiumSponsorTitle>
      <Value><![CDATA[Hauptsponsor]]></Value>
    </premiumSponsorTitle>
  </Properties>
</Content>