<?xml version="1.0" encoding="utf-8"?>
<Content Key="d608293b-787f-43a4-a5f1-45aa3bb4348e" Alias="Generalversammlung 2022" Level="3">
  <Info>
    <Parent Key="b4f764db-273d-4127-b2ac-1f1b15aae84f">Veranstaltungen</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Veranstaltungen/Generalversammlung2022</Path>
    <Trashed>false</Trashed>
    <ContentType>event</ContentType>
    <CreateDate>2021-10-22T14:25:54</CreateDate>
    <NodeName Default="Generalversammlung 2022" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16ade292-beef-4fbc-ad6e-df4a88badd82">Event</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Die definitive Einladung mit mehr Informationen folgt anfangs Dezember.</p>]]></Value>
    </content>
    <dateFrom>
      <Value><![CDATA[2022-01-21T07:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2022-01-21T07:00:00]]></Value>
    </dateTo>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/b4d486f2d7f542de987ca0618850b05b]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <location>
      <Value><![CDATA[Armbrustschützenhaus Buhwil-Neukirch]]></Value>
    </location>
    <metaDescription>
      <Value><![CDATA[Generalversammlung 2022]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Generalversammlung, Erlenacker, Buhwil, Neukirch, Kradolf-Schönenberg]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-10-22T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Generalversammlung 2022]]></Value>
    </title>
    <unknowDate>
      <Value><![CDATA[0]]></Value>
    </unknowDate>
  </Properties>
</Content>