<?xml version="1.0" encoding="utf-8"?>
<Content Key="622b0e6c-5405-47f8-9453-1ddef539bfe7" Alias="Generalversammlung 2021" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Generalversammlung2021</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-06-08T20:26:24</CreateDate>
    <NodeName Default="Generalversammlung 2021" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[fand wegen Covid-19 schriftlich statt]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>14. Generalversammlung</strong></p>
<p>Aufgrund der Corona Pandemie hat sich der Vorstand der Gönnervereinigung Nachwuchs Erlenacker entschieden, die 14. Generalversammlung auf dem schriftlichen Weg durchzuführen. Die für die Abstimmung nötigen Unterlagen wurden den Mitgliedern per Post zugestellt.</p>
<p>Die traktandierten Punkte konnten ordnungsgemäss abgehandelt werden und das Protokoll der 13. Generalversammlung sowie die Jahresrechnung wurden genehmigt. Des Weiteren freut es uns sehr, dass wir Markus Schönholzer und Martin Gerber neu im Vorstand begrüssen dürfen.</p>
<p>Die offizielle Verabschiedung von Petra Schär und Emil Wehrli aus dem Vorstand, werden wir im nächsten Jahr an der 15. Generalversammlung vornehmen.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/b9bce3bf4cfe4d1e98b9542f5969fdb7,umb://media/a3ab4908fa3b4ba1a403d047b94fbe0e]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/f77843b139764bc5b139b0bfce0abd5e]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/a9eee3ef6a5c44bb8b60870966686fd8,umb://media/24982edc8e634922b42fe71d0db59494,umb://media/940d357498684ba386dd766c1aa73538,umb://media/ba18a2b10e624aa0a595ad8bbae8737d,umb://media/9aff934a08f342cab2cd5a8af92b9abe]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Generalversammlung 2021, schriftlich statt, Wahlen, Ergebnis, Vorstand, Rücktritt, Gerber, Schönholzer, 14, Jahresbericht, Corona, ]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Generalversammlung 2021, schriftlich statt, Wahlen, Ergebnis, Vorstand, Rücktritt, Gerber, Schönholzer,14, Jahresbericht, Corona, ]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-06-08T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["hourly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[1.0]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Generalversammlung 2021]]></Value>
    </title>
  </Properties>
</Content>