<?xml version="1.0" encoding="utf-8"?>
<Content Key="b198fbea-1a19-4353-b05a-c269c607a42d" Alias="Generalversammlung 2020" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Generalversammlung2020</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-16T17:00:00</CreateDate>
    <NodeName Default="Generalversammlung 2020" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Armbrustschützenhaus, Buhwil-Neukirch an der Thur]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>Versammlung der Gönnervereinigung Nachwuchs Erlenacker</strong></p>
<p>An der 13. Generalversammlung der Gönnervereinigung Nachwuchsschützen Erlenacker legte Präsident Walter Gerber Rechenschalt über das vergangene Jahr ab und sprach über zukünftige Herausforderungen.</p>
<p>Fast die Hälfte aller Gönner hatten sich in der Schützenstube der Armbrustschützen Buhwil-Neukirch zur Versammlung eingefunden. Petra Schär verlas das letzte von ihren verfassten Protokollen. Im Vorstand geht die Protokollführung an Jasmin Schönholzer über. Präsident Walter Gerber dankte Petra Schär für die immer gut abgefassten Protokolle. Die Versammlung unterstrich das mit einem großen Applaus. Im Jahresbericht erwähnte der Präsidenten die vielfältige Unterstützung für die Nachwuchsabteilungen. Zur festen Tradition wird die Kostenübernahme des Ferienpasses sowie des Jugendcups, an welchem sich Mädchen und Knaben im Alter von sechs bis 16 Jahren mit der Armbrust oder dem Luftgewehr messen können erwähnt. Durch die finanzielle Unterstützung können sich die Nachwuchsleiter gezielter auf die Nachwuchsschützen konzentrieren, ohne sich Gedanken zu machen, ob dies oder jenes angeschafft werden kann oder nicht.</p>
<p><strong>Vorwärtsblicken</strong></p>
<p>Dass im Vorstand Änderungen angedacht sind, ist für den Präsidenten gut und wichtig. »Um nicht in festgefahrenen Strukturen zu verharren, ist es notwendig, dass sich von Zeit zu Zeit personelle Änderungen aufdrängen», sagte er in seinem Ausblick. Die von Emil Wehrli sauber präsentierte Jahresrechnung 2019 schliesst mit einem Vorschlag und wurde von den Mitgliedern mit einem kräftigen Applaus genehmigt. Der Vorstand beantragte der Versammlung eine Statutenrevision, welche die Unterstützung der Nachwuchsabteilungen genauer umschreibt. Auch wird es in Zukunft nicht mehr möglich sein, als Verein beizutreten, die Mitglieder sollen über die Geschäfte beschliessen und nicht Vereine oder einzelne Gruppen. In der Gönnervereinigung wird es auf Antrag des Vorstands keine Ehren- oder Freimitglieder geben. Mitglieder sind alle, die den Jahresbeitrag einzahlen. Nach drei Abgängen beträgt der Mitgliederbestand 103.</p>
<p><strong>Zwei Rücktritte</strong></p>
<p>Auf die ordentlichen Wahlen 2021 haben Petra Schär und Emil Wehrli ihre Rücktritte angemeldet. Beide waren von Anfang an dabei und haben die Gönnervereinigung wesentlich mitgeprägt. Es ist nun Aufgabe des Vorstandes, diese gewichtigen Lücken zu füllen. In diesem Jahr ist wieder ein Event mit den Mitgliedern geplant. Im September werden alle Mitglieder eingeladen, die Firma Von Siebental in Mauren zu besuchen.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/ca03091b678544ba95bda6302bf014c0,umb://media/c047a62dcc3d416b9b68430b2100e098,umb://media/2e91b4344cbf45b5996021f350888263]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/ca03091b678544ba95bda6302bf014c0]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/ca03091b678544ba95bda6302bf014c0,umb://media/b4d486f2d7f542de987ca0618850b05b]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2020-01-19T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Generalversammlung 2020]]></Value>
    </title>
  </Properties>
</Content>