<?xml version="1.0" encoding="utf-8"?>
<Content Key="5383d341-579f-4efb-841e-d101fadc0f57" Alias="Gerber Guido" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/GerberGuido</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-07-03T08:06:09</CreateDate>
    <NodeName Default="Gerber Guido" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Unteriberg]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Guido]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Gerber]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[8842]]></Value>
    </zipCode>
  </Properties>
</Content>