<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f5cd929-8f8d-46cf-aec9-83d3d71d68fb" Alias="Globale SEO Konfiguration" Level="2">
  <Info>
    <Parent Key="be02714c-8dd8-4769-978c-78fc606b856a">Config</Parent>
    <Path>/Config/GlobaleSEOKonfiguration</Path>
    <Trashed>false</Trashed>
    <ContentType>seoConfig</ContentType>
    <CreateDate>2020-07-03T19:12:50</CreateDate>
    <NodeName Default="Globale SEO Konfiguration" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[Unterstützung von Nachwuchsschützen mit Bezug zum Erlenacker.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung, Nachwuchs, Erlenacker, Schützen, Armbrustschützenverein, Schützenverein, Schiesssport, Luftgewehr, Armbrust, 300m, 30m, 10m, Jungschützen, Jugendcup, Ferienpass, Neukirch, Buhwil, Schönenberg, Kradolf, Kradolf-Schönenberg]]></Value>
    </metaKeywords>
  </Properties>
</Content>