<?xml version="1.0" encoding="utf-8"?>
<Content Key="67b7ca3c-8f48-4548-91c9-feb28c230850" Alias="Gönnertafel" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsorPage</ContentType>
    <CreateDate>2020-07-02T15:22:58</CreateDate>
    <NodeName Default="Gönnertafel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7070ba3a-5538-485a-8fc8-f8605aeba796">SponsorPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Ein herzliches Dankeschön! Ohne unsere zahlreichen Unterstützer aus dem privatem und gewerblichen Bereich könnte die Gönnervereinigung ihre Aufgaben nicht erfüllen. Dieser Bereich ist ganz unseren Gönnern gewidmet.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/0f0dc55205394d3e9b9bbd69a4fc5b85]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Die Mitglieder der Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Mitgliederliste, Gönnertafel, ]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[1.0]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Gönnertafel]]></Value>
    </title>
  </Properties>
</Content>