<?xml version="1.0" encoding="utf-8"?>
<Content Key="e16411fd-4685-4cfa-b530-a3a3b4908e14" Alias="Gönnervereinigung Nachwuchs Erlenacker" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2020-05-20T12:39:10</CreateDate>
    <NodeName Default="Gönnervereinigung Nachwuchs Erlenacker" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97a6ce04-8698-4e56-ba14-da9db4a3cf3e">homePage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Die Homepage der Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p style="text-align: center;"><strong>Werden auch Sie Gönner</strong></p>
<p style="text-align: center;"><a href="/mitglied-werden/" title="werde Gönner">Sie sind noch nicht Gönner? Dann wird es höchste Zeit. Füllen Sie noch heute das Formular aus und unterstützen Sie den Schützennachwuchs.</a></p>
<p style="text-align: center;"><img src="?width=225&amp;height=64&amp;mode=max" alt="" width="225" height="64" data-udi="umb://media/6c506ef7930a46b49ef15a44158abdef" /></p>]]></Value>
    </content>
    <emotionImage>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Unterstützung von Nachwuchsschützen mit Bezug zum Erlenacker.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <modules>
      <Value><![CDATA[[
  {
    "key": "4f67ca91-c885-423f-8b18-bffb031f2988",
    "name": "Item 1",
    "ncContentTypeAlias": "flyerTeaser",
    "image": "[\r\n  {\r\n    \"key\": \"1c3d5633-e319-44ec-a301-b8279630b18c\",\r\n    \"mediaKey\": \"08493904-8b94-490c-bc0c-e5823b6b4455\",\r\n    \"crops\": [],\r\n    \"focalPoint\": {\r\n      \"left\": 0.5,\r\n      \"top\": 0.5\r\n    }\r\n  }\r\n]",
    "text": "Jetzt bestellen, die GV-Erlenacker Tankkarte ",
    "targetLink": "[{\"name\":\"AVIA Gv-Tankkarte\",\"udi\":\"umb://document/0581da878dfd4e39b9de93612635f265\"}]"
  }
]]]></Value>
    </modules>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[1.0]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </title>
  </Properties>
</Content>