<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb52eb75-364b-4ed1-b56a-128f8cdc0bac" Alias="Header Configuration" Level="2">
  <Info>
    <Parent Key="be02714c-8dd8-4769-978c-78fc606b856a">Config</Parent>
    <Path>/Config/HeaderConfiguration</Path>
    <Trashed>false</Trashed>
    <ContentType>headerConfig</ContentType>
    <CreateDate>2020-06-25T07:21:55</CreateDate>
    <NodeName Default="Header Configuration" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <headerCarousel>
      <Value><![CDATA[umb://media/217250ecd39f4eb2922becd2658683fc,umb://media/a4fd099f9aea42769786836d7fed7834,umb://media/10fb05fa8b7844c6a734a118c589f841,umb://media/6eb614cff60344c0a2f7104974faf75d,umb://media/8727a24e7a9a46fdad0621be7f6687bc,umb://media/8b79e1596d2643b7b1b96f624e32c346]]></Value>
    </headerCarousel>
    <headerImageColorSaturation>
      <Value><![CDATA[90]]></Value>
    </headerImageColorSaturation>
    <headerImageOpacity>
      <Value><![CDATA[40]]></Value>
    </headerImageOpacity>
    <homeLink>
      <Value><![CDATA[http://gv-erlenacker.ch/]]></Value>
    </homeLink>
    <logo>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </logo>
  </Properties>
</Content>