<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5188885-a1d8-4b9a-9125-d282640be066" Alias="Herzlichen Dank" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/HerzlichenDank</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2022-02-16T20:38:36</CreateDate>
    <NodeName Default="Herzlichen Dank" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Luftgewehr 10m]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>Herzlichen Dank</strong></p>
<p>Vom 4. – 6. Februar 2022 fanden in Weinfelden die Finalwettkämpfe des Ostschweizer Sportschützen Verbandes statt. Mit dabei junge Talente, welche das Luftgewehrschiessen im Erlenacker erlernt haben. Details im Zeitungsbericht.</p>
<p>Wir von der Gönnervereinigung sind natürlich hoch erfreut über solche Erfolge, welche die Nachwuchsschützen, die bei uns im Erlenacker trainieren, feiern können. Das ist für uns auch immer wieder Motivation für unsere Arbeit. Nur dank unseren treuen Sponsoren und Spendern ist es uns möglich die Nachwuchsarbeit zu gebührend unterstützen. Was wir aber nicht vergessen dürfen, nur dank engagierten Nachwuchstrainern/Trainerinnen, welche einen grossen Teil ihrer Freizeit opfern, ist eine fruchtbare Nachwuchsausbildung erst möglich. Ganz herzlichen Dank allen Mitgliedern der Gönnervereinigung. Eure Beiträge werden wir auch in Zukunft einsetzen, um jungen Leuten eine sinnvolle Freizeitgestaltung zu fairen Bedingungen zu ermöglichen.</p>
<p>Im Namen des Vorstandes der Gönnervereinigung Nachwuchs Erlenacker</p>
<p> </p>
<p>Der Präsident</p>
<p><em>Walter Gerber</em></p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/895007b713354b56a8d8c8ef02ff9f63]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/fe779f45b1da4465a3c76391ffd3385a,umb://media/895007b713354b56a8d8c8ef02ff9f63,umb://media/fe1a5cb681324debbf4ed62705ab14fa,umb://media/5d18a6325c6649468646e3910adb0c37,umb://media/13a47d379b734e3185e2251858867eb0]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Nachwuchsschützen, 10m, Luftgewehr, Neukirch an der Thur, Buhwil, Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Nachwuchsschützen, 10m, Luftgewehr, Neukirch an der Thur, Buhwil, Erlenacker]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2022-02-16T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.7]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Finalwettkämpfe des Ostschweizer Sportschützen Verbandes 2022]]></Value>
    </title>
  </Properties>
</Content>