<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c8cb63b-cec2-4872-9d31-4a4eda5e2111" Alias="Impressum" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Impressum</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-15T09:41:31</CreateDate>
    <NodeName Default="Impressum" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Hier finden Sie das Impressum unserer Webseite]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Gönnervereinigung Nachwuchs Erlenacker<br />Bühlstrasse 15<br />9217 Neukirch an der Thur<br />Schweiz</p>
<p>E-Mail:<br />roger.meier@gv-erlenacker.ch</p>
<p> </p>
<p><strong>Vertretungsberechtigte Person(en)</strong></p>
<p>Roger Meier Webredakteur</p>
<p> </p>
<p><strong>Haftungsausschluss</strong></p>
<p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.</p>
<p>Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p>
<p>Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
<p> </p>
<p><strong>Haftungsausschluss für Links</strong></p>
<p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.</p>
<p> </p>
<p><strong>Urheberrechte</strong></p>
<p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich <strong>der juristischen Person Gönnervereinigung Nachwuchs Erlenacker</strong> oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.</p>
<p> </p>
<!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall geahndet wird.-->
<p><br />Quelle: <a rel="noopener" href="https://www.swissanwalt.ch" target="_blank">SwissAnwalt</a></p>
<!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allf&auml;llig anfallenden Kosten bei Weglassen der Quelle!-->
<p> </p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/da5017c9d96744c5a8107bc217c97f97]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[1]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Hier finden Sie unser Impressum]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Impressum]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[1]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Impressum]]></Value>
    </title>
  </Properties>
</Content>