<?xml version="1.0" encoding="utf-8"?>
<Content Key="7fd3ff65-6d62-40ed-b229-4f1fcddd1699" Alias="Infomail Neuregistrierung" Level="2">
  <Info>
    <Parent Key="52831ca0-6b2a-4c72-9dc8-d538cf45bcfa">Email Konfigurationen</Parent>
    <Path>/EmailKonfigurationen/InfomailNeuregistrierung</Path>
    <Trashed>false</Trashed>
    <ContentType>emailConfiguration</ContentType>
    <CreateDate>2020-11-15T12:01:48</CreateDate>
    <NodeName Default="Infomail Neuregistrierung" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Folgender Gönner hat sich neu auf der Webseite registriert. Dieser muss nach Bezahlung des Mitgliederbeitrages noch publiziert werden.</p>]]></Value>
    </body>
    <footer>
      <Value><![CDATA[<p style="color: red;"><strong>Dieses Email wurde automatisch generiert, bitte antworten Sie nicht darauf!</strong></p>]]></Value>
    </footer>
    <receiverEmails>
      <Value><![CDATA[roger.meier@gv-erlenacker.ch;roland.schenk@hoermoos.ch]]></Value>
    </receiverEmails>
    <salutationFemale>
      <Value><![CDATA[Hallo]]></Value>
    </salutationFemale>
    <salutationMale>
      <Value><![CDATA[Hallo]]></Value>
    </salutationMale>
    <senderEmail>
      <Value><![CDATA[no-reply@gv-erlenacker.ch]]></Value>
    </senderEmail>
    <subject>
      <Value><![CDATA[Ein neuer Gönner hat sich registriert]]></Value>
    </subject>
  </Properties>
</Content>