<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3614cba-13be-4cf0-8211-2e10bc4beedc" Alias="Isler Walter" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/IslerWalter</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2022-01-04T16:13:58</CreateDate>
    <NodeName Default="Isler Walter" />
    <SortOrder>111</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schweizersholz]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Walter]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[51]]></Value>
    </number>
    <street>
      <Value><![CDATA[Oberhaldenstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Isler]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9223]]></Value>
    </zipCode>
  </Properties>
</Content>