<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bca8c0c-a420-48e9-a26d-f77183b37ba1" Alias="Keller Anita" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/KellerAnita</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-12-22T08:44:03</CreateDate>
    <NodeName Default="Keller Anita" />
    <SortOrder>104</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schweizersholz]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Anita]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[1]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[15]]></Value>
    </number>
    <street>
      <Value><![CDATA[Andrütistrasse]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Keller]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9223]]></Value>
    </zipCode>
  </Properties>
</Content>