<?xml version="1.0" encoding="utf-8"?>
<Content Key="7141079f-303a-4467-9d54-439abac37b3b" Alias="Kindercamp 2021" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Kindercamp2021</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-10-22T14:13:16</CreateDate>
    <NodeName Default="Kindercamp 2021" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Sport, Spiel und Spass mit unseren Vereinen]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>Kindercamp 2021</strong></p>
<p>In der letzten Sommerferienwoche fand in der Gemeinde Kradolf-Schönenberg ein Kindercamp statt. Die ortsansässigen Kinder durften in dieser Woche einen Einblick in die verschiedenen Vereinsaktivitäten erhalten.</p>
<p>Weitere Infos finden Sie unter Kindercamp</p>
<p><a href="https://kradolf-schoenenberg.ch/news/lagerbericht-kindercamp-2021/" title="Kindercamp 2021">Lagerbericht Kindercamp 2021</a></p>
<p> </p>
<p><a href="http://www.asvbn.ch/nachwuchskurs30m2021.htm" title="ASV Buhwil-Neukirch">Anmeldung für Armbrustkurse 30m ASV Buhwil-Neukirch oder melde dich direkt bei Mara Schönholzer 079/ 911 32 48</a></p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/05f84fbf062c4fb58d07449751024b55]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/7f5fffa56cd647d5a3918db103a791aa]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Kindercamp 2021, Kradolf-Schönenberg]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Kindercamp, 2021, Armbrust, Kradolf-Schönenberg, Kinder]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-08-09T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Kindercamp 2021]]></Value>
    </title>
  </Properties>
</Content>