<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c3b4b34-d54d-4370-bbf5-44fc9d0a0df6" Alias="Knaus Ueli Sägerei+Holztrocknung" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/KnausUeliSagereiHolztrocknung</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-12-03T08:13:16</CreateDate>
    <NodeName Default="Knaus Ueli Sägerei+Holztrocknung" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Knaus Ueli Sägerei+Holztrocknung]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Ueli]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/3b5bd821a5714955b79d44261636710c]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[1]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[17]]></Value>
    </number>
    <street>
      <Value><![CDATA[Bühlstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Knaus]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>