<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc1bda88-7c5d-42db-8eb4-a2f5e65ee9e8" Alias="Kontaktmail Bestätigung Konfiguration" Level="2">
  <Info>
    <Parent Key="52831ca0-6b2a-4c72-9dc8-d538cf45bcfa">Email Konfigurationen</Parent>
    <Path>/EmailKonfigurationen/KontaktmailBestatigungKonfiguration</Path>
    <Trashed>false</Trashed>
    <ContentType>emailConfiguration</ContentType>
    <CreateDate>2020-11-16T07:23:20</CreateDate>
    <NodeName Default="Kontaktmail Bestätigung Konfiguration" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Vielen Dank für Ihre Kontaktaufnahme. Wir werden uns baldmöglichst bei Ihnen melden.</p>]]></Value>
    </body>
    <footer>
      <Value><![CDATA[<p><strong><span style="color: red;">Dieses Email wurde automatisch generiert, bitte antworten Sie nicht darauf!</span></strong></p>]]></Value>
    </footer>
    <receiverEmails>
      <Value><![CDATA[]]></Value>
    </receiverEmails>
    <salutationFemale>
      <Value><![CDATA[Grüezi]]></Value>
    </salutationFemale>
    <salutationMale>
      <Value><![CDATA[Grüezi]]></Value>
    </salutationMale>
    <senderEmail>
      <Value><![CDATA[no-reply@gv-erlenacker.ch]]></Value>
    </senderEmail>
    <subject>
      <Value><![CDATA[Vielen Dank für Ihre Nachricht]]></Value>
    </subject>
  </Properties>
</Content>