<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee86f6fc-3249-4a5f-80a5-665dc7eabbfd" Alias="Kontakt Infomail für Webmaster" Level="2">
  <Info>
    <Parent Key="52831ca0-6b2a-4c72-9dc8-d538cf45bcfa">Email Konfigurationen</Parent>
    <Path>/EmailKonfigurationen/KontaktInfomailFurWebmaster</Path>
    <Trashed>false</Trashed>
    <ContentType>emailConfiguration</ContentType>
    <CreateDate>2020-11-16T07:26:11</CreateDate>
    <NodeName Default="Kontakt Infomail für Webmaster" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Jemand möchte über die Website gv.erlenacker.ch Kontakt aufnehmen:</p>]]></Value>
    </body>
    <footer>
      <Value><![CDATA[<p><strong><span style="color: red;">Dieses Email wurde automatisch generiert, bitte antworten Sie nicht darauf!</span></strong></p>]]></Value>
    </footer>
    <receiverEmails>
      <Value><![CDATA[roger.meier@gv-erlenacker.ch; roland.schenk@hoermoos.ch]]></Value>
    </receiverEmails>
    <salutationFemale>
      <Value><![CDATA[Hallo]]></Value>
    </salutationFemale>
    <salutationMale>
      <Value><![CDATA[Hallo]]></Value>
    </salutationMale>
    <senderEmail>
      <Value><![CDATA[no-reply@gv-erlenacker.ch]]></Value>
    </senderEmail>
    <subject>
      <Value><![CDATA[Kontaktaufnahme über Website]]></Value>
    </subject>
  </Properties>
</Content>