<?xml version="1.0" encoding="utf-8"?>
<Content Key="93b336e8-d50d-4d31-9af4-0597cfe22d41" Alias="Kontakt" Level="3">
  <Info>
    <Parent Key="aceed634-0b6d-41fc-8ce0-b03a92a25059">Über uns</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/UberUns/Kontakt</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2020-11-16T06:58:18</CreateDate>
    <NodeName Default="Kontakt" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b6dbe9e5-d910-4dc9-9bb6-5a7cb19d4b2d">ContactFormPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Nehmen Sie mit uns Kontakt auf]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/2ea8b276467b44e9a4869d23a075c63a]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <labelCompany>
      <Value><![CDATA[Firma]]></Value>
    </labelCompany>
    <labelEmail>
      <Value><![CDATA[Email]]></Value>
    </labelEmail>
    <labelFirstname>
      <Value><![CDATA[Vorname]]></Value>
    </labelFirstname>
    <labelLogo>
      <Value><![CDATA[Logo]]></Value>
    </labelLogo>
    <labelName>
      <Value><![CDATA[Name]]></Value>
    </labelName>
    <labelPhone>
      <Value><![CDATA[Telefon]]></Value>
    </labelPhone>
    <labelSalutation>
      <Value><![CDATA[Anrede]]></Value>
    </labelSalutation>
    <labelStreet>
      <Value><![CDATA[Strasse]]></Value>
    </labelStreet>
    <labelType>
      <Value><![CDATA[Art der Gönnerschaft]]></Value>
    </labelType>
    <labelWebsite>
      <Value><![CDATA[Website]]></Value>
    </labelWebsite>
    <labelZipCity>
      <Value><![CDATA[Ort]]></Value>
    </labelZipCity>
    <metaDescription>
      <Value><![CDATA[Nehmen sie Kontakt mit uns auf]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Kontaktformular]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Kontakt]]></Value>
    </title>
  </Properties>
</Content>