<?xml version="1.0" encoding="utf-8"?>
<Content Key="09f2452f-36c4-49c7-b102-ae1641497f82" Alias="Käserei Gerber" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/KasereiGerber</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-09-30T14:36:06</CreateDate>
    <NodeName Default="Käserei Gerber" />
    <SortOrder>102</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Gerber Christian, Käserei]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Christian]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/2080bdb0eae747bea4455243c534d4b3]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Gerber]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>