<?xml version="1.0" encoding="utf-8"?>
<Content Key="256c581a-2b2a-424f-a960-305ac8c6a263" Alias="Lang Energie AG" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/LangEnergieAG</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2021-12-31T13:36:39</CreateDate>
    <NodeName Default="Lang Energie AG" />
    <SortOrder>108</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Kreuzlingen]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[lindner@langenergie.ch]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Lang Energie AG]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Sonia]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[1]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/43697a17dc7245fe9798663cdacffb28]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[13]]></Value>
    </number>
    <street>
      <Value><![CDATA[Seestrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Lindner]]></Value>
    </surname>
    <website>
      <Value><![CDATA[https://langenergie.ch/]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[8280]]></Value>
    </zipCode>
  </Properties>
</Content>