<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e096a0a-25f6-4f59-8091-8ee0da0503e6" Alias="Mitglied werden" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/MitgliedWerden</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2020-08-29T11:17:22</CreateDate>
    <NodeName Default="Mitglied werden" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3e8a55c-7245-4c59-820d-bac9323876e9">FormPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Sie sind noch nicht Gönner? Dann wird es höchste Zeit. Füllen Sie noch heute das Formular aus und unterstützen Sie den Schützennachwuchs. Herzlichen Dank schon im Voraus für Ihre freundliche Unterstützung.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/7b1f8f819e2b4e758d359804e97f9f26]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <labelCompany>
      <Value><![CDATA[Firma]]></Value>
    </labelCompany>
    <labelEmail>
      <Value><![CDATA[Email]]></Value>
    </labelEmail>
    <labelFirstname>
      <Value><![CDATA[Vorname]]></Value>
    </labelFirstname>
    <labelLogo>
      <Value><![CDATA[Logo]]></Value>
    </labelLogo>
    <labelName>
      <Value><![CDATA[Name]]></Value>
    </labelName>
    <labelPhone>
      <Value><![CDATA[Telefon]]></Value>
    </labelPhone>
    <labelSalutation>
      <Value><![CDATA[Anrede]]></Value>
    </labelSalutation>
    <labelStreet>
      <Value><![CDATA[Strasse]]></Value>
    </labelStreet>
    <labelType>
      <Value><![CDATA[Typ]]></Value>
    </labelType>
    <labelWebsite>
      <Value><![CDATA[Website]]></Value>
    </labelWebsite>
    <labelZipCity>
      <Value><![CDATA[Plz/Ort]]></Value>
    </labelZipCity>
    <metaDescription>
      <Value><![CDATA[Werden Sie noch heute Mitglied und unterstützen Sie die Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Mitgliedschaft, Gönner, Sponsor]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <pageContent>
      <Value><![CDATA[<p><strong>Ziele</strong></p>
<p>Förderung des sportlichen Schiessens der Jugend, welche in Verbindung mit den Erlenackerschützen und Armbrustschützen Buhwil-Neukirch stehen. Jugendliche anderer Vereine zu unterstützen ist möglich, wenn eine Beziehung zu diesen Vereinen besteht</p>
<p><a rel="noopener" href="/{localLink:umb://document/2b03c9f96a974527ade27bfe2044001c}" target="_blank" title="Statuten">Genehmigte Statuten vom 30.04.09</a></p>
<p><strong>Jahresbeiträge</strong></p>
<ul>
<li>natürliche Personen Fr. 50.00 (einfache Mitgliedschaft)</li>
<li>Gewerbe Fr. 150.00 (auf Gönnertafel vor den privaten Spendern, mit Logo, wenn vorhanden)</li>
<li>Gewerbe mit Link auf Homepage Fr. 300.00 (auf Gönnertafel vor den privaten Spendern mit Link auf Homepage)</li>
</ul>]]></Value>
    </pageContent>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Werden auch Sie Gönner]]></Value>
    </title>
  </Properties>
</Content>