<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f3f7844-e0b7-4b2b-ba5c-db27d2b3eebe" Alias="Munz AG" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/MunzAG</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-07-02T21:11:04</CreateDate>
    <NodeName Default="Munz AG" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schönenberg]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Munz AG]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Berhard]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/88dfc3ca49f04ed9a562cb271140e765]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[1]]></Value>
    </number>
    <street>
      <Value><![CDATA[Test]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Munz]]></Value>
    </surname>
    <website>
      <Value><![CDATA[https://sanitaer-munz.ch/]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9215]]></Value>
    </zipCode>
  </Properties>
</Content>