<?xml version="1.0" encoding="utf-8"?>
<Content Key="0297cd01-03c1-4240-a424-0fdfdcd93766" Alias="Nachwuchskurs Gewehr 10m" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/NachwuchskursGewehr10m</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-10-24T13:19:57</CreateDate>
    <NodeName Default="Nachwuchskurs Gewehr 10m" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Schiessanlage Erlenacker ]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Die Schützen Schönholzerswilen führen auch in diesem Winter auf der Schiessanlage Erlenacker in Neukirch an der Thur einen Luftgewehr G10 durch.<br />Eingeladen sind alle interessierten Jugendliche von 10 - 20 Jahren (Jahrgänge 2011 - 2002), die das sportliche Schiessen erlernen möchten.<br />Der Kurs wird nach den Richtlinien von Jugend+Sport durchgeführt und dauert von Oktober 2021 bis März 2022.</p>
<p> </p>
<p><strong>Was bieten wir:</strong></p>
<ul>
<li>fachkundige Ausbildung der Nachwuchsschützen in den verschiedenen Leistungsstufen "stehend-aufgelegt" und "stehend-frei"</li>
<li>Möglichkeit der Teilnahme an den verschiedenen regionalen und schweizerischen Wettkämpfen.</li>
</ul>
<p><strong>Das erwarten wir:</strong></p>
<ul>
<li>Interessiert Jugendliche, die den Schiesssport aktiv betreiben möchten.</li>
<li>regelmässige Teilnahme der Kurslektionen (mind. 15 Besuche).</li>
</ul>
<p> </p>
<p><strong>Kursort:</strong> Schiessanlage Erlenacker, Neukirch an der Thur</p>
<p><strong>Kurskosten:</strong> CHF 20.00</p>
<p><strong>Kurstage:</strong> immer mittwochs</p>
<p>Gruppe 1: 17.45 - 18.45 Uhr (max. 5 Teilnehmer)<br />Gruppe 2: 18.45 - 19.45 Uhr (max. 5 Teilnehmer)</p>
<p><em>Gruppe 3: 20.00 - 21.15 Uhr (ausgebucht)</em></p>
<p><strong>Kursstart 03. November 2021</strong><br /><br /><strong>Kursleitung:</strong> Andreas Gerber</p>
<p>Für Rückfragen steht Euch der Nachwuchschef Andreas Gerber 071 620 00 38 / 078 615 10 95) gerne zur Verfügung.</p>
<p><strong>Anmeldung bis Freitag 29.10.2021</strong></p>
<p><br /><br /><br /></p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/0a2af1356b924fa0984a38f437016da8,umb://media/d3014da572694306bf2aea79c00d22f9]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/befad251f1644e3fb153c8e1e2c5498e]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/4d5316a4423241ae9a0035ea9c011510]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Nachwuchskurs 10m, Gewehr, Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Nachwuchskurs 10m, Gewehr, Erlenacker,2021, 2022]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-10-24T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Nachwuchskurs Gewehr 10m]]></Value>
    </title>
  </Properties>
</Content>