<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea951fef-1cb1-4f9d-a7cf-c7ff057fac6c" Alias="Nationalmannschaft" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/Nationalmannschaft</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-07-26T21:05:53</CreateDate>
    <NodeName Default="Nationalmannschaft" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[herzliche Gratulation]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p style="text-align: center;">Lea Staub hat den Eintritt in die Nationalmannschaft Kader-B geschafft, <strong>herzliche Gratulation</strong>! Wir wünschen dir allzeit gut Schuss und viel Freude.</p>
<p style="text-align: center;">Dominic Negraszus hat ebenfalls den Schritt in die Nationalmannschaft geschafft (Kader-C), ebenfalls <strong>herzliche</strong> <strong>Gratulation</strong> und viel Erfolg!</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/b2a5e1ce4c75427094a8ead053e24307]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/b11dc4dff3e147ff86204f595508aee3,umb://media/b2a5e1ce4c75427094a8ead053e24307]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Nationalmannschaft, ASV]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Nationalmannschaft, ASV]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-07-26T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Eintritt in die Nationalmannschaft]]></Value>
    </title>
  </Properties>
</Content>