<?xml version="1.0" encoding="utf-8"?>
<Content Key="67999ad5-d251-4b2f-ace3-bfd00799d254" Alias="NAWU Verbändewettkampf 30m" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/NAWUVerbandewettkampf30m</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-07-26T16:02:21</CreateDate>
    <NodeName Default="NAWU Verbändewettkampf 30m" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Steinhausen, 07. Juli 2021]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p style="text-align: center;">Nach langer Wettkampfpause, durften die sechs Thurgauer Nachwuchs-Armbrustschützen ihr Können unter Beweis stellen.<br />Lea Staub, Michelle Schärer, Dominic Negraszus und Luca Vogel (blaue Shirts v.l., ASV Buhwil-Neukirch), welche von der Gönnervereinigung Erlenacker unterstütz werden, durften mithelfen den Sieg nach Hause zu holen. </p>
<p style="text-align: center;">In der Einzelwertung durfte Lea Staub mit 186 Punkten den zweiten Platz belegen. </p>
<p style="text-align: center;"> </p>
<p style="text-align: center;"><img src="?width=500&amp;height=375" alt="" width="500" height="375" data-udi="umb://media/c3910197ddd24003bae91ebc1be9dde0" /></p>
<p style="text-align: center;"><em>(Gruppenfoto mit Bruno Ingold (ASV Neuwilen) und Lucas Krammer (ASV Sulgen) (Foto v.l.) mit dabei)</em></p>
<p style="text-align: center;"> </p>
<p style="text-align: center;">Thurgauer Armbrustschützenverband<br /><strong>177.667 Punkte</strong></p>
<p style="text-align: center;">Ostschweizer Armbrustschützenverband<br /><strong>174.750 Punkte</strong></p>
<p style="text-align: center;">Zentralschweizer Armbrustschützenverband<br /><strong>169.400 Punkte</strong></p>
<p style="text-align: center;">Zürcher Kantonaler Armbrustschützenverband<br /><strong>168.167 Punkte</strong></p>
<p style="text-align: center;">Berner Kantonaler Armbrustschützenverband<br /><strong>161.000 Punkte</strong></p>
<p style="text-align: center;">Die Resultate setzten sich aus dem Durchschnitt aller Teilnehmer zusammen, je grösser ein Verband ist, desto mehr Nachwuchs dürfen am Wettkampf teilnehmen.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/1cd1ca6de6fe48d7916bbd3bf0848d96]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/c3910197ddd24003bae91ebc1be9dde0]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[1]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/50080258a22a4517905360084a2dc9fb,umb://media/b11dc4dff3e147ff86204f595508aee3,umb://media/b2a5e1ce4c75427094a8ead053e24307,umb://media/b7edb70e55c44974a28a527f43324a60,umb://media/d503a01e62cd499299f8fa043df37b7b,umb://media/90ea6a94b4e8457481b6144a2d0dc9bb,umb://media/1f51efdfb4cd493e9f870114e1f3e5c7]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Armbrust, 30m, Steinhausen, Staub, Negraszus, Schärer, Vogel, Nationalmannschaft, Armbrustschützenverband, Thurgau, Ostschweiz, Zürcher, Berner, Zentralschweiz, Wettkampf, ASV, Kader]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Armbrust, 30m, Steinhausen, Staub, Negraszus, Schärer, Vogel, Nationalmannschaft, Armbrustschützenverband, Thurgau, Ostschweiz, Zürcher, Berner, Zentralschweiz, Wettkampf, ASV, Kader]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-07-07T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[NAWU Verbändewettkampf 30m]]></Value>
    </title>
  </Properties>
</Content>