<?xml version="1.0" encoding="utf-8"?>
<Content Key="c69c4586-a04e-4075-9bc9-82465996a1c9" Alias="Neuer Hauptsponsor &quot; Lang Energie AG&quot;" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/NeuerHauptsponsorLangEnergieAG</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2022-01-04T15:31:17</CreateDate>
    <NodeName Default="Neuer Hauptsponsor &quot; Lang Energie AG&quot;" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Hauptsponsoring ]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>Hauptsponsoring</strong></p>
<p>Nach fünf Jahren Hauptsponsoring mit der Xenias Gastronomie AG, Schönenberg, endet dieser Vertrag. Wir möchten uns für das grosszügige Engagement ganz herzlich bedanken und hoffen, dass auch die Xenias Gastronomie profitieren konnte.</p>
<p>Natürlich sind wir nicht untätig geblieben, was einen neuen Hauptsponsor betrifft. Dass uns die momentane, wirtschaftliche Situation nicht gerade hilfreich war, ist leider eine Tatsache. Solche Engagements sind meistens nur mit persönlichen Beziehungen zu realisieren. So war es auch diesmal. Dank unserem Vorstandsmitglied Roger Meier, dürfen wir euch mitteilen, dass mit der <strong>Lang Energie AG</strong> ein neues Sponsoring zu Stande gekommen ist. Vorläufig auf ein Jahr befristet ist das fixe, finanzielle Engagement. Natürlich sind wir bestrebt dies zu verlängern.</p>
<p><img src="?width=175&amp;height=194&amp;mode=max" alt="" width="175" height="194" data-udi="umb://media/084939048b94490cbc0ce5823b6b4455" /></p>
<p><strong>Gv-Tankkarte</strong></p>
<p>Bei diesem Sponsoring wirst auch du als Mitglied profitieren können. Wer dieses Angebot nutzen möchte, kann eine <a href="https://langenergie.ch/gv-erlenacker.html" title="Lang Energie AG Tankkarte">Tankkarte von AVIA, bei Lang Energie AG</a>, beantragen. Dein Vorteil ist, den Treibstoff, Benzin oder Diesel mit der Tankkarte an einer Avia Tankstelle drei Rappen/Liter günstiger zu beziehen. Zusätzlich fliessen zwei Rappen/Liter in die Kasse der Gönnervereinigung. Die Tankkarte ist nicht befristet und auch weiter einsetzbar, auch wenn eine fixe Unterstützung durch Lang Energie AG nicht mehr gegeben ist. So fliessen weiterhin zwei Rappen/Liter in unsere Kasse und auch du wirst natürlich weiterhin von den drei Rappen/Liter profitieren. </p>
<p> </p>
<p>Die Nachwuchsschützen sind dir dankbar.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/cc49a4867b85432eabaede2bf5cb686b,umb://media/972498fed4a346eb8704554538a78d96]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/8a8050537ef449fc875fc61001abf5b3,umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Hauptsponsoring, Lang Energie AG, Gönnervereinigung Erlenacker, Buhwil, Neukirch an der Thur, Kradolf-Schönenberg]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Hauptsponsoring, Lang Energie AG, Gönnervereinigung Erlenacker, Buhwil, Neukirch an der Thur, Kradolf-Schönenberg]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2022-01-04T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Neuer Hauptsponsor " Lang Energie AG"]]></Value>
    </title>
  </Properties>
</Content>