<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9342e33-c82d-401a-93f0-48bba438f8d0" Alias="Neuer Hauptsponsor 2017" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/NeuerHauptsponsor2017</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-14T10:44:14</CreateDate>
    <NodeName Default="Neuer Hauptsponsor 2017" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Restaurant Klein Rigi]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>An der Jahresversammlung im Januar 2017 muss der Vorstand der Gönnervereinigung Nachwuchsschützen Erlenacker bekannt geben, dass der ausgelaufene Sponsoringvertrag mit der Swiss Live nicht ersetzt werden konnte. In der Zwischenzeit ist es der Gönnervereinigung gelungen, einen neuen Hauptsponsor zu finden.</p>
<p>Während der nächsten drei Jahre (mit der Option auf Verlängerung) unterstützt das Restaurant Klein Rigi die Nachwuchsschützen.</p>
<p>Der Vorstand ist sehr erfreut über die Zusammenarbeit und hofft, dass der <a href="https://kleinrigi.ch/" title="Klein Rigi">"Klein Rigi"</a> auch vom Sponsoring profitieren wird.</p>
<p>Das Bestreben der Gönnervereinigung ist, die jungen Leute, welche Freude am Schiesssport haben, weiter im gleichen Rahmen zu unterstützen.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/506147b30a15496fbde01d45d23d6fc7]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/dc4e8b2319734dfd853afba2761acd25]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/dc4e8b2319734dfd853afba2761acd25,umb://media/c0d7387c1e314453ab2ba820caa2ce00]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2017-12-01T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["hourly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Neuer Sponsor für den Nachwuchs ]]></Value>
    </title>
  </Properties>
</Content>