<?xml version="1.0" encoding="utf-8"?>
<Content Key="8676c197-01cf-466f-b538-dc688868b88b" Alias="Nufer Reto" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/NuferReto</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2021-09-26T10:10:26</CreateDate>
    <NodeName Default="Nufer Reto" />
    <SortOrder>107</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Sulgen]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[info@bettencenter-thurgau.ch]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Reto]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[10]]></Value>
    </number>
    <street>
      <Value><![CDATA[Gartenstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Nufer]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[8583]]></Value>
    </zipCode>
  </Properties>
</Content>