<?xml version="1.0" encoding="utf-8"?>
<Content Key="c48af386-f2f8-4a12-a350-58d5b9afd0fa" Alias="OSPSV Resultate G10m" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/OSPSVResultateG10m</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2022-01-02T11:53:28</CreateDate>
    <NodeName Default="OSPSV Resultate G10m" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[2021 / 2022 - G10m]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p><strong>Heimrunde OSPSV Gruppenmeisterschaft</strong><br /><br /></p>
<p style="text-align: left;"><strong>Rangliste Runde 1: U17 / U15 / U13</strong></p>
<p><img src="?width=352.5345622119816&amp;height=500" alt="GM Junioren U17 U15 U15" width="352.5345622119816" height="500" data-udi="umb://media/b598fdd198c04e57ae929bce6959e151" /></p>
<p><strong>Rangliste Runde 1: U21 / U19</strong></p>
<p><strong><img src="?width=352.5345622119816&amp;height=500" alt="GM Junioren U21 U19" width="352.5345622119816" height="500" data-udi="umb://media/03de4a020d564acf8535fb6693626fbc" /></strong></p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/83fd6dec17d24c0d97c14e4979316c5d,umb://media/dbc48cd784bf49e780c9ff15a49b8a74]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[OSPSV Gruppenmeisterschaft, G10, Schönholzerswilen]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[OSPSV Gruppenmeisterschaft, G10, Schönholzerswilen]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2022-01-02T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[OSPSV Resultate G10m]]></Value>
    </title>
  </Properties>
</Content>