<?xml version="1.0" encoding="utf-8"?>
<Content Key="05295355-5ee0-444c-a05b-729bcd55b907" Alias="Ostscheizer Jugendtag 10m" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/OstscheizerJugendtag10m</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2022-03-13T17:43:15</CreateDate>
    <NodeName Default="Ostscheizer Jugendtag 10m" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[eine super Leistung ]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Die 10m Luftgewehr-Saison 21/22 ist schon fast vorbei und die neun Jugendlichen zeigten an dem Ostschweizer Jugendtag ihre Bestleistung.</p>
<p><img src="?width=424&amp;height=318&amp;mode=max" alt="" width="424" height="318" data-udi="umb://media/37c31d4c92204b1fb6a96bfea9d175ff" /></p>
<p> </p>
<p> </p>
<p><strong>Herzlichen Glückwunsch den Medaillengewinnerinnen</strong></p>
<p> </p>
<p> <img src="?width=423&amp;height=317&amp;mode=max" alt="" width="423" height="317" data-udi="umb://media/841c6e16d3324f5da50cf3f31f728d38" /></p>
<p><strong>2. Rang</strong> Joya Brändli Silber</p>
<p><strong>3. Rang</strong> Natascha Sutter Bronze</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/25089cda32264f83b0e5848a3c073769]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/37c31d4c92204b1fb6a96bfea9d175ff]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/5a515e88b222498490ee7c682832cfe7,umb://media/24557252e9c9430a82c8916d2a65b202,umb://media/b1f22445326f4a039d95c7507f09be94,umb://media/37c31d4c92204b1fb6a96bfea9d175ff,umb://media/841c6e16d3324f5da50cf3f31f728d38]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[10m, Luftgewehr, Erlenacker, Schönholzerswilen, Neukirch an der Thur, Buhwil, Thurau, Jugendtag, Wil]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[10m, Luftgewehr, Erlenacker, Schönholzerswilen, Neukirch an der Thur, Buhwil, Thurau, Jugendtag, Wil]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2022-03-13T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.7]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Ostschweizer Jugendtag 10m, Thurau Wil SG]]></Value>
    </title>
  </Properties>
</Content>