<?xml version="1.0" encoding="utf-8"?>
<Content Key="632b4dc3-0200-4b74-911a-d149ae8bf86c" Alias="Partnervereine" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Partnervereine</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2020-11-12T20:11:54</CreateDate>
    <NodeName Default="Partnervereine" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a49221e6-5579-4398-96e0-0458e0819299">Blog</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Diese Partnervereine werden von uns unterstützt. Besuchen Sie doch auch deren Internetseiten, es lohnt sich.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/78173e0de4da4f84a2f3d2f5957e79fe]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Hier finden Sie Links zu unseren Partnervereinen]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Partnervereine, Neukirch, Buhwil, Kradolf, Schöneberg, Schönholzerswilen]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Partnervereine]]></Value>
    </title>
  </Properties>
</Content>