<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa2d3dd0-a3d2-4bdb-9c08-2e745dd41c58" Alias="Restaurant Sonne" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/RestaurantSonne</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-09-30T14:17:56</CreateDate>
    <NodeName Default="Restaurant Sonne" />
    <SortOrder>101</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Restaurant Sonne]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Cecilia]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/74e6f92433a1439bb9e9bac7a85cb314]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Willi]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>