<?xml version="1.0" encoding="utf-8"?>
<Content Key="48f3a37d-18b5-4e5c-a3c7-f279dc220cef" Alias="Restaurant Klein Rigi" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/RestaurantKleinRigi</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-07-02T21:04:35</CreateDate>
    <NodeName Default="Restaurant Klein Rigi" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schönenberg]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Restaurant Klein Rigi]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Test]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[1]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/d48035a0e23f4a82ba5e3f663aca0a0d]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[34]]></Value>
    </number>
    <street>
      <Value><![CDATA[Test]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Test]]></Value>
    </surname>
    <website>
      <Value><![CDATA[http://kleinrigi.ch/]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9215]]></Value>
    </zipCode>
  </Properties>
</Content>