<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3dc2367-3c89-4349-9d43-08a5d54ff45a" Alias="Restaurant Klein Rigi" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/RestaurantKleinRigi</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2022-01-28T16:34:37</CreateDate>
    <NodeName Default="Restaurant Klein Rigi" />
    <SortOrder>116</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schönenberg an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[info@kleinrigi.ch]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Restaurant Klein Rigi]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Klein Rigi]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/d48035a0e23f4a82ba5e3f663aca0a0d]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[31]]></Value>
    </number>
    <street>
      <Value><![CDATA[Thurbruggstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Restaurant]]></Value>
    </surname>
    <website>
      <Value><![CDATA[https://kleinrigi.ch/]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9215]]></Value>
    </zipCode>
  </Properties>
</Content>