<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b328b42-d705-4829-826d-1855621d5cd4" Alias="Restaurant Ochsen, Remag AG, Türen &amp; Zargen" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/RestaurantOchsenRemagAGTurenZargen</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-09-30T14:15:26</CreateDate>
    <NodeName Default="Restaurant Ochsen, Remag AG, Türen &amp; Zargen" />
    <SortOrder>100</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schönholzerswilen]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Restaurant Ochsen, Remag AG, Türen & Zargen]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Réne]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/9da9571a6a324f2792c915db8785fac6]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Maag]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[8577]]></Value>
    </zipCode>
  </Properties>
</Content>