<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e0151b6-1cf7-4ea1-8650-fbf61dd73b5d" Alias="Schenk Smart Solutions" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/SchenkSmartSolutions</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2020-11-12T16:50:52</CreateDate>
    <NodeName Default="Schenk Smart Solutions" />
    <SortOrder>103</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[Schenk Smart Solutions]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Roland]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/cbb6d8e6bbda47a89aa2e9604002bacc]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[53]]></Value>
    </number>
    <street>
      <Value><![CDATA[Hörmoos]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Schenk]]></Value>
    </surname>
    <website>
      <Value><![CDATA[http://www.schenk-smart-solutions.ch/]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>