<?xml version="1.0" encoding="utf-8"?>
<Content Key="552f4958-e1f8-4603-8a21-2738e0e5acc5" Alias="Schmid Werner &amp; Bösch Petra" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/SchmidWernerBoschPetra</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-07-03T09:10:36</CreateDate>
    <NodeName Default="Schmid Werner &amp; Bösch Petra" />
    <SortOrder>67</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schönenberg]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[& Bösch Petra]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Schmid Werner ]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9215]]></Value>
    </zipCode>
  </Properties>
</Content>