<?xml version="1.0" encoding="utf-8"?>
<Content Key="81d5352d-9f68-4a9d-94d5-525f03f0bb66" Alias="Schweizermeisterschaft Junioren 10m" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/SchweizermeisterschaftJunioren10m</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2022-02-26T09:43:25</CreateDate>
    <NodeName Default="Schweizermeisterschaft Junioren 10m" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Dominik Negraszus ist Schweizermeister Armbrust 10m kniend]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>An der Armbrust-Schweizermeisterschaft in Wil SG gewann Dominik Negraszus in der Wertung 10m kniend und Lea Staub holt den 3. Rang in der Wertung 10m stehend.</p>
<p> </p>
<p><strong>Armbrust Schweizermeisterschaft Junioren 10m kniend:</strong></p>
<p><strong>1. Rang</strong> Dominik Negraszus</p>
<p><img src="?width=431&amp;height=323&amp;mode=max" alt="" width="431" height="323" data-udi="umb://media/cab324dd6fc14444b58ee849d2506c42" /></p>
<p>14x10 in 16 Schüssen, <strong>was für ein Erfolg!</strong></p>
<p> </p>
<p><strong>5. Rang</strong> Lea Staub</p>
<p> </p>
<p><strong>Armbrust Schweizermeisterschaft Junioren 10m stehend:</strong></p>
<p> </p>
<p><strong><img src="?width=433&amp;height=325&amp;mode=max" alt="" width="433" height="325" data-udi="umb://media/ccba225c851e4d3b96ad243d75905658" /></strong></p>
<p> </p>
<p><strong>3. Rang</strong> Lea Staub</p>
<p><strong>4. Rang</strong> Dominik Negraszus</p>
<p> </p>
<p>Wir gratulieren Dominik und Lea herzlich zu dieser sensationellen Leistung.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[umb://media/a838c5785df84cd482df8cea8d8789c6,umb://media/d18ab8d0dfb348799a44a153e22d6cab]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/9f013eca86184e868011c55d8720203f]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/215009445050445f89be7ba036821b80,umb://media/9f013eca86184e868011c55d8720203f,umb://media/34faed9a0dce4fa6a529dac9f36b2ada,umb://media/ccba225c851e4d3b96ad243d75905658,umb://media/cab324dd6fc14444b58ee849d2506c42,umb://media/37bb03bfd32a4e1e843fa82a7a2f0a94]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Erlenacker, 10m, Armbrust, Meisterschaft, Junioren, Final, Rangliste, Wil]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Erlenacker, 10m, Armbrust, Meisterschaft, Junioren, Final, Rangliste, Wil]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2022-02-26T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.8]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Schweizermeisterschaft Armbrust: Dominik Negraszus gewinnt Gold, Lea Staub holt Bronze!]]></Value>
    </title>
  </Properties>
</Content>