<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcd9575d-4b4b-4ced-8f20-22924f3e201f" Alias="Schützen Schönholzerswilen" Level="3">
  <Info>
    <Parent Key="632b4dc3-0200-4b74-911a-d149ae8bf86c">Partnervereine</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Partnervereine/SchutzenSchonholzerswilen</Path>
    <Trashed>false</Trashed>
    <ContentType>basePage</ContentType>
    <CreateDate>2020-11-15T16:59:48</CreateDate>
    <NodeName Default="Schützen Schönholzerswilen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Unser Partnerverein Schützen Schönholzerswilen bietet Jungschützenkurse im Bereich 10m, 50m und 300m an. Besuchen Sie für weitere Informationen die Webseite der Schützen Schönholzerswilen.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/4d5316a4423241ae9a0035ea9c011510]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Schützen Schönholzerswilen]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Schützenverein, Schönholzerswilen]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[https://www.schuetzen-schoenholzerswilen.ch/]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Schützen Schönholzerswilen]]></Value>
    </title>
  </Properties>
</Content>