<?xml version="1.0" encoding="utf-8"?>
<Content Key="a472fb81-e3d8-4211-8b42-1e36836a2601" Alias="Schönholzer Christian" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/SchonholzerChristian</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2022-01-29T12:05:24</CreateDate>
    <NodeName Default="Schönholzer Christian" />
    <SortOrder>117</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Steg im Tösstal]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Christian]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[1]]></Value>
    </number>
    <street>
      <Value><![CDATA[Strick]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Schönholzer]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[8496]]></Value>
    </zipCode>
  </Properties>
</Content>