<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4d7386b-cc24-46af-ab7f-01f087b97099" Alias="sitemap" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>xmlSiteMap</ContentType>
    <CreateDate>2020-07-03T20:21:30</CreateDate>
    <NodeName Default="sitemap" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <excludedDocumentTypes>
      <Value><![CDATA[]]></Value>
    </excludedDocumentTypes>
  </Properties>
</Content>