<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3836a1b-91fb-4f7e-ab5b-1fce8dca4ea3" Alias="Staub Natascha" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/StaubNatascha</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2022-01-04T16:17:02</CreateDate>
    <NodeName Default="Staub Natascha" />
    <SortOrder>112</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Schönenberg]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[natascha.staub@bluewin.ch]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Natascha]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[10b]]></Value>
    </number>
    <street>
      <Value><![CDATA[Oberdörfli]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Staub]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9215]]></Value>
    </zipCode>
  </Properties>
</Content>