<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c00a8b6-bf1c-4904-ac3f-881f3d456b3c" Alias="Sutter Astrid" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/SutterAstrid</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-07-03T09:20:30</CreateDate>
    <NodeName Default="Sutter Astrid" />
    <SortOrder>83</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Hosenruck]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Astrid]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Sutter]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9515]]></Value>
    </zipCode>
  </Properties>
</Content>