<?xml version="1.0" encoding="utf-8"?>
<Content Key="58f14957-fa4d-49ae-8420-958e30f13fc4" Alias="Swisslife Pius Hollenstein" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/SwisslifePiusHollenstein</Path>
    <Trashed>false</Trashed>
    <ContentType>businessSponsor</ContentType>
    <CreateDate>2022-01-04T15:50:38</CreateDate>
    <NodeName Default="Swisslife Pius Hollenstein" />
    <SortOrder>109</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Amriswil]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[pius.hollenstein@swisslife.ch]]></Value>
    </eMail>
    <factoryName>
      <Value><![CDATA[SwissLife Pius Hollenstein]]></Value>
    </factoryName>
    <firstname>
      <Value><![CDATA[Pius]]></Value>
    </firstname>
    <isPremiumSponsor>
      <Value><![CDATA[0]]></Value>
    </isPremiumSponsor>
    <logo>
      <Value><![CDATA[umb://media/48e7ff9a35e64970930945188afd8f43]]></Value>
    </logo>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[35]]></Value>
    </number>
    <street>
      <Value><![CDATA[Nordstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Hollenstein]]></Value>
    </surname>
    <website>
      <Value><![CDATA[]]></Value>
    </website>
    <zipCode>
      <Value><![CDATA[8580]]></Value>
    </zipCode>
  </Properties>
</Content>