<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4f764db-273d-4127-b2ac-1f1b15aae84f" Alias="Veranstaltungen" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Veranstaltungen</Path>
    <Trashed>false</Trashed>
    <ContentType>eventList</ContentType>
    <CreateDate>2020-11-11T07:21:30</CreateDate>
    <NodeName Default="Veranstaltungen" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="52d77d32-aa92-416f-bc25-bc65c7dcf99e">EventList</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Hier stehen die Veranstaltungen]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/61214b3ee3424132977b538c349bfb07]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Hier finden Sie unsere Veranstaltungen]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Veranstaltungen, Events, Gönnervereinigung Erlenacker]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[1.0]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Veranstaltungen]]></Value>
    </title>
  </Properties>
</Content>