<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a9f9afd-3478-452f-a35d-6bf0d84c8e4e" Alias="Vermietung der 10m-Anlage" Level="3">
  <Info>
    <Parent Key="aceed634-0b6d-41fc-8ce0-b03a92a25059">Über uns</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/UberUns/VermietungDer10mAnlage</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2021-07-17T08:57:12</CreateDate>
    <NodeName Default="Vermietung der 10m-Anlage" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Im Erlenacker Schützenhaus]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Die moderne 10m-Anlage mit fünf Scheiben ist im Dachgeschoss untergebracht. Die Anlage kann komplett mit Gewehren (Luftgewehr, Armbrust), Bekleidung und Betreuung durch Mitglieder der Gönnervereinigung gemietet werden.</p>
<p>Mietpreis für die 10m Anlage: 100.- Fr. + Betreuer 25.- Fr./Std</p>
<p><strong>Kontakt für Anfragen und weitere Infos</strong></p>
<p><a href="mailto:gerber-walter@bluewin.ch" title="Gerber Walter">Gerber Walter</a></p>
<p> </p>
<p><a href="https://erlenacker.ch/schiessanlage-schuetzenstube/schuetzenstube/" title="Schützenstube"><strong>Vermietung Schützenstube</strong></a></p>
<p>Die Schützenstube in der Schiessanlage Erlenacker bietet Platz für ca. 35-40 Personen. Dazu stehen auch die Toiletten, sowie eine sehr gut ausgestattete Küche zur Verfügung.</p>
<ul>
<li>Küche mit Geschirrspüler, Induktionskochfeld, Kühlschrank und Kaffeemaschine</li>
<li>Gläser, Geschirr und Besteck</li>
<li>Festbankgarnituren</li>
<li>Toiletten</li>
<li>Vorplatz mit genügend Parkplätzen</li>
</ul>
<p>Auf Anfrage ist die Vermietung mit Bewirtung und Getränke gegen Aufpreis möglich</p>
<p style="text-align: left;"> </p>
<p style="text-align: left;"><strong>Mietpreise</strong></p>
<p style="text-align: left;">100.- Fr. für Mitglieder der Erlenackerschützen </p>
<p style="text-align: left;">150.- Fr. für Vereine von der Gemeinde Kradolf-Schönenberg </p>
<p style="text-align: left;">250.- Fr. für übrige Mieter                                                                                                 </p>
<p style="text-align: left;"> </p>
<p>Auskünfte für Vermietung: Sibylle Frick, 079/132 56 74 oder <a href="mailto:info@erlenacker.ch">info@erlenacker.ch</a></p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/d518303e26974492aeb911fc39f9da00]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/f85cf9ab2ac44fed97adde70c1503319,umb://media/3c0498f8051d4b36ab11fdaaa73693b7,umb://media/8b79e1596d2643b7b1b96f624e32c346,umb://media/d518303e26974492aeb911fc39f9da00,umb://media/66679acc3007434da4ab885bf520f47b,umb://media/959b5812a4b449e880ae5c52f7396ef8,umb://media/6aba2b6294df43b2b248882b29e2d609]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Vermietung, 10m, Erlenacker, Schützenstube]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Vermietung, 10m, Erlenacker, Schützenstube]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2021-07-17T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["always"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Vermietung der 10m-Anlage]]></Value>
    </title>
  </Properties>
</Content>