<?xml version="1.0" encoding="utf-8"?>
<Content Key="431a1a90-e036-4e11-a350-8716af40a77e" Alias="Vorstand" Level="3">
  <Info>
    <Parent Key="aceed634-0b6d-41fc-8ce0-b03a92a25059">Über uns</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/UberUns/Vorstand</Path>
    <Trashed>false</Trashed>
    <ContentType>memberboard</ContentType>
    <CreateDate>2020-11-11T15:59:27</CreateDate>
    <NodeName Default="Vorstand" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c4c294c6-7ae9-4e36-b33e-7287c6e32dbe">Memberboard</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Erfahren Sie mehr über den Vorstand  der Gönnervereinigung]]></Value>
    </abstract>
    <boardMembers>
      <Value><![CDATA[[
  {
    "key": "a81a87af-540f-48a0-a623-74639a9327e4",
    "name": "Item 1",
    "ncContentTypeAlias": "boardMember",
    "function": "Präsident",
    "surname": "Gerber",
    "firstname": "Walter",
    "email": "walter.gerber@gv-erlenacker.ch",
    "image": "umb://media/1a82451604c141fea19201378dbb4c58"
  },
  {
    "key": "0fcf968e-a488-400e-af1f-b59a282a4e27",
    "name": "Item 2",
    "ncContentTypeAlias": "boardMember",
    "function": "Vize Präsident",
    "surname": "Schönholzer",
    "firstname": "Markus",
    "email": "markus.schoenholzer@gv-erlenacker.ch",
    "image": "umb://media/940d357498684ba386dd766c1aa73538"
  },
  {
    "key": "a5a97869-fba1-4c9e-8c25-2c20a63f66b3",
    "name": "Item 3",
    "ncContentTypeAlias": "boardMember",
    "function": "Kassier",
    "surname": "Gerber",
    "firstname": "Martin",
    "email": "martin.gerber@gv-erlenacker.ch",
    "image": "umb://media/24982edc8e634922b42fe71d0db59494"
  },
  {
    "key": "baffd7c4-02bc-4ebb-b77c-b665d85e4864",
    "name": "Item 4",
    "ncContentTypeAlias": "boardMember",
    "function": "Aktuarin",
    "surname": "Schönholzer",
    "firstname": "Jasmin",
    "email": "jasmin.schoenholzer@gv-erlenacker.ch",
    "image": "umb://media/636cf930d3d6457a836ca461b34860fd"
  },
  {
    "key": "c43d6305-202f-4e07-a95b-55138729dbc6",
    "name": "Item 5",
    "ncContentTypeAlias": "boardMember",
    "function": "Content-Verantwortlicher",
    "surname": "Meier",
    "firstname": "Roger",
    "email": "roger.meier@gv-erlenacker.ch",
    "image": "umb://media/3f2895a1fade40c598d684f71e273c97"
  }
]]]></Value>
    </boardMembers>
    <emotionImage>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaDescription>
      <Value><![CDATA[Der Vorstand der Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Vorstand]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Vorstand]]></Value>
    </title>
  </Properties>
</Content>