<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2fafc1a-0f21-414c-b798-4062a4c8991b" Alias="Weber Ursi" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/WeberUrsi</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-07-03T09:23:19</CreateDate>
    <NodeName Default="Weber Ursi" />
    <SortOrder>88</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Ursi]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Weber]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>