<?xml version="1.0" encoding="utf-8"?>
<Content Key="50e0fee3-d59e-4a48-a023-006f4f8706b0" Alias="Wegmann Peter" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/WegmannPeter</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2022-01-04T16:18:09</CreateDate>
    <NodeName Default="Wegmann Peter" />
    <SortOrder>113</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Kradolf]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[zentrum.mary@hotmail.com]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Peter]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[0]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[5]]></Value>
    </number>
    <street>
      <Value><![CDATA[Zentrum]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Wegmann]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9214]]></Value>
    </zipCode>
  </Properties>
</Content>