<?xml version="1.0" encoding="utf-8"?>
<Content Key="3648a03d-12c0-4788-b10c-0598022cad0a" Alias="Wunschtraum geht in Erfüllung" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/WunschtraumGehtInErfullung</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-21T18:10:30</CreateDate>
    <NodeName Default="Wunschtraum geht in Erfüllung" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[10m Anlage]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Jetzt steht den Schützen im Erlenacker auch eine 10-Meter-Anlage für Luftgewehr und Armbrust zur Verfügung. Möglich wurde dies nicht zuletzt dank grosszügiger Sponsoren.</p>
<p>«Was lange währt, wird endlich gut», freute sich Walter Schönholzer, Gemeindeammann von Kradolf-Schönenberg, bei der offiziellen Eröffnung der neuen 10-Meter-Anlage im Schützenhaus Erlenacker. Der Kreis hatte sich geschlossen. Nachdem vor sechs Jahren die schmucke 300-Meter-Anlage im Erlenacker bezogen worden ist und sich inzwischen der Verein Erlenacker-Schützen gebildet hat, ist mit der 10-Meter-Anlage ein Wunschtraum in Erfüllung gegangen.</p>
<p><strong>Weitsichtige Planung</strong></p>
<p>Walter Schönholzer unterstrich die weise Vorausplanung, die sich bereits beim Bau des Schützenhauses gezeigt hatte. So waren damals Vorbereitungsarbeiten im Dachgeschoss des Schützenhauses ausgeführt worden. Inzwischen wurden die finanziellen Mittel aufgebracht, um im vergangenen Winter die 10-Meter-Anlage zu verwirklichen.</p>
<p>«Es ist wohl eine einmalige Sache, dass sich eine &lt;Gönnervereinigung Nachwuchs Erlenacker&gt; gebildet hat, um das Projekt finanziell zu unterstützen», hob der Gemeindeammann hervor.</p>
<p>Wichtige Leute bei der Förderung der neuen Anlage seien Walter Gerber, Jakob Stark und Willi Brenner gewesen, erklärte Schönholzer. Die Kosten der Anlage – inklusive der bereits beim Bau des Schützenhauses ausgeführten Vorarbeiten – betragen 140'000 Franken.</p>
<p>Hansruedi Müller, Präsident der Erlenacker-Schützen, legte dar, dass 8'000 Franken von der Gemeinde Kradolf-Schönenberg, 25'000 Franken vom kantonalen Sport-Toto-Fonds und 18'000 Franken von rund 75 Mitgliedern der Gönnervereinigung beigesteuert wurden. «Der Rest wurde mittels Fronarbeit durch Mitglieder des Schützenvereins und der Armbrustschützen erbracht, so dass wir bezüglich der 10-Meter-Anlage schuldenfrei sind», stellte Müller erfreut fest.</p>
<p>Die offizielle Einweihung erfolgte am vergangenen Sonntag, doch die Feuerprobe hatte die prächtige Anlage zu diesem Zeitpunkt längst bestanden.</p>
<p><strong>Zehn Sportgeräte angeschafft</strong></p>
<p>Die technischen Details der 10-Meter-Anlage erklärte Walter Gerber: «Errichtet wurden fünf Scheiben, die für Luftgewehr- und Armbrustschiessen kombinierbar sind. Dazu wurden fünf Druckluftgewehre und fünf Armbrust-Sportgeräte beschafft.</p>
<p>»Erbaut wurde die Anlage von Herbst 2009 bis Januar 2010. Mit ihr verfolge man das Ziel, Jugendlichen den Schiesssport näherzubringen und Mitgliedern die Möglichkeit zu bieten, während des ganzen Jahres zu schiessen», sagte Hansruedi Müller. Er versicherte, dass die Gönnervereinigung weiter für die Sache einstehen werde. So würde man sich an den Ausbildungskosten für Trainer beteiligen.</p>
<p>Bereits am kommenden Montag, 8. November, beginnt im Erlenacker ein neuer Jungschützenkurs. Bei diesem werden 12 bis 15 Teilnehmer erwartet.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/a7ddc6a8afad4deaaa6e16255fb98380]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/a7ddc6a8afad4deaaa6e16255fb98380]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2010-11-01T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["hourly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[0]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Wunschtraum geht in Erfüllung]]></Value>
    </title>
  </Properties>
</Content>