<?xml version="1.0" encoding="utf-8"?>
<Content Key="15a7a20c-db65-4ef5-9ceb-e33c6aafabc3" Alias="Wüthrich Beat" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/WuthrichBeat</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2020-07-03T09:27:30</CreateDate>
    <NodeName Default="Wüthrich Beat" />
    <SortOrder>94</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Oberaach]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Beat]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[]]></Value>
    </number>
    <street>
      <Value><![CDATA[]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Wüthrich]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[8587]]></Value>
    </zipCode>
  </Properties>
</Content>