<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d209f6c-1992-4688-8a84-dd4caeea5f17" Alias="Zum ersten Mal eine Armbrust in der Hand halten" Level="3">
  <Info>
    <Parent Key="9dc0eca4-7034-478e-9d08-a132ce942758">Blog</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Blog/ZumErstenMalEineArmbrustInDerHandHalten</Path>
    <Trashed>false</Trashed>
    <ContentType>newspage</ContentType>
    <CreateDate>2020-11-14T08:38:22</CreateDate>
    <NodeName Default="Zum ersten Mal eine Armbrust in der Hand halten" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65c32e22-fd15-4927-94c5-523b10f593e1">Newspage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Tagblatt Ausgabe 2018]]></Value>
    </abstract>
    <content>
      <Value><![CDATA[<p>Im Rahmen des Ferienpasses boten die Erlenackerschützen aus Kradolf-Schönenberg ein Kennenlernen mit dem Sport an. Beim anschliessenden Jugendcup gab es gute Ergebnisse.</p>
<p>Im Erlenacker ist so einiges los. Ferienpass und Jugendcup sind der Auftakt in die nahende Wintersaison im 10-Meter-Schiessen. Oft ist der Ferienpass Motivation einen J&amp;S für Luftgewehr oder einen Nachwuchskurs der Armbrustschützen im Winter zu besuchen.</p>
<p>Dass der Ferienpass des Elternvereins Aach Thurland beliebt ist, ist hinlänglich bekannt, und dass die freiwilligen Frauen rund um diesen Ferienpass einen ausgezeichneten Job machen wird eigentlich viel zu wenig geschätzt. Das Organisieren der sehr vielfältigen Angebote für den Ferienpass ist eine anspruchsvolle Aufgabe, welche von den Frauen des Elternvereins mit viel Herzblut gemacht wird.</p>
<p><strong>Nachwuchskommission hilft beim Ferienpass</strong></p>
<p>Seit einigen Jahren ist auch die Nachwuchskommission der Erlenackerschützen mit von der Partie und mit viel Freude wird der Jugend der Schiesssport nähergebracht. Armbrust- und Luftgewehrschiessen sind im Angebot und werden von den Schülerinnen und Schülern rege benutzt. Auch sind die beiden Angebote in der Regel immer ausgebucht.</p>
<p>Um den Schiesssport besser kennen zu lernen ist der Ferienpass ideal. Dass der Umgang mit einem Gewehr anspruchs- und verantwortungsvoll ist, lernen die Kinder bereits am Anfang des rund zweistündigen Schnupperns. Gross war jeweils die Freude, wenn ein Schuss mitten ins Schwarze traf. Kurz nach dem Ferienpass findet auf der 10m Schiessanlage im Erlenacker der Jugendcup statt. So auch dieses Jahr wieder, bereits zum neunten Mal.</p>
<p><strong>35 versuchten ihr Glück</strong></p>
<p>So kamen 35 Jugendliche der Jahrgänge 2002-2010 aus der näheren Umgebung, um ihre Schiesskünste unter Beweis zu stellen. Einige waren darunter, welche, inspiriert vom Ferienpass, ihr Glück versuchten. Zehn Schüsse mit der Armbrust oder dem Luftgewehr möglichst ins Zentrum der Scheibe zu schiessen war das Ziel.</p>
<p>Am besten gelang das Luca Vogel aus Götighofen mit 94 Punkten gefolgt von Lukas Zürcher (89) aus Schönholzerswilen, vor seinem Bruder Patrick (85), Vincent Mock, Schönenberg (84), Robin Zwick, Bischofszell (83), Sandro Correia, Mettlen (82) und Silas Kradolfer, Riedt (81). Diese Schützen durften einen Kinogutschein für ihre ausgezeichneten Leistungen in Empfang nehmen.</p>
<p><strong>Auch einige Mädchen waren dabei</strong></p>
<p>Alle Teilnehmer, welche mindestens 65 Punkte erreichten erhielten eine Neukircher Anisguetsli-Sonne. Gesponsert wird der Jugendcup jeweils von der Gönnervereinigung Nachwuchs Erlenacker. Dank dieser Organisation ist der Anlass für die Teilnehmer kostenlos. Erfreulich auch, dass wiederum einige Mädchen dabei waren. Frauen sind in der Schützenszene seit längerer Zeit sehr erfolgreich etabliert.</p>
<p>Wer im Schiessen besser treffen möchte, hat die Möglichkeit, dass in einem J&amp;S Kurs für Luftgewehr oder einen Nachwuchskurs mit der Armbrust zu vertiefen. Um konstant auf ansprechendem Niveau schiessen zu können, brauchtes aber eine grosse Portion Durchhaltewillen um Erfolg zu haben. Die Kurse sind anspruchsvoll und dauern vom November bis im März.</p>]]></Value>
    </content>
    <documents>
      <Value><![CDATA[]]></Value>
    </documents>
    <emotionImage>
      <Value><![CDATA[umb://media/c2045b755ff34b97ab16640d70072b5c]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <images>
      <Value><![CDATA[umb://media/c2045b755ff34b97ab16640d70072b5c]]></Value>
    </images>
    <metaDescription>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <releaseDate>
      <Value><![CDATA[2018-10-01T00:00:00]]></Value>
    </releaseDate>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["daily"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <showOnStartpage>
      <Value><![CDATA[1]]></Value>
    </showOnStartpage>
    <title>
      <Value><![CDATA[Zum ersten Mal eine Armbrust in der Hand halten]]></Value>
    </title>
  </Properties>
</Content>