<?xml version="1.0" encoding="utf-8"?>
<Content Key="8142ac20-8348-4926-b92f-46bf083fead8" Alias="Zürcher Patrick" Level="3">
  <Info>
    <Parent Key="67b7ca3c-8f48-4548-91c9-feb28c230850">Gönnertafel</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/Gonnertafel/ZurcherPatrick</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2021-08-16T17:02:28</CreateDate>
    <NodeName Default="Zürcher Patrick" />
    <SortOrder>105</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bfd813cc-1b9a-490a-b754-80cf76a1d9d9">Sponsor</Template>
  </Info>
  <Properties>
    <city>
      <Value><![CDATA[Neukirch an der Thur]]></Value>
    </city>
    <eMail>
      <Value><![CDATA[paeduzueri84@gmx.ch]]></Value>
    </eMail>
    <firstname>
      <Value><![CDATA[Patrick]]></Value>
    </firstname>
    <mebershipPayed>
      <Value><![CDATA[1]]></Value>
    </mebershipPayed>
    <memberFee>
      <Value><![CDATA[]]></Value>
    </memberFee>
    <number>
      <Value><![CDATA[20]]></Value>
    </number>
    <street>
      <Value><![CDATA[Bühlstrasse ]]></Value>
    </street>
    <surname>
      <Value><![CDATA[Zürcher]]></Value>
    </surname>
    <zipCode>
      <Value><![CDATA[9217]]></Value>
    </zipCode>
  </Properties>
</Content>