<?xml version="1.0" encoding="utf-8"?>
<Content Key="aceed634-0b6d-41fc-8ce0-b03a92a25059" Alias="Über uns" Level="2">
  <Info>
    <Parent Key="e16411fd-4685-4cfa-b530-a3a3b4908e14">Gönnervereinigung Nachwuchs Erlenacker</Parent>
    <Path>/GonnervereinigungNachwuchsErlenacker/UberUns</Path>
    <Trashed>false</Trashed>
    <ContentType>sectionPage</ContentType>
    <CreateDate>2020-07-03T10:26:04</CreateDate>
    <NodeName Default="Über uns" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="85afddc6-a04f-4507-8662-62cc09a45b01">SectionPage</Template>
  </Info>
  <Properties>
    <abstract>
      <Value><![CDATA[Wer sind wir? Was tun wir? In diesem Bereich finden Sie Antworten auf all diese Fragen.]]></Value>
    </abstract>
    <emotionImage>
      <Value><![CDATA[umb://media/6c506ef7930a46b49ef15a44158abdef]]></Value>
    </emotionImage>
    <hideFromNavi>
      <Value><![CDATA[0]]></Value>
    </hideFromNavi>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <mainContent>
      <Value><![CDATA[<h1 style="text-align: left;">Idee Gönnervereinigung</h1>
<p>Im Jahre 2004 bauten die drei Schützenvereine Buhwil, Neukirch an der Thur und Schönenberg-Kradolf im Erlenacker eine neue 300m Schiessanlage. Schon damals hatte man den nötigen Weitblick für eine gezielte Nachwuchsförderung und dachte daran irgendwann im Obergeschoss eine 10m Anlage für Druckluftwaffen zu bauen. Also nahm man diverse Mehrinvestitionen in Kauf, welche sonst nicht notwendig gewesen wären. Gesamthaft beliefen sich diese auf Fr. 60‘000.– . Es mussten zu diesem Zweck eine Betondecke über dem 300m Schiessraum, höhere Aussenwände, Fenster im Obergeschoss, eine Treppe usw. zusätzlich gebaut werden. Eine grosse Schuldenlast übernahmen die drei Schützenvereine, gesamthaft ca. Fr. 500‘000.– und so war es verständlich, dass das mit der 10m Anlage erst mal in den Hintergrund gestellt wurde.</p>
<p>Auf Initiative von Walter Gerber hin suchten fünf Personen nach einem gangbaren Weg, diese Idee nicht einschlafen zu lassen. Und wo ein Wille ist, ist bekanntlich auch ein Weg: Gönnervereinigung, so heisst das Zauberwort sagten sich 5 Mitglieder der Erlenackerschützen und gründeten am 1. Juni 2007 den Verein. Leute, welche dem Schiesssport gut gesinnt sind wurden angeschrieben und das Echo war erstaunlich positiv. Als erster Hauptsponsor konnten wir die Raiffeisenbank Sulgen gewinnen, welche die Idee der Gönnervereinigung für fünf Jahre grosszügig unterstützt hat. Dem Vorstand, welchem Peter Frieden, Hämi Roth, Petra Schär, Emil Wehrli und Walter Gerber angehören war schnell klar, dass diese Anlage nicht nur den 300m Schützen als Ausbildungszentrum dienen soll, sondern auch für die Armbrustschützen eine neue Heimat im Bereich des 10m Schiessens werden soll.</p>
<p>Am 12. November 2007 trat die Baukommission der 10m Anlage erstmals in Aktion, wo auch die Armbrustschützen von Anfang an dabei waren. Nach intensiver Planung trug man die anfallenden Kosten zusammen und suchte nach Wegen für die Finanzierung. Das ganze Prozedere wurde unter die Schirmherrschaft der Gönnervereinigung gestellt. Nachdem die Finanzierung gesichert war durch namhafte Beiträge von Kanton, Gemeinde, Bürgergemeinden, Gönnervereinigung, Sponsoren und nicht zuletzt von den Vereinen, konnte mit dem Bau begonnen werden. Alles was irgendwie möglich war realisierten die Schützenvereine im Frondienst. Nicht ohne Stolz konnten die vier Schützenvereine die wunderschöne Anlage ende Dezember 2009 ihrem Zweck übergeben.</p>
<p>Die Gönnervereinigung will nun der schiesssportbegeisterten Jugend optimale Bedingungen für die Ausübung dieses Sportes bieten. Sie fördert die Ausbildung von J&amp;S Leitern, sorgt für die Erhaltung der optimalen Infrastruktur, unterstützt die Nachwuchsarbeit, stellt Material zur Verfügung und finanziert Schiessbekleidung, Sportgeräte (Armbrüste und Druckluftstutzer), kurz alles was es für die Ausbildung für die Jugendlichen braucht.</p>
<p>Die Gönnervereinigung ist weiterhin auf Gönner und Sponsoren angewiesen, um dem Gedanken rund um die Nachwuchsförderung gerecht zu werden.</p>]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[Über die Gönnervereinigung Nachwuchs Erlenacker]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[Gönnervereinigung Nachwuchs Erlenacker, Schützenhaus Erlenacker, Jungschützen, Nachwuchs, Erlenacker Schützen, Indoor Schiessstand, 300m Schiessstand, 10m Schiessstand, 30m Schiessstand, Armbrust, Luftgewehr, Kleinkaliber, Sturmgewehr 90, Sturmgewehr 57, Ordonnanz, Standartgewehr, Sportgeräte, Neukirch an der Thur, Buhwil, Kradolf-Schönenberg, Jugendcup, Ferienpass, Meisterschaft, 7. Jugendcup]]></Value>
    </metaKeywords>
    <notClickable>
      <Value><![CDATA[0]]></Value>
    </notClickable>
    <redirectLink>
      <Value><![CDATA[]]></Value>
    </redirectLink>
    <searchEngineChangeFrequency>
      <Value><![CDATA[["yearly"]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.9]]></Value>
    </searchEngineRelativePriority>
    <title>
      <Value><![CDATA[Über uns]]></Value>
    </title>
  </Properties>
</Content>